{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check your answers - Merits
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "capital_restrictions_select"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <div class="govuk-accordion" data-module="accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Client details
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <dl class="app-check-your-answers app-check-your-answers--long" style="margin-bottom: 60px;">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            First name
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['firstname'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="client_details#firstname">
              Change <span class="govuk-visually-hidden">first name</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Last name
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['lastname'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="client_details#lastname">
              Change <span class="govuk-visually-hidden">last name</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Date of birth
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="client_details#dob-day">
              Change <span class="govuk-visually-hidden">dob</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            National Insurance number
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['national-insurance-number'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="client_details#national-insurance-number">
              Change <span class="govuk-visually-hidden">national insurance number</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Email address
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['email-address'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="client_details#national-insurance-number">
              Change <span class="govuk-visually-hidden">email address</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Correspondence address
          </dt>
          <dd class="app-check-your-answers__answer">
            1 Main Street<br/>London<br/>{{ data['postcode'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="postcode_finder#postcode">
              Change <span class="govuk-visually-hidden">correspondance address</span>
            </a>
          </dd>
        </div>
     </dl>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
           What you're covered for
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <dl class="app-check-your-answers app-check-your-answers--long" style="margin-bottom: 60px;">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Proceeding
          </dt>
          <dd class="app-check-your-answers__answer">
            Non-molestation order{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="search#search">
              Change <span class="govuk-visually-hidden">proceeding</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Form of service
          </dt>
          <dd class="app-check-your-answers__answer">
          Full representation{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
          <!--  <a href="search#search">
              Change <span class="govuk-visually-hidden">proceeding</span>
            </a> -->
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Costs you can incur
          </dt>
          <dd class="app-check-your-answers__answer">
            £5,000{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
          <!--  <a href="search#search">
              Change <span class="govuk-visually-hidden">proceeding</span>
            </a> -->
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Work you can do
          </dt>
          <dd class="app-check-your-answers__answer">
            Limited to all steps up to and including serving a final order. If your client breaches an order and they're arrested, you may represent them on the consideration of the court. You cannot apply for an arrest warrant or represent someone in contempt proceedings.
    {{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
          <!--  <a href="search#search">
              Change <span class="govuk-visually-hidden">proceeding</span>
            </a> -->
          </dd>
        </div>
        <!-- <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Delegated functions
          </dt>
          <dd class="app-check-your-answers__answer">
            No{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="search#search">
              Change <span class="govuk-visually-hidden">proceeding</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Client involvement type
          </dt>
          <dd class="app-check-your-answers__answer">
            Applicant{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="search#search">
              Change <span class="govuk-visually-hidden">proceeding</span>
            </a>
          </dd>
        </div> -->
     </dl>
    </div>
  </div>
</div>

        <h2 class="govuk-heading-m">
          Your client's financial situation
        </h2>

      <dl class="app-check-your-answers app-check-your-answers--long" style="margin-bottom: 60px;">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Does your client own the home they live in?
          </dt>
          <dd class="app-check-your-answers__answer">
            Yes, with a mortgage or loan{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            How much is your client's home worth?
          </dt>
          <dd class="app-check-your-answers__answer">
            £145,000{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            What is the outstanding mortgage on your client's home?
          </dt>
          <dd class="app-check-your-answers__answer">
            £127,345{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Does your client own their home with anyone else?
          </dt>
          <dd class="app-check-your-answers__answer">
            No, sole owner{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Does your client have any of the following accounts, savings or investments?
          </dt>
          <dd class="app-check-your-answers__answer">
            Savings account £1,234{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Does your client have any of the following assets?
          </dt>
          <dd class="app-check-your-answers__answer">
            -{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Do any of the following restrictions apply to your client's property or other assets?
          </dt>
          <dd class="app-check-your-answers__answer">
            -{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
     </dl>


    <!-- <h2 class="govuk-heading-m">Submit your details</h2>

      <p class="govuk-body">
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p> -->

      <a class="govuk-button" href="merits_start_page" role="button">
        Save and continue
      </a>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
        Save and come back later
      </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
  {{ govukFooter({
  meta: {
      items: [
        {
          href: "#",
          text: "Help"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Contact"
        },
        {
          href: "#",
          text: "Feedback"
        },
        {
          href: "#",
          text: "Terms and conditions"
        },
        {
          href: "https://mojdigital.blog.gov.uk/",
          text: "MOJ Digital Services"
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  }) }}
  {% endblock %}
