{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Client details
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "statement"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="children_add" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            Enter details of the children involved in this application
          </legend>

          <span class="govuk-hint">
            Add one child at a time. You can add more later.
          </span>

          <div class="govuk-form-group">
            <label class="govuk-label" for="dateofbirth">
              Full name
            </label>
            <input class="govuk-input govuk-!-width-three-quarters" autocomplete="off" id="firstname" name="firstname" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="dateofbirth">
              Date of birth
            </label>
            <span id="dob-hint" class="govuk-hint">
              For example, 31 3 1980.
            </span>
            <div class="govuk-date-input" id="dob">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" autocomplete="off" for="dob-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" autocomplete="off" for="dob-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" autocomplete="off" for="dob-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
          </div>

        </fieldset>
      </div>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
        Save and come back later
      </a>

    </form>
<a href="children_add_2" style="color:lightgray"> Skip to end of children</a>
  </div>
</div>

{% endblock %}
