{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}


    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sign in</h1>

        <p class="govuk-body">By signing in to the Legal Aid Agency portal you accept the <a href="#">terms and conditions</a>.</p>

        <fieldset class="govuk-fieldset">


          <div class="govuk-form-group">
            <label class="govuk-label" for="username">
            Username
          </label>
            <input class="govuk-input govuk-input--width-10" id="username" name="username" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="password">
            Password
          </label>
            <input class="govuk-input govuk-input--width-10" id="password" name="password" type="text">
          </div>

        </fieldset>



        <a href="/passported_v2/dashboard" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
  Sign in
</a>

<p class="govuk-body"><a href="#">Forgotten your password?</a></p>

      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Guidance
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="#">
                Terms and conditions
              </a>
              </li>
              <li>
                <a href="#">
                List of services
              </a>
              </li>
              <li>
                <a href="#">
                Help
              </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>
    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
