{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Property and mortgage
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "property"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="costs" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                Provide a statement of case
                </h1>
              </legend>

                <div class="govuk-!-padding-bottom-6"></div>

                <p class="govuk-body">We need to know:</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>what has happened in the case so far</li>
                  <li>about any other people involved and their relationship to your client</li>
                  <li>why the current proceedings are necessary</li>
                  <li>how many people you're representing</li>
                  <li>if anyone else might be able to fund the case</li>
                <!--  <li>any other information relevant to the case</li> -->
                </ul>



                <label class="govuk-heading-m">Attach a file</label>
              <!--  <span class="govuk-hint">
                  You can upload a file or type (or copy and paste) text into the text box.
                </span> -->
                          <div class="govuk-form-group">
                          <!--   <label class="govuk-label" for="file-upload-1">
                              Upload a file
                            </label> -->
                            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                          </div>
            </fieldset>
          </div>

        <!--  <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What counts as savings or investments?
              </span>
            </summary>
            <div class="govuk-details__text">
               <p class="govuk-body">We need to know if your client has:</p>
                 <ul class="govuk-list govuk-list--bullet">
               <li>bank, building society, Post Office or ISA accounts</li>
               <li>cash savings</li>
               <li>power of attorney, for example over a Junior ISA</li>
               <li>National Savings Certificates or Premium Bonds</li>
               <li>shares in a public limited company (PLC)</li>
               <li>personal equity plans (PEPs), unit trusts, capital bonds or government stocks</li>
               <li>life assurance or endowment policies not linked to a mortgage</li>
            </div>
          </details> -->
<p><a href="statement_enter">I want to type or paste my statement</a></p>
          <button type="submit" class="govuk-button">
            Save and continue
          </button>

          <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>
        </form>
      </div>
    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
