{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Property and mortgage
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "vehicles_date"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="bank_accounts" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Is the vehicle in regular use?
                </h1>
              </legend>


              <span class="govuk-hint">

              <!--  This means the vehicle is used for everyday things like shopping or driving children to school.<br>
                This means it is used at least once a fortnight for routine things like shopping or driving children to school.<br> -->
                This means the vehicle is used at least once every 2 weeks for things like work, shopping or driving children to school.
              <!--  'Regular use' includes common journeys like driving to the shops or taking children to school.<br>
                'Regular use' means the vehicle is used for everyday activities like driving to the shops or taking children to school.<br>
                <!--  I includes use by your client's partner (if they have one) -->
                </span>

              <div class="govuk-radios govuk-radios-">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="property-1" name="property" type="radio" value="yes" {{ checked("property","yes") }}>
                  <label class="govuk-label govuk-radios__label" for="capital-1">
                    Yes

                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="property-1" name="property" type="radio" value="yes" {{ checked("property","yes") }}>
                  <label class="govuk-label govuk-radios__label" for="capital-1">
                    No

                  </label>
                </div>


              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

         <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
              Save and come back later
            </a>

        </form>
      </div>
    </div>



{% endblock %}


