{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "provider_continue_application"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <!--  <p class="gov-body">
    <a href="outgoings">Go to outgoings</a>
    </p> -->
    <h1 class="govuk-heading-xl">Sort your client's income into categories</h1>

<!-- <p class="gov-body">
  Add payments your client received in the past 3 months to each category below. Select only the payments relevant to that category.
</p> -->

<p class="gov-body">You need to:
</p>
<ul class="govuk-list govuk-list--bullet">
<li>view your client's bank statements</li>
<li>add transactions to each category</li>
</ul>

 <ol class="app-task-list">
   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">1. </span> Benefits
  <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">
      Add transactions that have not been automatically identified here.
       </span>
     </h2>
     <ul class="app-task-list__items">
       <table class="govuk-table" style="margin-bottom:0px;">
         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="col">Date</th>
             <th class="govuk-table__header" scope="col">Description</th>
             <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>
             <th class="govuk-table__header" scope="col"></th>
           </tr>
         </thead>
       <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">25 Nov 2020</td>
           <td class="govuk-table__cell">Child Benefit</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£225.00</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
             Remove
           </a></td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">25 Oct 2020</td>
           <td class="govuk-table__cell">Child Benefit</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£225.00</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
             Remove
           </a></td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">25 Sep 2020</td>
           <td class="govuk-table__cell">Child Benefit</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£225.00</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
             Remove
           </a></td>
         </tr>
         </tbody>
         </table>
       <li class="app-task-list__item">
         <a class="govuk-body" href="benefits_list" aria-describedby="eligibility-completed">
           View statements and add transactions
         </a>
       </li>
     </ul>
   </li>

   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number"></span> Disregarded benefits
     <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">
           Add transactions that have not been automatically identified here.
       </span>
     </h2>
     <ul class="app-task-list__items">
       <table class="govuk-table" style="margin-bottom:0px;">
         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="col">Date</th>
             <th class="govuk-table__header" scope="col">Description</th>
             <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>
             <th class="govuk-table__header" scope="col"></th>
           </tr>
         </thead>
       <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">4 Nov 2020</td>
           <td class="govuk-table__cell">Carer’s Allowance</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£118.00</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
             Remove
           </a></td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">4 Oct 2020</td>
           <td class="govuk-table__cell">Carer’s Allowance</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£118.00</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
             Remove
           </a></td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">4 Sep 2020</td>
           <td class="govuk-table__cell">Carer’s Allowance</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£118.00</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
             Remove
           </a></td>
         </tr>
         </tbody>
         </table>
       <li class="app-task-list__item">
         <a class="govuk-body" href="disregarded_benefits_list" aria-describedby="eligibility-completed">
           View statements and add transactions
         </a>
       </li>
     </ul>
   </li>

   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">2. </span> Help from friends or family
     </h2>
     <ul class="app-task-list__items">
       <li class="app-task-list__item">
         <a class="govuk-body" href="financial_help_list" aria-describedby="eligibility-completed">
           View statements and add transactions <!-- Select payments from your bank statement -->
         </a>
       </li>
     </ul>
   </li>

   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number"> <img src="/public/images/plus_icon.svg"> </span> <a class="govuk-body" href="types_of_income_provider" aria-describedby="eligibility-completed">
         Add or remove an income category
       </a>
     </h2>
   </li>
   <!-- <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">  <img src="/public/images/plus_icon.svg"> </span> <a  href="#" aria-describedby="eligibility-completed">
         Add another type of income
       </a>
     </h2>
   </li> -->
 </ol>

<div class="govuk-!-padding-bottom-2"></div>

 <hr>

  <div class="govuk-!-padding-bottom-4"></div>

 <h1 class="govuk-heading-m">Student loan, grant or bursary

 <span class="govuk-hint">Your client told us they received the following amount of student finance. You do not need to categorise this if it appears on their bank statements.</span>
 </h1>

 <p class="gov-body">£9,800 this academic year
 </p>
 <div class="govuk-!-padding-bottom-4"></div>
        <a href="cash_in" role="button" class="govuk-button">
          Save and continue
        </a>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
