{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Does your client use online banking
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You have added 1 proceeding</h1>

    <div class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">A Public Law Family proceeding name</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="remove_non_mol">
            Remove<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </div>

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Do you want to add another proceeding?
      </h2>
    </legend>
    <div class="govuk-inset-text">
      You can only add another Public Law Family proceeding.
    </div>

    <form action="" method="post" class="form">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-1" name="attempts-to-settle" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-1" {{ checked("attempts-to-settle","yes") }}>
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                Yes
              </label>
            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="attempts-to-settle" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("attempts-to-settle","no") }}>
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                No
              </label>

            </div>

            <br><br>

            <button type="submit" class="govuk-button">
              Save and continue
            </button>

            <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
              Save and come back later
            </a>

          </form>
        </div>
      </div>

      <a href="search" style="color:grey">Yes add another</a>
      </br></br>
      <a href="client_involvement_type" style="color:grey">No continue</a>


      {% endblock %}
