{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Confirmation page
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "online_banking_radios"
}) }}

{% endblock %}

{% block content %}


  <div class="flash-card">
    <header>
      <h1 class="govuk-heading-l">You need to continue this application in CCMS</h1>
    </header>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ul class="how-to-renew" data-id="how-to-renew-uk">
          <li>

          <!--  <h2 class="govuk-heading-m">Your client's benefits status</h2> -->
         <p style="color: #fff;">Your client must use online banking so they can share their bank transactions with us.</p>

         <p style="color: #fff;">We've saved the details you already entered.</p>


        <!--  <ul class="govuk-list govuk-list--bullet">
            <li style="color: #fff;">Employment and Support Allowance (ESA)</li>
            <li style="color: #fff;">Income Support</li>
            <li style="color: #fff;">Jobseeker’s Allowance (JSA)</li>
            <li style="color: #fff;">Pension Credit (Guarantee Credit)</li>
            <li style="color: #fff;">Universal Credit</li>
            </ul>
          </li>
        </ul>

<p style="color: #fff;">We currently only accept applications for people receiving one of these benefits.</p> -->

        <div class="govuk-!-padding-bottom-4"></div>

        <a href="#" role="button" class="govuk-button white-button right">
          Continue in CCMS</a>
      <!--  <a href=#" role="button" class="govuk-button draft-button">
          Save and come back later
        </a> -->

        <p style="color: #fff;"><a href="#">Back to my applications</a></p>

      </div>



{% endblock %}


