{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Does your client use online banking
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "start_page"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="bank_select" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Do you agree to share your bank account details with the LAA via TrueLayer?
                </h1>
              </legend>



          <!--    <p class="govuk-body">We need your permission to view your bank transactions from the past 3 months.</p> -->

              <div class="govuk-inset-text">
                We only use your financial information to support your legal aid application. We do not use it for anything else.
              </div>


            <!--  <ul class="govuk-list govuk-list--bullet">
                <li>your bank </li>
                <li>regular payments you make</li>
              </ul> -->




             <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What information will TrueLayer be able to see?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">
      TrueLayer will be able to see your:</p>

<ul class="govuk-list govuk-list--bullet">
<li>account details (for example, your full name and address)</li>
<li>bank statements and transaction details</li>
<li>account balances</li>
<li>Direct Debits and standing orders</li>
</ul>

    <p class="govuk-body">TrueLayer will not:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>have access to your online banking username and password</li>
      <li>share your bank account details with anyone other than the LAA</li>
    <li>have any ongoing access to your bank account</li>
    </ul>
  </div>
</details>


              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="onlinebank-1" name="onlinebank" type="radio" value="yes" {{ checked("online-banking","yes") }}>
                  <label class="govuk-label govuk-radios__label" for="onlinebank-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="onlinebank-2" name="onlinebank" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("online-banking","no") }}>
                  <label class="govuk-label govuk-radios__label" for="onlinebank-2">
                    No
                  </label>
                </div>
              <!--  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2" style="padding-top:15px;">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="onlinebank-2">
                    <!-- You cannot use this service to complete the financial assessment if you do not share your bank transactions with us.
                    Your solicitor will need to complete the financial assessment if you do not share your bank transactions with us
                    You'll need to contact your solicitor who will continue your legal aid application.
                    You cannot use this service if you do not share your bank account information with us.<br><br>
                    You'll need to contact your solicitor to continue your application.
                    </label>
                  </div>
                </div> -->
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>

        <!--  <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a> -->
        </form>

      </div>

    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
