{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid -
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "student_loan"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="types_of_outgoing" method="get" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  How much student finance will you get this academic year?
                </h1>
              </legend>

             <span id="dob-hint" class="govuk-hint">
                Check your student finance entitlement letter.
              </span>

              <div class="govuk-!-padding-bottom-4"></div>

      <!--  <h2 class="govuk-heading-m">Enter the estimated value of your home</h2> -->

      <label class="govuk-label" for="event-name">
    Total amount
  </label>
  <!-- <span id="event-name-hint" class="govuk-hint">
    Hint text
  </span> -->


        <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
        <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="costs" name="costs" type="text" value="{{ data['costs'] }}">
      </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>



    </form>
  </div>
</div>

{% endblock %}


