{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check your answers - Merits
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "prospects_of_success"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">Dependant 1</h2>
</div>
<div class="govuk-grid-column-one-third">
  <p><a class="govuk-link" style="float:right;" href="/team_folders/jim/dependants/v4/remove_jane">Remove dependant</a></p>
</div>
</div>

<!-- <dl class="app-check-your-answers app-check-your-answers--long">
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Do you have any dependants?
    </dt>
    <dd class="app-check-your-answers__answer">
      Yes{{ data['...'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/team_folders/jim/dependants/v4/dependants">
        Change <span class="govuk-visually-hidden">blank</span>
      </a>
    </dd>
  </div>
       </dl> -->

       <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
           Name
         </dt>
         <dd class="govuk-summary-list__value">
           Jane Doe
         </dd>
         <dd class="govuk-summary-list__actions">
           <a href="/team_folders/jim/dependants/v4/dependant_one_age">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>

       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Date of birth
         </dt>
        <dd class="govuk-summary-list__value">
           12 October 2001
         </dd>
         <dd class="govuk-summary-list__actions">
           <a href="/team_folders/jim/dependants/v4/dependant_one_age">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>

       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Your relationship
         </dt>
         <dd class="govuk-summary-list__value">
           They're a child relative{{ data['...'] }}
         </dd>
         <dd class="govuk-summary-list__actions">
           <a href="/team_folders/jim/dependants/v4/dependant_over_16_child">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>

       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           In full-time education or training
         </dt>
        <dd class="govuk-summary-list__value">
           No{{ data['...'] }}
         </dd>
         <dd class="govuk-summary-list__actions">
           <a href="/team_folders/jim/dependants/v4/dependant_over_16_education">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>

       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Income
         </dt>
         <dd class="govuk-summary-list__value">
           None
         </dd>
         <dd class="govuk-summary-list__actions">
           <a href="/team_folders/jim/dependants/v4/dependant_over_16_income">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>
    </dl>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Dependant 2</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <p><a class="govuk-link" style="float:right;" href="/team_folders/jim/dependants/v4/remove_joe">Remove dependant</a></p>
    </div>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
         Name
       </dt>
      <dd class="govuk-summary-list__value">
         Joe Doe
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="/team_folders/jim/dependants/v4/dependant_two_age">
           Change <span class="govuk-visually-hidden">blank</span>
         </a>
       </dd>
     </div>

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Date of birth
       </dt>
      <dd class="govuk-summary-list__value">
         10 May 1967
       </dd>
        <dd class="govuk-summary-list__actions">
         <a href="/team_folders/jim/dependants/v4/dependant_two_age">
           Change <span class="govuk-visually-hidden">blank</span>
         </a>
       </dd>
     </div>

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Your relationship
       </dt>
      <dd class="govuk-summary-list__value">
         They're an adult relative{{ data['...'] }}
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="/team_folders/jim/dependants/v4/dependant_over_16_adult">
           Change <span class="govuk-visually-hidden">blank</span>
         </a>
       </dd>
     </div>

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Income
       </dt>
      <dd class="govuk-summary-list__value">
        £1,100
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="/team_folders/jim/dependants/v4/dependant_over_16_adult_income">
           Change <span class="govuk-visually-hidden">blank</span>
         </a>
       </dd>
     </div>

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Assets worth more than £8,000
       </dt>
      <dd class="govuk-summary-list__value">
         £9,210{{ data['...'] }}
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="/team_folders/jim/dependants/v4/dependant_over_16_adult_capital">
           Change <span class="govuk-visually-hidden">blank</span>
         </a>
       </dd>
     </div>
  </dl>

  <p class="govuk-body"><a href="dependant_three_age">Add another dependant</a></p>

<div class="govuk-!-padding-bottom-6"></div>

      <a class="govuk-button" href="declaration" role="button">
        Save and Continue
      </a>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
         Save and come back later
       </a>

    </div>
  </div>


  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
