{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Types of income
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "income"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="income" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Which types of income do you receive?
                </h1>
              </legend>

               <span class="govuk-hint">Select all that apply.</span>

              <div class="govuk-checkboxes" data-module="checkboxes">

              <!--  <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="income-conditional-1" name="salary" type="checkbox" value="yes" data-aria-controls="income-conditional-1" {{ checked("salary","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="income-conditional-1">
                    Salary or wages
                  </label>
                </div> -->

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="income-conditional-2" name="benefits" type="checkbox" value="yes" data-aria-controls="income-conditional-2" {{ checked("benefits","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="income-conditional-2">
                    Benefits
                  </label>
               <span id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">
                      For example, Universal Credit or Child Benefit.
                  </span>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="income-conditional-7" name="financial_help" type="checkbox" value="yes" data-aria-controls="income-citizenship-conditional-7" {{ checked("financial_help","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="income-conditional-7">
                    Financial help from friends or family
                  </label>
                  <span id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">
                      For example, money from a family member for rent or bills.
                  </span>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="income-conditional-3" name="maintenance" type="checkbox" value="yes" data-aria-controls="income-conditional-3" {{ checked("maintenance","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="income-conditional-3">
                    Maintenance payments <!-- for you or your children -->
                  </label>
                <!--  <span id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">
                      For example, payments from an ex-partner to you or any children
                  </span> -->
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="income-conditional-4" name="property" type="checkbox" value="yes" data-aria-controls="income-citizenship-conditional-4" {{ checked("property","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="income-conditional-4">
                    Income from a property or lodger
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="income-conditional-5" name="student-loan" type="checkbox" value="yes" data-aria-controls="income-citizenship-conditional-5" {{ checked("student-loan","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="income-conditional-5">
                     Student loan or grant
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="income-conditional-6" name="pensions" type="checkbox" value="yes" data-aria-controls="income-citizenship-conditional-6" {{ checked("policies","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="income-conditional-6">
                     Pension
                  </label>
                <span id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">
                      Include State, workplace and personal pensions.
                  </span>
                </div>
             <p class="govuk-body">or</p>


                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="income-conditional-8" name="estates" type="checkbox" value="yes">
                  <label class="govuk-label govuk-checkboxes__label" for="income-conditional-8">
                    <!-- I receive none of these types of income --> None of these
                  </label>
                </div>
              </div>



            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

        <!--  <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a> -->

        </form>
      </div>
    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
