<div class="govuk-grid-column-one-third" style="position:sticky; top:104px; margin-top:3px">

  <!-- The aside profile component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->


  <aside class="app-related-items" role="complementary">
    <span class="govuk-caption-l govuk-!-margin-bottom-3" id="subsection-title">
      Application summary
    </span>
    <div class="govuk-body-s govuk-!-margin-bottom-0">Name</div>
    <div class="govuk-body govuk-!-font-weight-bold">John  Doe</div>
    <div class="govuk-body-s govuk-!-margin-bottom-0">Case reference</div>
    <div class="govuk-body govuk-!-font-weight-bold">2018/LAA/4ewrqfdd</div>
    <div class="govuk-body-s govuk-!-margin-bottom-0">Proceeding</div>
    <div class="govuk-body govuk-!-font-weight-bold">Non-molestation order</div>
    <div class="govuk-body-s govuk-!-margin-bottom-0">Legal aid support status</div>
    <div class="govuk-body govuk-!-font-weight-bold">Passported</div>
    <div class="govuk-body-s govuk-!-margin-bottom-0">Delegated functions</div>
    <div class="govuk-body govuk-!-font-weight-bold">Notifed MM/DD/YYYY</div>


</aside>

</div>
