
 <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]">

  <div class="govuk-cookie-banner__message govuk-width-container" role="alert">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">You’ve accepted analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <a type="button" href="dashboard_no_cookies" class="govuk-button" data-module="govuk-button">
        Hide this message
      </a>
    </div>
  </div>

  <div class="govuk-cookie-banner__message govuk-width-container" role="alert" hidden>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Hide this message
      </button>
    </div>
  </div>
</div>

