<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/govuk-frontend/govuk/all.js"></script>
<script src="/node_modules/@ministryofjustice/frontend/moj/all.js"></script>
<script src="/public/javascripts/application.js"></script>
{% if data['validation-on'] == true %}
<script src="/public/javascripts/validation.js"></script>
{% endif %}

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
<script>
$( document ).ready(function() {

   // button to close the full-width filter
    $('#hide-filter-btn').click((e) => {
      $('.moj-action-bar__filter').find('button').click()
    })

    new MOJFrontend.FilterToggleButton({
      bigModeMediaQuery: "(min-width: 48.063em)",
      startHidden: true,
      toggleButton: {
        container: $(".moj-action-bar__filter"),
        showText: "Show filter",
        hideText: "Hide filter",
        classes: "govuk-button--secondary",
      },
      closeButton: {
        container: $(".moj-filter__header-action"),
        text: "Close",
      },
      filter: {
        container: $(".moj-filter"),
      },
    });

    // multi file upload component
    if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
      new MOJFrontend.MultiFileUpload({
        container: $(".moj-multi-file-upload"),
        uploadUrl: "/ajax-upload",
        deleteUrl: "/ajax-delete",
      });
    }

    //none of the above code
    let restoreArray = [];
    $("#none-of-above").click(function(){
      if ($(this).is(':checked')) {
        $("input:checked").each(function(){
          $(this).click();
          restoreArray .push($(this).not("#none-of-above"));
        });
        $(this).prop("checked",true);
      } else {
        $.each(restoreArray, function(index,item){
          item.not("#none-of-above").click();
        });
        restoreArray = [];
      }
    });
    $("input:not(#none-of-above):not(:checked)").click(function(){
      if ($("#none-of-above").is(":checked")) {
        restoreArray = [];
        $("#none-of-above:checked").click();
      }
    });

	if ($(".selectClearAll").length) {
		function resetSelectClear(table) {
			if ((table.find("input:checked")).length>0) {
				table.find(".selectAll").removeClass("selectAll").addClass("clearAll").text("Clear All");
			} else {
				table.find(".clearAll").removeClass("clearAll").addClass("selectAll").text("Select All");
			}

		}

		$(".selectClearAll").click(function(){
			var table = $(this).parents("table");
			if($(this).hasClass("clearAll")) {
				table.find("input:checked").trigger("click");
				return false;
			} else if ($(this).hasClass("selectAll")) {
				table.find("input:not(:checked)").trigger("click");
				return false;
			}
		});
		$("table input").click(function(){
			var table = $(this).parents("table");
			resetSelectClear(table)
		});

		$(".selectClearAll").ready(function(){
			var table = $(this).parents("table");
			resetSelectClear(table)
		});

	}

});
	$( document ).ready(function() {

    //remove (both methods)
    $("[href=client_details#firstname]:not(.removeA>a)").click(function(){
      $(this).parents("tr").css("height",$(this).parents("tr").height());
      $(this).parents("tr").children("td").css("display","none");
      $(this).parents("tr").slideUp();
    //  $(this).parents("tr").fadeOut(800);
    //  $(this).parents("tr").css("display","none");
      return false;
    });
  //  $(".removeB").click(function(){
   //   $(this).parents("tr").css("display","none");
    //  return false;
    //});
    $(".removeA").click(function(){
      if($(this).attr("colspan") == 4) {
        //undo
        $(this).parents("tr").children("td").css("display","table-cell");
        $(this).attr("colspan","1");
        $(this).children("a").text("Remove");
      } else {
        //redo
        $(this).parents("tr").children("td:not(.removeA)").css("display","none");
        $(this).attr("colspan","4");
        $(this).children("a").text("Undo");
      }
      return false;
    });




		if ($(".sortableTable")) {
			function dateorder(x) {
				var xarray = x.split(/[\/\-\s]+/i);
				var dayNumber;
				var monthNumber;
				var yearNumber;

				if (Number(xarray[2])<100 && Number(xarray[0])>100) {
					dayNumber = xarray[2];
					yearNumber = xarray[0];
				} else {
					dayNumber = xarray[0];
					yearNumber = xarray[2];
				}

				if (isNaN(xarray[1])){
					monthNumber = ({
						"JAN"  : 01,
						"FEB"  : 02,
						"MAR"  : 03,
						"APR"  : 04,
						"MAY"  : 05,
						"JUN"  : 06,
						"JUL"  : 07,
						"AUG"  : 08,
						"SEP"  : 09,
						"OCT"  : 10,
						"NOV"  : 11,
						"DEC"  : 12
					})[xarray[1].substring(0,3).toUpperCase()];
				} else {
					monthNumber = xarray[1];
				}

				if (isNaN(dayNumber) ) dayNumber = 0;
				if (isNaN(monthNumber) ) monthNumber = 0;
				if (isNaN(yearNumber) ) yearNumber = 0;

				var order = yearNumber*10000 + monthNumber*100 + parseInt(dayNumber);

				return order;

			}

      //JS for AP-404
      $(".tickboxTable.sortableTable th").attr("aria-hidden","false"); //this removes aria-hidden = true for sortable tables, so a screen reader can detect them and the user can therefore sort them
/*      $(".tickboxTable label").each(function(){
        //removes any current text (initially blank anyway)
        $(this).text("");
        //replaces with a cocktail of text from the other table cells
        var screenReaderContent = $(this).parents("tr").children("td:nth-child(3)").text() + " for " + $(this).parents("tr").children("td:nth-child(4)").text() + " of " + $(this).parents("tr").children("td:nth-child(2)").text();
        console.log(screenReaderContent);
        $(this).text(screenReaderContent);
      });*/
      //End of JS for AP-404


			//var table = $('table.sorting');
			var table;
      $('th.dateSort, th.textSort, th.numberSort')
					.wrapInner('<span class="sortableColumn" title="sort this column"/>')
					.prepend('<span class="govuk-visually-hidden">Click to sort by </span>')
					.each(function(){

							var th = $(this),
									thIndex = th.index(),
									inverse = false;

							th.attr("tabindex","0");

							th.on("keypress click",function(){

								table = th.parents("table");

								th.parent().children().removeClass("headerSortUp headerSortDown")

								if (inverse) {
									th.addClass("headerSortUp")
								} else {
									th.addClass("headerSortDown")
								}

								table.find('td').filter(function(){

											return $(this).index() === thIndex;

									}).sortElements(function(a, b){

											if( $.text([a]) == $.text([b]) )
													return 0;

											if(th.hasClass( "numberSort" )) {

								return Number($.text([a]).replace(/[^0-9.-]+/g,"")) > Number($.text([b]).replace(/[^0-9.-]+/g,"")) ?
									inverse ? -1 : 1
									: inverse ? 1 : -1;

							} else if(th.hasClass( "dateSort" )){

								return dateorder($.text([a])) > dateorder($.text([b])) ?
									inverse ? -1 : 1
									: inverse ? 1 : -1;

							} else {

								return $.text([a]) > $.text([b]) ?
									inverse ? -1 : 1
									: inverse ? 1 : -1;
							}

									}, function(){

											// parentNode is the element we want to move
											return this.parentNode;

									});

									inverse = !inverse;

							});

					});

			jQuery.fn.sortElements = (function(){

					var sort = [].sort;

					return function(comparator, getSortable) {

							getSortable = getSortable || function(){return this;};

							var placements = this.map(function(){

									var sortElement = getSortable.call(this),
											parentNode = sortElement.parentNode,

											// Since the element itself will change position, we have
											// to have some way of storing it's original position in
											// the DOM. The easiest way is to have a 'flag' node:
											nextSibling = parentNode.insertBefore(
													document.createTextNode(''),
													sortElement.nextSibling
											);

									return function() {

											if (parentNode === this) {
													throw new Error(
															"You can't sort elements if any one is a descendant of another."
													);
											}

											// Insert before flag:
											parentNode.insertBefore(this, nextSibling);
											// Remove flag:
											parentNode.removeChild(nextSibling);

									};

							});

							return sort.call(this, comparator).each(function(i){
									placements[i].call(getSortable.call(this));
							});

					};

			})();
		}
	});
</script>
