{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
  Apply for legal aid
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-padding-top-4"></div>
          <h1 class="govuk-heading-xl">Your legal aid applications</h1>
            <h3 class="govuk-heading-m">Make a new application</h3>
            <p>
              Tell us the basic case details and see if your client’s benefits or income qualifies for legal aid.
            </p>

            <a href="/search" class="govuk-button govuk-button--start">
              Start now
            </a>

          <!--<div class="govuk-grid-column-one-third govuk-!-padding-left-9">
          <a href="#" role="button" class="govuk-button govuk-button--start">
            Start a new application
          </a>

          <a href="/category_of_law_radios" role="button" class="govuk-button">
            Start a new application
          </a>
              <p class="govuk-body">Space for text...</p>
        </div>-->
  </div>
</div>

    <div class="govuk-!-padding-bottom-8"></div>
<h3 class="govuk-heading-m">Current applications</h3>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Client's name</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Date started</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Case reference</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="application_page">{{ data['firstname'] }} {{ data['lastname'] }}</a></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">23/10/2018</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag">Application complete</strong></td>
        </tr>
      </tbody>
    </table>

    <!-- <div>
<nav class="pagination" style="float: right;">

<span class="page current">
1
</span>

<span class="page">
<a rel="next" href="#">2</a>
</span>

<span class="page">
<a href="#">3</a>
</span>

<span class="page">
<a href="#">4</a>
</span>

<span class="page gap">
…
</span>

<span class="next">
<a rel="next" href="#">Next</a>
</span>

<span class="last">
<a href="#">Last</a>
</span>

</nav>
</div> -->

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
