{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check client financial assessment
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "applicant_type"
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Your client has completed their financial assessment
        </h1>


        <p>Client: <strong>John Doe</strong>
          <br>Case reference: <strong>2018/LAA/4ewrqfdd</strong>

<p class="govuk-body">You can review their answers and make corrections before their application is submitted.</p>

          <table class="govuk-table" style="
          margin-bottom: 10px;
          padding-bottom: 0px">
              <h2 class="govuk-heading-l">Income</h2>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Salary or wages</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">Declared</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Benefits</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" >Declared</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Maintenance payments</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" >None declared</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Income from a property or lodger</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" >None declared</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Student loan or grant</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" >None declared</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Pensions</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" >None declared</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Financial help from friends or family</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" >None declared</td>
                  </tr>
                </tbody>
              </table>

                <p><a href="clients_income" style="float:right; padding-bottom: 30px;">View full list of incoming transactions</a></p>
<div class="govuk-!-padding-bottom-8"></div>

              <table class="govuk-table" style="
                margin-bottom: 10px;
                padding-bottom: 0px">
                <h2 class="govuk-heading-l">Outgoings</h2>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Rent or mortgage</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">Declared</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Council tax</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">None declared</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Childcare costs to a nursery or registered provider</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">None declared</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Maintenance payments</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">None declared</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Existing legal aid contributions</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">None declared</td>
                  </tr>
                </tbody>
              </table>

              <p><a href="clients_outgoings" style="float:right; padding-bottom: 30px;">View full list of outgoing transactions</a></p>
<div class="govuk-!-padding-bottom-8"></div>

              <h2 class="govuk-heading-l">Capital</h2>

              <h2 class="govuk-heading-m">
                Property
              </h2>

            <dl class="app-check-your-answers app-check-your-answers--long" style="margin-bottom: 60px;">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__answer">
                  Property owned
                </dt>
                <dd class="app-check-your-answers__answer">
                  Yes, owned outright
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="property">
                    Change <span class="govuk-visually-hidden">blank</span>
                  </a>
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__answer">
                  Property value
                </dt>
                <dd class="app-check-your-answers__answer">
                  £145,000.00
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="#">
                    Change <span class="govuk-visually-hidden">blank</span>
                  </a>
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__answer">
                  Outstanding mortgage amount
                </dt>
                <dd class="app-check-your-answers__answer">
                  £127,345.00
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="#">
                    Change <span class="govuk-visually-hidden">blank</span>
                  </a>
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__answer">
                  Owned with anyone else
                </dt>
                <dd class="app-check-your-answers__answer">
                  Yes, a friend, family member or other individual
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="#">
                    Change <span class="govuk-visually-hidden">blank</span>
                  </a>
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__answer">
                  Percent owned
                </dt>
                <dd class="app-check-your-answers__answer">
                  40.00%
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="#">
                    Change <span class="govuk-visually-hidden">blank</span>
                  </a>
                </dd>
              </div>
           </dl>

             <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">
             <h2 class="govuk-heading-m">Savings and investments</h2>
             </div>
             <div class="govuk-grid-column-one-third">
               <p><a class="govuk-link" style="float:right;" href="savings_investments">Change</a></p>
             </div>
             </div>

             <table class="govuk-table">
                 <tbody class="govuk-table__body">
                   <tr class="govuk-table__row">
                     <th class="govuk-table__cell govuk-body" scope="row">Post Office, ISAs and other savings accounts</th>
                         <td class="govuk-table__cell govuk-table__cell--numeric">£535.72</td>
                     </tr>
                   </tbody>
                 </table>

                 <div class="govuk-!-padding-bottom-6"></div>

                 <div class="govuk-grid-row">
                   <div class="govuk-grid-column-two-thirds">
                 <h2 class="govuk-heading-m">Other assets</h2>
                 </div>
                 <div class="govuk-grid-column-one-third">
                   <p><a class="govuk-link" style="float:right;" href="other_capital">Change</a></p>
                 </div>
                 </div>

                 <table class="govuk-table">
                     <tbody class="govuk-table__body">
                       <tr class="govuk-table__row">
                         <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home estimated value</th>
                             <td class="govuk-table__cell govuk-table__cell--numeric">£67,535.72</td>
                         </tr>
                       </tbody>
                     </table>

             <div class="govuk-!-padding-bottom-6"></div>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">Do any restrictions apply?</h2>
              </div>
              <div class="govuk-grid-column-one-third">
                <p><a class="govuk-link" style="float:right;" href="capital_restrictions">Change</a></p>
              </div>
              </div>

              <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__cell govuk-body" scope="row">Repossession or deferred interest in a property</th>
                          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="govuk-!-padding-bottom-6"></div>

              <a role="button" href="injunction" class="govuk-button">
                 Save and continue
               </a>

             <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
                Save and come back later
              </a>
    </div>
  </div>


  {% endblock %}

  {% block footer %}
  {{ govukFooter({
  meta: {
      items: [
        {
          href: "#",
          text: "Help"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Contact"
        },
        {
          href: "#",
          text: "Feedback"
        },
        {
          href: "#",
          text: "Terms and conditions"
        },
        {
          href: "https://mojdigital.blog.gov.uk/",
          text: "MOJ Digital Services"
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  }) }}
  {% endblock %}
