{% extends "layout.html" %}

{% block pageTitle %}
Apply for legal aid - Your applications
{% endblock %}

{% block serviceNavigation %}
    {{ govukServiceNavigation({
      serviceName: "Apply for civil legal aid",
      serviceUrl: "/new_app_to_DWP/dashboard",
      navigation: [
    {
      href: "#",
      text: "Your applications",
      active: true
    },
    {
      href: "#",
      text: "Search"
    }
  ]
    }) }}
  {% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}


{% endblock %}

{% block content %}

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      You have 1 returned initial application
      <a class="govuk-notification-banner__link" href="#">View returned initial applications</a>.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Special Children's Act applications</h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Make a new application
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Make a claim
  </button>
</div>

  </div>

</div>


<nav class="moj-sub-navigation" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="dashboard_in_progress">
        In progress
        <span class="moj-notification-badge">
          <span aria-hidden="true">1</span>
          <span class="govuk-visually-hidden">1 item in progress</span>
        </span>
      </a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="#submitted">Submitted</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" aria-current="page" href="#decided">Decided</a>
    </li>

  </ul>
</nav>



<table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Start date</th>
      <th scope="col" class="govuk-table__header"> Reference number</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Decision</th>
      <th scope="col" class="govuk-table__header"> Action</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">


    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#3">Michael Norris</a></td>
      <td class="govuk-table__cell" data-sort-value="5642">4 Sept 2024</td>
      <td class="govuk-table__cell">L-NU9-PO4</td>
      <td class="govuk-table__cell" data-sort-value="1913">
        <strong class="govuk-tag govuk-tag--green">
        Granted
        </strong>
      </td>
      <td class="govuk-table__cell"><a href="#">Manage</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#12">Louise Bevan</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">27 Aug 2024</td>
      <td class="govuk-table__cell">L-YU5-UY3</td>
      <td class="govuk-table__cell" data-sort-value="1913">
        <strong class="govuk-tag govuk-tag--green">
        Granted
        </strong>
      </td>
      <td class="govuk-table__cell"><a href="#">Manage</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#13">James Long</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">23 Aug 2024</td>
      <td class="govuk-table__cell">L-II7-HN6</td>
      <td class="govuk-table__cell" data-sort-value="1913">
        <strong class="govuk-tag govuk-tag--red">
        Refused
        </strong>
      </td>
      <td class="govuk-table__cell"><a href="#">Manage</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#14">Megan Davies</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">23 Aug 2024</td>
      <td class="govuk-table__cell">L-PL9-NN3</td>
      <td class="govuk-table__cell" data-sort-value="1913">
        <strong class="govuk-tag govuk-tag--red">
        Refused
        </strong>
      </td>
      <td class="govuk-table__cell"><a href="#">Manage</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#15">Holly Matthews</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">23 Aug 2024</td>
      <td class="govuk-table__cell">L-WM0-XZ5</td>
      <td class="govuk-table__cell" data-sort-value="1913">
        <strong class="govuk-tag govuk-tag--green">
        Granted
        </strong>
      </td>
      <td class="govuk-table__cell"><a href="#">Manage</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#16">Benjamin McAvon</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">22 Aug 2024</td>
      <td class="govuk-table__cell">L-CC7-OO9</td>
      <td class="govuk-table__cell" data-sort-value="1913">
        <strong class="govuk-tag govuk-tag--red">
        Refused
        </strong>
      </td>
      <td class="govuk-table__cell"><a href="#">Manage</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#17">Anthony Wright</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">16 Aug 2024</td>
      <td class="govuk-table__cell">L-TT1-HJ8</td>
      <td class="govuk-table__cell" data-sort-value="1913">
        <strong class="govuk-tag govuk-tag--green">
        Granted
        </strong>
      </td>
      <td class="govuk-table__cell"><a href="#">Manage</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#18">Samantha Sawyer</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">15 Aug 2024</td>
      <td class="govuk-table__cell">L-KN5-BC1</td>
      <td class="govuk-table__cell" data-sort-value="1913">
        <strong class="govuk-tag govuk-tag--red">
        Refused
        </strong>
      </td>
      <td class="govuk-table__cell"><a href="#">Manage</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#19">Amy Cartwright</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">15 Aug 2024</td>
      <td class="govuk-table__cell">L-MM7-PP9</td>
      <td class="govuk-table__cell" data-sort-value="1913">
        <strong class="govuk-tag govuk-tag--red">
        Refused
        </strong>
      </td>
      <td class="govuk-table__cell"><a href="#">Manage</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#20">Kelly Cartwright</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">2 Aug 2024</td>
      <td class="govuk-table__cell">L-KJ3-AS4</td>
      <td class="govuk-table__cell" data-sort-value="1913">
        <strong class="govuk-tag govuk-tag--green">
        Granted
        </strong>
      </td>
      <td class="govuk-table__cell"><a href="#">Manage</a></td>
    </tr>

  </tbody>
</table>




<p class="moj-pagination__results" style="float:right"> Showing <b>1</b> to <b>10</b> of <b>44</b> results</p>

<nav class="govuk-pagination" aria-label="Pagination">

<ul class="govuk-pagination__list">
  <li class="govuk-pagination__item govuk-pagination__item--current">
    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
      1
    </a>
  </li>
  <li class="govuk-pagination__item">
    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
      2
    </a>
  </li>
  <li class="govuk-pagination__item">
    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
      3
    </a>
  </li>
</ul>
<div class="govuk-pagination__next">
  <a class="govuk-link govuk-pagination__link" href="#" rel="next">
    <span class="govuk-pagination__link-title">
      Next<span class="govuk-visually-hidden"> page</span>
    </span>
    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
      <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
    </svg>
  </a>
</div>
</nav>







        {% endblock %}
