{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "provider_continue_application"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <!--  <p class="gov-body">
    <a href="outgoings">Go to outgoings</a>
    </p> -->
    <h1 class="govuk-heading-xl">Sort your client's transactions into categories</h1>

<!-- <p class="gov-body">
  Add payments your client received in the past 3 months to each category below. Select only the payments relevant to that category.
</p>

<p class="gov-body">
You client said they receive the types of income listed below.</p> -->

<p class="gov-body">You need to:
</p>
<ul class="govuk-list govuk-list--bullet">
<li>go through your client's transactions from the past 3 months</li>
<li>add the payments they received to each category below</li>
</ul>


<!--  <p class="gov-body">
  Add payments from your client's last 3 months of bank statements to each category below.
  </p>

Add incoming payments from your client's last 3 months of bank statements to each category
Add income your client received from 1 November 2018 to 31 January 2019</h2>
    <h2 class="govuk-heading-m">Add income from your bank statements for each category</h2>
 Add income for the last 3 months to each category -->


      <ol class="app-task-list">
      <!--  <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Salary or wages
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="govuk-body" href="incoming/salary" aria-describedby="eligibility-completed">
                Add salary or wage payments
              </a>
            </li>
          </ul>
        </li> -->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Benefits
          <!--  <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">
                For example, Universal Credit or Child Benefit.
            </span> -->
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="govuk-body" href="benefits_list" aria-describedby="eligibility-completed">
                Add benefits payments <!-- Select payments from your bank statement -->
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Disregarded: Universal Credit advance payments
          <!--  <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">
                This benefit is excluded from the gross income calculation, but you still need to select each payment.
            </span> -->
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="govuk-body" href="ucap" aria-describedby="eligibility-completed">
                Add Universal Credit advance payments <!-- Select payments from your bank statement -->
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Financial help from friends or family
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="govuk-body" href="financial_help_list" aria-describedby="eligibility-completed">
                Add payments from family or friends <!-- Select payments from your bank statement -->
              </a>
            </li>
          </ul>
        </li>
      <!--  <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Maintenance payments from an ex-partner
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="govuk-body" href="incoming/maintenance" aria-describedby="eligibility-completed">
              Add maintenance payments
            </a>
          </li>
        </ul>
      </li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">5. </span> Income from a property or lodger
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <a class="govuk-body" href="incoming/property" aria-describedby="eligibility-completed">
            Add income from a property or lodger
          </a>
        </li>
      </ul>
    </li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">6. </span> Income from a student loan or grant
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <a class="govuk-body" href="incoming/student" aria-describedby="eligibility-completed">
          Add student finance payments
        </a>
      </li>
    </ul>
  </li>
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number">7. </span> Income from a pension
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <a class="govuk-body" href="incoming/pension" aria-describedby="eligibility-completed">
        Add pension payments
      </a>
    </li>
  </ul>
</li> -->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"> <img src="/public/images/plus_icon.svg"> </span> <a class="govuk-body" href="types_of_income" aria-describedby="eligibility-completed">
              Add another type of income
            </a>
          </h2>
        </li>
        <!-- <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">  <img src="/public/images/plus_icon.svg"> </span> <a  href="#" aria-describedby="eligibility-completed">
              Add another type of income
            </a>
          </h2>
        </li> -->
      </ol>

      <!-- <p class="govuk-body">
          <a href="types_of_income3" class="govuk-link">Add another type of income</a>
        </p> -->

        <div class="govuk-!-padding-bottom-6"></div>

        <a href="dependants" role="button" class="govuk-button">
          Save and continue
        </a>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
