{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check your answers
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "types_of_outgoing"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Enter housing costs you paid in cash in the past 3 months
      </h1>

      <label class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Total paid 14 June 2020 to 14 July 2020
      </label>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <label class="govuk-label" for="width-10">
            Amount
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
        </div>
      </div>
      <br>
      <label class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Total paid 13 May 2020 and 13 June 2020
      </label>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <label class="govuk-label" for="width-10">
            Amount
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
        </div>
        </div>
        <br>

        <label class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Total paid 12 April 2020 and 12 May 2020
        </label>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <label class="govuk-label" for="width-10">
              Amount
            </label>
            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
          </div>
      <div>

      </div>
      </div>


    <br>


      <a class="govuk-button" href="regular_outgoings" role="button">
        Continue
      </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
