{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Agree bank access
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "bank_access_information"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Do you agree to share your bank transactions with us?</h1>

        <p class="govuk-body">
          We only use your bank transactions to support your legal aid application. We do not use the information for anything else.
        </p>

        <div class="govuk-checkboxes" data-module="checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="bank-consent-1" name="bank-consent" type="checkbox" value="yes" data-aria-controls="conditional-bank-consent-1" {{ checked("bank-consent","yes") }}>
            <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold" for="bank-consent-1">
              <p><strong> I agree for you to check 3 months of bank transactions</strong> <br> using temporary access to my online banking</p>
            </label>
          </div>

        </div>

    <!--    <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Find out how we use and store your personal data
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">We:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>do not save your online banking username and password</li>
              <li>do not have any ongoing access to your bank accounts</li>
              <li>only use your details to assess your eligibility for legal aid</li>
            </ul>
          </div>
        </details> -->


      <!--  <div class="govuk-inset-text">
        <p class="govuk-body">
         You'll be transferred to a secure service to sign in to your online banking.
      </div> -->

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We'll hand over to a secure service for you to sign in to your online banking.</p>




        <a href="https://auth.truelayer.com/?response_type=code&client_id=applyforlegalaidtest-uxqw&nonce=2546921908&scope=info%20accounts%20balance%20transactions%20cards%20direct_debits%20standing_orders%20products%20beneficiaries%20offline_access&redirect_uri=https://apply-for-legal-aid-prototype.herokuapp.com/apply_for_legal_aid_prototype/citizen_accounts&enable_mock=true&enable_oauth_providers=true&enable_open_banking_providers=false&enable_credentials_sharing_providers=true" role="button" class="govuk-button">

          Save and continue
        </a>

      </div>
    </div>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
