{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Outgoings summary
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "types_of_outgoing"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><!-- Regular payments you make -->Your regular payments</h1>

<h2 class="govuk-heading-m"><!-- Add payments from your bank statements for each category -->Add payments you made from 1 November 2018 to 31 January 2019</h2>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Rent or mortgage
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="govuk-body" href="#" aria-describedby="eligibility-completed">
                Add rent or mortgage payments
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Childcare costs
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="govuk-body" href="#" aria-describedby="eligibility-completed">
                Add childcare costs
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Maintenance payments
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="govuk-body" href="#" aria-describedby="eligibility-completed">
                Add childcare costs
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Existing criminal legal aid contributions
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="govuk-body" href="#" aria-describedby="eligibility-completed">
                Add childcare costs
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"> <img src="/public/images/plus_icon.svg"> </span> <a class="govuk-body" href="types_of_outgoing" aria-describedby="eligibility-completed">
              Add another type of regular payment
            </a>
          </h2>
        </li>
      </ol>

        <div class="govuk-!-padding-bottom-6"></div>

        <a href="property" role="button" class="govuk-button">
          Save and continue
        </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
