{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check your answers
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "types_of_outgoing"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your answers and submit information
    </h1>

   <h2 class="govuk-heading-l">
     Your bank accounts
   </h2>

   <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
   <h2 class="govuk-heading-m">Account 1</h2>
   </div>
   <div class="govuk-grid-column-one-third">
     <p><a class="govuk-link"style="float:right;" href="client_details_2">Change</a></p>
   </div>
   </div>

   <dl class="govuk-summary-list">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Bank
       </dt>
       <dd class="govuk-summary-list__value">
         Mock Bank
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="client_details#dob-day">
           <span class="govuk-visually-hidden">dob</span>
         </a>
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Account number
       </dt>
       <dd class="govuk-summary-list__value">
         31245721{{ data['national-insurance-number'] }}
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="client_details#national-insurance-number">
           <span class="govuk-visually-hidden">national insurance number</span>
         </a>
       </dd>
     </div>
   <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Sort code
       </dt>
       <dd class="govuk-summary-list__value">
        12-96-59{{ data['email-address'] }}
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="client_details#email-address">
           <span class="govuk-visually-hidden">email address</span>
         </a>
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Balance
       </dt>
       <dd class="govuk-summary-list__value">
         £3,300{{ data['postcode'] }}
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="postcode_finder#postcode">
           <span class="govuk-visually-hidden">correspondance address</span>
         </a>
       </dd>
     </div>
     </dl>

   <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
   <h2 class="govuk-heading-m">Account 2</h2>
   </div>
   <div class="govuk-grid-column-one-third">
     <p><a class="govuk-link"style="float:right;" href="client_details_2">Change</a></p>
   </div>
   </div>

   <dl class="govuk-summary-list">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Bank
       </dt>
       <dd class="govuk-summary-list__value">
         Mock Bank
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="client_details#dob-day">
           <span class="govuk-visually-hidden">dob</span>
         </a>
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Account number
       </dt>
       <dd class="govuk-summary-list__value">
         31245786{{ data['national-insurance-number'] }}
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="client_details#national-insurance-number">
           <span class="govuk-visually-hidden">national insurance number</span>
         </a>
       </dd>
     </div>
   <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Sort code
       </dt>
       <dd class="govuk-summary-list__value">
        12-96-59{{ data['email-address'] }}
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="client_details#email-address">
           <span class="govuk-visually-hidden">email address</span>
         </a>
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Balance
       </dt>
       <dd class="govuk-summary-list__value">
         £1,250{{ data['postcode'] }}
       </dd>
       <dd class="govuk-summary-list__actions">
         <a href="postcode_finder#postcode">
           <span class="govuk-visually-hidden">correspondance address</span>
         </a>
       </dd>
     </div>
     </dl>

<h2 class="govuk-heading-l">
Your income and outgoings
</h2>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m">Payments you receive</h2>
</div>
<div class="govuk-grid-column-one-third">
  <p><a class="govuk-link" style="float:right;" href="types_of_income">Change</a></p>
</div>
</div>

<dl class="govuk-summary-list">
<!--  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Salary or wages
  </dt>
  <dd class="govuk-summary-list__value">
    Yes{{ data['firstname'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="client_details#firstname">
      <span class="govuk-visually-hidden">first name</span>
    </a>
  </dd>
</div> -->
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Benefits
  </dt>
  <dd class="govuk-summary-list__value">
    Yes
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="client_details#dob-day">
      <span class="govuk-visually-hidden">dob</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Financial help from friends or family
  </dt>
  <dd class="govuk-summary-list__value">
    Yes{{ data['national-insurance-number'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="client_details#national-insurance-number">
      <span class="govuk-visually-hidden">national insurance number</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Maintenance payments
  </dt>
  <dd class="govuk-summary-list__value">
    No{{ data['email-address'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="client_details#email-address">
      <span class="govuk-visually-hidden">email address</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Income from a property or lodger
  </dt>
  <dd class="govuk-summary-list__value">
    No{{ data['postcode'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="postcode_finder#postcode">
      <span class="govuk-visually-hidden">correspondance address</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Pension
  </dt>
  <dd class="govuk-summary-list__value">
    No{{ data['postcode'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="postcode_finder#postcode">
      <span class="govuk-visually-hidden">correspondance address</span>
    </a>
  </dd>
</div>
</dl>

<h2 class="govuk-heading-m">
Student finance
</h2>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Do you get student finance?
  </dt>
  <dd class="govuk-summary-list__value">
    Yes
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="client_details#firstname">
      Change <span class="govuk-visually-hidden">first name</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    How much student finance will you get this academic year?
  </dt>
  <dd class="govuk-summary-list__value">
    £9,800
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="client_details#lastname">
      Change <span class="govuk-visually-hidden">last name</span>
    </a>
  </dd>
</div>

</dl>

<div class="govuk-!-padding-bottom-3"></div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m">Payments you make</h2>
</div>
<div class="govuk-grid-column-one-third">
  <p><a class="govuk-link" style="float:right;" href="types_of_outgoing">Change</a></p>
</div>
</div>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Housing costs
  </dt>
  <dd class="govuk-summary-list__value">
    Yes
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="client_details#dob-day">
      <span class="govuk-visually-hidden">dob</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Childcare costs
  </dt>
  <dd class="govuk-summary-list__value">
    Yes{{ data['national-insurance-number'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="client_details#national-insurance-number">
      <span class="govuk-visually-hidden">national insurance number</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Maintenance payments
  </dt>
  <dd class="govuk-summary-list__value">
    No{{ data['email-address'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="client_details#email-address">
      <span class="govuk-visually-hidden">email address</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Payments towards legal aid in a criminal case
  </dt>
  <dd class="govuk-summary-list__value">
    No{{ data['postcode'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="postcode_finder#postcode">
      <span class="govuk-visually-hidden">correspondance address</span>
    </a>
  </dd>
</div>
</dl>

<h2 class="govuk-heading-l">Confirm the following</h2>

<p class="govuk-body">You agree that:</p>

<ul class="govuk-list govuk-list--bullet">

<li>you've instructed Hitchcock, Jones and King to represent you</li>
<li>we can share your information with government departments like the Department for Work and Pensions and HM Revenue and Customs<!-- the Department for Work and Pensions and other government organisations --></li>
<li>we can check your details with your bank and credit reference agencies</li>
<li>you may have to pay towards your legal aid</li>
<li>you may have to repay the legal costs if you keep or gain property or money at the end of your case (the 'statutory charge')</li>
<li>the information you've given is complete and correct</li>
<li>you'll report any changes to your financial situation immediately</li>
</ul>

<div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true" style="top: 30px;">!</span>

<p class="govuk-body" style="padding-left: 60px;">

<strong>If you give wrong or incomplete information, do not report changes, or are found to have committed benefit fraud, you may:</p>
<ul class="govuk-list govuk-list--bullet" style="border-left-width: 60px; padding-left: 78px;">
<strong><li>be prosecuted</li>
<li>need to pay a financial penalty</li>
<li>have your legal aid stopped and have to pay back the costs</li></strong>
</ul>
<br>

    <a class="govuk-button" href="complete" role="button">
      Agree and submit
    </a>

  </div>
</div>


  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
