{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check your answers - Merits
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "prospects_of_success"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Latest incident details</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a class="govuk-link" style="float:right;" href="#">Change</a></p>
      </div>
      </div>

      <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell govuk-body" scope="row"><strong>Date your client contacted you</strong></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">10 Dec 2019</td>
              </tr>

              <tr class="govuk-table__row">
                <th class="govuk-table__cell govuk-body" scope="row"><strong>Date the incident occurred</strong></th>
                <td class="govuk-table__cell govuk-table__cell--numeric">8 Dec 2019</td>
              </tr>

            </tbody>
          </table>


<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">Respondent details</h2>
</div>
<div class="govuk-grid-column-one-third">
  <p><a class="govuk-link" style="float:right;" href="#">Change</a></p>
</div>
</div>

<table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row"><strong>Can understand the terms of a court order</strong></th>
        <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>

        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row"><strong>Warning letter sent</strong></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row"><strong>Police notified</strong></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row"><strong>Bail conditions set</strong></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
        </tr>
      </tbody>
    </table>

<br>

     <h2 class="govuk-heading-m">Case details</h2>

     <dl class="govuk-summary-list govuk-!-margin-bottom-9">

               <div class="govuk-summary-list__row">
                 <dt class="govuk-summary-list__key">
                   Statement of case
                 </dt>
                 <dd class="govuk-summary-list__value">
                   <a href="#">statement of case.pdf (200kb)</a>
                 </dd>
                 <dd class="govuk-summary-list__actions">
                   <a class="govuk-link" href="#">
                     Change
                   </a>
                 </dd>
               </div>
               <div class="govuk-summary-list__row">
                 <dt class="govuk-summary-list__key">
                   Chance of successful outcome 50% or better
                 </dt>
                 <dd class="govuk-summary-list__value">
                   No
                 </dd>
                 <dd class="govuk-summary-list__actions">
                   <a class="govuk-link" href="#">
                     Change
                   </a>
                 </dd>
               </div>
               <div class="govuk-summary-list__row">
                 <dt class="govuk-summary-list__key">
                   Chance of successful outcome
                 </dt>
                 <dd class="govuk-summary-list__value">
                   Less than 45%
                 </dd>
                 <dd class="govuk-summary-list__actions">
                   <a class="govuk-link" href="#">
                     Change
                   </a>
                 </dd>
               </div>
             </dl>

      <a class="govuk-button" href="#" role="button">
        Save and Continue
      </a>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
         Save and come back later
       </a>

    </div>
  </div>


  {% endblock %}

  
