{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Costs
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "/passported_v2/statement_1"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Are there any <!-- outstanding --> payments left on the vehicle?</h1>
  <!--  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Enter an amount
  </legend> -->

 <span class="govuk-hint">
      Include outstanding payments on loans, hire purchase (HP) or personal contract purchase (PCP) agreements.
    </span>
<div class="govuk-!-padding-bottom-4"></div>

    <form action="vehicles_date" method="post" novalidate>


      <div class="govuk-radios govuk-radios--conditional" data-module="radios">

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="how-contacted-conditional-2" name="attempts-to-settle" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("attempts-to-settle","no") }}>
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
            Yes
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
  Enter the amount left to pay<!-- on any loans, hire purchase (HP) or personal contract purchase (PCP) agreements --></label>
            <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
            <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="costs" name="costs" type="text" value="{{ data['costs'] }}">
          </div>
        </div>



        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="how-contacted-conditional-1" name="attempts-to-settle" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-1" {{ checked("attempts-to-settle","yes") }}>
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
            No
          </label>
        </div>

          </fieldset>
        </div>

<div class="govuk-!-padding-bottom-6"></div>




        <button type="submit" class="govuk-button">
          Save and continue
        </button>

        <!--  <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a> -->

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
