{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Homepage
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{% endblock %}

{% block content %}
<style media="screen">
.govuk-checkboxes--small .govuk-checkboxes__label::before{
  /*top: 10px;
  left: 9px;
  width: 24px;
  height: 24px;*/
}
.govuk-checkboxes--small .govuk-checkboxes__label{
  padding-left: 30px;
  padding-top: 4px;
  padding-bottom: 0px;
}

.moj-badge{
  text-transform: none;
  font-size: 16px;
  letter-spacing: 0.5px;
}

table .govuk-tag {
  white-space: nowrap;
  color: white;
  background-color: #85994b;
  border: 2px solid #85994b;
  font-weight: 700;
  font-size: 16px;
  text-transform: none;
}
.inprogress{
  background-color: #005ea5 !important;
  border-color: #005ea5 !important;
}
.granted{
  background-color: #0b0c0c !important;
  border-color: #0b0c0c !important;
}

.col_bespoke{
  width:auto;
}
.govuk-table__header{
  color: #0b0c0c;
  /*background-color: #dee0e2;*/
  background-color: #f3f2f1;
  border: 1px solid #bfc1c3;
  box-shadow: 0 2px 0 #b5babe;
  padding-left: 10px;
  text-align: left;
  font-weight: 100;
}
.th_bespoke{
  padding-right: 15px;
  position: relative;
}
.th_bespoke::before{
  /*down*/
  content:" \25bc";
  position: absolute;
  right: -1px;
  top: 11px;
  font-size: 0.6em;
}
.th_bespoke::after{
  /*up*/
  content:" \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.6em;
}
.th_bespoke_hover:hover{
  background-color: #c8cacb;
  cursor:pointer;
}
.govuk-table__head{
  position: relative;
}
.govuk-table__cell{
  padding-left: 10px;
}

</style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Legal aid applications</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Make an application</h2>
    <p class="govuk-body">Tell us the basic case details and check if your client receives benefits that qualify for legal aid.</p>

    <a href="client_details" class="govuk-button govuk-button__start ">
      Start application
    </a>

  </div>

</div>

<div class="govuk-!-padding-top-6"></div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Current applications &nbsp;
      <!-- <a href="search" class="govuk-button govuk-button--secondary" style="background-color:#dee0e2; color:#0b0c0c; display:inline; margin:0px 0px 20px 30px">
      <img src="/public/images/search_icon.svg" alt="" style="height:24px; margin:0px 0px 0px 0px !important; position:relative; top:5px" />
      <span >Search applications</span></a> -->
      <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1" data-module="govuk-button">
        Search applications
      </button>
    </h3>
  </div>

  <!-- <div class="govuk-!-padding-top-3"></div> -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">



        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header th_bespoke_hover col_bespoke" scope="col"><span class="th_bespoke">Name</span>
            </th>
            <th class="govuk-table__header th_bespoke_hover col_bespoke" scope="col">Start date <img src="/public/images/filter_icon.svg" style=""></th>
            <th class="govuk-table__header th_bespoke_hover" style="width:auto" scope="col"><span class="th_bespoke">LAA Ref</span></th>
            <!-- <th class="govuk-table__header th_bespoke_hover" style="width:auto" scope="col"><span class="th_bespoke">CCMS Ref</span></th> -->
            <th class="govuk-table__header th_bespoke_hover" style="width:auto" scope="col"><span class="th_bespoke">Certificate type</span></th>
            <th class="govuk-table__header th_bespoke_hover col_bespoke govuk-table__cell--numeric"  scope="col" style="padding-right:10px !important; text-align:right !important"><span  class="th_bespoke">Status</span></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">David Francis</a></td>
            <td class="govuk-table__cell">19 Mar 2019</td>
            <td class="govuk-table__cell">L-123-ABC</td>
            <!-- <td class="govuk-table__cell">123456789012</td> -->
            <td class="govuk-table__cell">Substantive</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--blue">
              In progress
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Gwen McCrae</a></td>
            <td class="govuk-table__cell">19 Mar 2019</td>
            <td class="govuk-table__cell">L-123-ABC</td>
            <!-- <td class="govuk-table__cell">123456789012</td> -->
            <td class="govuk-table__cell">Substantive</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--blue">
              In progress
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Patrice Sokda</a></td>
            <td class="govuk-table__cell">19 Mar 2019</td>
            <td class="govuk-table__cell">L-123-ABC</td>
            <!-- <td class="govuk-table__cell">123456789012</td> -->
            <td class="govuk-table__cell">Emergency<br><span class="govuk-body-s">Substantive due: DD/MM/YYYY</span></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">
              Submitted
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Rita Patel</a></td>
            <td class="govuk-table__cell">18 Mar 2019</td>
            <td class="govuk-table__cell">L-123-ABC</td>
            <!-- <td class="govuk-table__cell">123456789012</td> -->
            <td class="govuk-table__cell">Substantive</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">
              Submitted
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Steve Smith</a></td>
            <td class="govuk-table__cell">17 Mar 2019</td>
            <td class="govuk-table__cell">L-123-ABC</td>
            <!-- <td class="govuk-table__cell">123456789012</td> -->
            <td class="govuk-table__cell">Substantive</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--blue">
              In progress
            </strong></td>
          </tr>
          <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Patty LaBelle</a></td>
          <td class="govuk-table__cell">17 Mar 2019</td>
          <td class="govuk-table__cell">L-123-ABC</td>
          <td class="govuk-table__cell">123456789012</td>
          <td class="govuk-table__cell">Substantive</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag granted">
          Granted
        </strong></td>
      </tr> -->

    </tbody>
  </table>
</div>
</div>

<nav class="moj-pagination" id="pagination-label">

  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

  <ul class="moj-pagination__list">
    <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1">1</a></li>

    <li class="moj-pagination__item moj-pagination__item--active">2</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3">3</a></li>

    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>10</b> to <b>20</b> of <b>30</b> results</p>
</nav>

{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
    {
      href: "#",
      text: "Contact"
    },
    {
      href: "#",
      text: "Feedback"
    },
    {
      href: "https://www.gov.uk/help/cookies",
      text: "Cookies"
    },
    {
      href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
      text: "Terms and conditions"
    },
    {
      href: "https://mojdigital.blog.gov.uk/",
      text: "MOJ Digital Services"
    },
    {
      href: "/prototype-admin/clear-data",
      text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}
