{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a prototype. Some things may not work as expected.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "application_cert_review"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <!--  <p class="gov-body">
    <a href="outgoings">Go to outgoings</a>
    </p> -->

    <h1 class="govuk-heading-xl">Do you need to tell us anything about your client's declaration before you submit the application?</h1>

    <!-- Is there anything else you want to tell us before you submit your application? -->

      <span class="govuk-hint">For example, your client may want something changed on their application, or they may not want to sign the client declaration.
      <!--  For example, your client wants something changed on their application, or will not sign the declaration. -->
      </span>

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="attempts-to-settle" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("attempts-to-settle","no") }}>
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
      <!--  <div class="govuk-form-group">
          <label class="govuk-label" for="policies-value">
            How much does your client earn each month before tax?
          </label>
    <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
    </div>
    </div> -->
    <div class="govuk-form-group">
    <label class="govuk-label" for="policies-value">
    Enter details
    </label>




    <textarea class="govuk-textarea" id="more-detail" name="statement" rows="8
    " aria-describedby="more-detail-hint">{{ data['statement'] }}</textarea>
    </div>

  <!--  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    A caseworker will request evidence of your client's employment after you've submitted your application.
  </strong>
  </div>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          I have evidence of my client's employment
        </label>
        <span class="govuk-hint" style="padding-left: 15px">You can upload this evidence later on.</span>
      </div>
    </div>
  </fieldset>
</div -->

    </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="attempts-to-settle" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-1">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
          No
        </label>
      </div>

      </div>
    <!--  <br>
    <hr>
<br>

    <h3 class="govuk-heading-l">Student finance</h3>
     <span class="govuk-hint">Your client entered this information.</span>
    <p class="gov-body"><strong>£9,800</strong> this academic year.</p> -->

       <div class="govuk-!-padding-bottom-6"></div>


        <a href="application_submitted" role="button" class="govuk-button">
          Submit and continue
        </a>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

    </div>
  </div>


  {% endblock %}

  
