{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check your answers - Merits
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "upload"
}) }}
{% endblock %}

{% block content %}

<style media="screen">
.govuk-summary-list__key {
  width: 75%;
}
.govuk-summary-list {
  margin-bottom: 40px;
}
.govuk-heading-l{
  margin-bottom: 40px;
}
.govuk-table__cell{
  width: 70%;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    <h1 class="govuk-heading-l">
      Case details
    </h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Latest incident details</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a class="govuk-link" style="float:right;" href="incident_details">Change</a></p>
      </div>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-7">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          When did your client contact you about the latest domestic abuse incident?</dt>
          <dd class="govuk-summary-list__value">
            10 Dec 2019
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When did the incident occur?</dt>
            <dd class="govuk-summary-list__value">
              8 Dec 2019
            </dd>
          </div>
        </dl>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Opponents</h2>
          </div>
          <div class="govuk-grid-column-one-third">
            <p><a class="govuk-link" style="float:right;" href="opponent_add">Change</a></p>
          </div>
        </div>


        <dl class="govuk-summary-list govuk-!-margin-bottom-7">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Opponent 1</dt>
              <dd class="govuk-summary-list__value">
                Joe Bloggs,<br>Individual
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Opponent 2</dt>
                <dd class="govuk-summary-list__value">
                  Hertfordshire council,</br>Local authority
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
            </dl>


            <dl class="govuk-summary-list govuk-!-margin-bottom-2">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                <dt class="govuk-summary-list__key">
                  Do all parties have the mental capacity to understand the terms of a court order?
                </dt>
                <dd class="govuk-summary-list__value">No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="opponent_mental_capacity">
                    Change
                  </a>
                </dd>
              </div>
            </dl>
            <div class="govuk-body">
              Reasons given shows here
            </div>
            <div class="govuk-!-margin-bottom-6">
              <hr class="govuk-section-break govuk-section-break--visible govuk-!-width-full" style="width: 100%;">
            </div>

            <dl class="govuk-summary-list govuk-!-margin-bottom-2">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                <dt class="govuk-summary-list__key">
                  Has a warning letter been sent to the opponent?
                </dt>
                <dd class="govuk-summary-list__value">No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="domestic_abuse_summary">
                    Change
                  </a>
                </dd>
              </div>
            </dl>
            <div class="govuk-body">
              Reasons given shows here
            </div>
            <div class="govuk-!-margin-bottom-6">
              <hr class="govuk-section-break govuk-section-break--visible govuk-!-width-full" style="width: 100%;">
            </div>

            <dl class="govuk-summary-list govuk-!-margin-bottom-2">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                <dt class="govuk-summary-list__key">
                  Have the police been notified?
                </dt>
                <dd class="govuk-summary-list__value">Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="domestic_abuse_summary">
                    Change
                  </a>
                </dd>
              </div>
            </dl>
            <div class="govuk-body">
              Reasons given shows here
            </div>
            <div class="govuk-!-margin-bottom-6">
              <hr class="govuk-section-break govuk-section-break--visible govuk-!-width-full" style="width: 100%;">
            </div>


            <dl class="govuk-summary-list govuk-!-margin-bottom-2">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                <dt class="govuk-summary-list__key">
                  Have bail conditions been set?
                </dt>
                <dd class="govuk-summary-list__value">Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="domestic_abuse_summary">
                    Change
                  </a>
                </dd>
              </div>
            </dl>
            <div class="govuk-body">
              Reasons given shows here
            </div>
            <div class="govuk-!-margin-bottom-6">
              <hr class="govuk-section-break govuk-section-break--visible govuk-!-width-full" style="width: 100%;">
            </div>


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Statement of case</h2>
              </div>
              <div class="govuk-grid-column-one-third">
                <p><a class="govuk-link" href="statement_02" style="float:right;">Change</a></p>
              </div>
            </div>

            <dl class="govuk-summary-list govuk-!-margin-bottom-2">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                <dt class="govuk-summary-list__key">
                  Provide a statement of case
                </dt>
                <dd class="govuk-summary-list__value">
                  filename.doc (XX.XX KB)
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
            </dl>
            <div class="govuk-body">
              If user entered as text statement shows here
            </div>
            <div class="govuk-!-margin-bottom-6">
              <hr class="govuk-section-break govuk-section-break--visible govuk-!-width-full" style="width: 100%;">
            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Children involved in this application</h2>
              </div>
              <div class="govuk-grid-column-one-third">
                <p><a class="govuk-link" href="children_add_2" style="float:right;">Change</a></p>
              </div>
            </div>


            <dl class="govuk-summary-list govuk-!-margin-bottom-7">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Child 1</dt>
                  <dd class="govuk-summary-list__value">
                    Billy Doe, born	1 Jan 2013
                  </dd>
                  <dd class="govuk-summary-list__actions">
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Child 2</dt>
                    <dd class="govuk-summary-list__value">
                      Sarah Doe, born 20 Mar 2015
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                  </div>
                </dl>

                <h2 class="govuk-heading-l">Child arrangements order (contact)</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-2">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Is the chance of a successful outcome 50% or better?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="prospects_pso">
                        Change
                      </a>
                    </dd>
                  </div>
                </dl>

                <dl class="govuk-summary-list govuk-!-margin-bottom-2">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Have attempts been made to settle the matter?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="resolve_pso">
                        Change
                      </a>
                    </dd>
                  </div>
                </dl>

                <dl class="govuk-summary-list govuk-!-margin-bottom-2">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Attempts to settle
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Both correspondence and mediation have been attempted without success.
                    </dd>

                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="resolve_pso">
                        Change
                      </a>
                    </dd>
                  </div>
                </dl>

                <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Which children are covered under this proceeding?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Billy Doe<br>Sarah Doe
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="children_pso">
                        Change
                      </a>
                    </dd>
                  </div>
                </dl>

                <h1 class="govuk-heading-l">
                  Non-molestation order
                </h1>

                <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Is the chance of a successful outcome 50% or better?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="prospects_non_mol">
                        Change
                      </a>
                    </dd>
                  </div>
                </dl>

                <h1 class="govuk-heading-m">
                  Supporting evidence
                </h1>

                <dl class="govuk-summary-list govuk-!-margin-bottom-7">

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Upload supporting evidence
                    </dt>
                    <dd class="govuk-summary-list__value">
                      filename.doc
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="upload_02_with_files">
                        Change
                      </a>
                    </dd>
                  </div>
                </dl>


                <a class="govuk-button" href="confirm_the_following" role="button">
                  Save and continue
                </a>

                <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
                  Save and come back later
                </a>

              </div>


              {% endblock %}
