{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid -
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "/passported_v2/prospects_of_success"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Terms and conditions</h1>

    <form action="check_answers_merits" method="post" novalidate>

<p class="govuk-body">You must agree to the following terms and conditions to use this service. You must also agree to <a href="https://www.gov.uk/help/terms-conditions">GOV.UK’s terms of use</a>.</p>

<h1 class="govuk-heading-m">Who manages this digital service and Civil Legal Advice</h1>

<p class="govuk-body">The Legal Aid Agency (LAA) is responsible for the Apply for legal aid service. The LAA works with other organisations like the Ministry of Justice to deliver this service. For example this digital service is managed by the Ministry of Justice.</p>

<h1 class="govuk-heading-m">Complaints</h1>

<p class="govuk-body">Call 0345 345 4345 if you want to make a complaint about this service.</p>

<h1 class="govuk-heading-m">How is my privacy protected?</h1>

<p class="govuk-body">We only save the information you enter if you decide to contact a Civil Legal Advice operator.</p>

<p class="govuk-body">At this point, you will need to tell us your name and phone number and all the information you've entered will be stored when you click 'Submit your application'.</p>

<p class="govuk-body">We store this information so that the operator can see it when they speak to you.</p>

<p class="govuk-body">If you don't want to speak to an operator, you don't need to enter any personal details and we don't store any of the information you have entered.</p>

<p class="govuk-body">To provide you with the best service that we can, Civil Legal Advice may share some information about you with other organisations. But we will only do this, if you have given us permission or when we have a lawful basis for doing so.</p>

<p class="govuk-body">In exceptional circumstances, we may share limited information about you without your consent. This would only be to prevent fraud, to help detect crime, if it is required by law or by a court order or if we are very worried about your safety or the safety of others.</p>

<p class="govuk-body">In order to provide a service to you, Civil Legal Advice (CLA) may need to view, collect, record and hold (‘process’) personal data about you.</p>

<p class="govuk-body">Personal data is information about you as an individual. It can be your name, address or telephone number. It can also include the information that you have provided in this form, such as your financial circumstances.</p>

<p class="govuk-body">This statement explains how CLA will process any personal data that we collect from you or that you provide to us.</p>

<p class="govuk-body">The Legal Aid Agency (LAA) is responsible for the CLA service and the Ministry of Justice (MoJ) is the Data Controller. The Legal Aid Agency (LAA) is an Executive Agency of the Ministry of Justice (MoJ).</p>

<p class="govuk-body">The LAA works with other organisations who deliver the CLA service. For example, when you first make contact with CLA, you will communicate with the CLA Operator Service, which is delivered by Agilisys (a contractor employed by the LAA).</p>

<p class="govuk-body">Once you have contacted the CLA Operator Service, if you are likely to qualify for Legal Aid, the operator will transfer you to a CLA Specialist Provider. If you do not qualify to receive CLA Specialist advice, the operator will inform you accordingly and direct you to alternative sources of help.</p>

<p class="govuk-body">The CLA service is committed to following this Privacy Statement. CLASpecialists must also adhere to their own internal privacy policy.</p>

<h1 class="govuk-heading-m">What data we collect</h1>

<p class="govuk-body">The personal data we collect from you includes:</p>

<ul class="govuk-list govuk-list--bullet">
<li>personal details like your name, address, date of birth, contact details and National Insurance number</li>
<li>financial information to check if you qualify for legal aid</li>
<li>questions, queries or feedback you leave</li>
<li>your Internet Protocol (IP) address, and details of which version of web browser you used</li>
<li>information on how you use the site, using cookies and page tagging techniques</li>
</ul>

<h1 class="govuk-heading-m">Why we need your data</h1>

<p class="govuk-body">We use the information you provide to:</p>

<ul class="govuk-list govuk-list--bullet">
<li>work out whether you qualify for legal aid</li>
<li>collect statistics about the service</li>
<li>help us monitor and improve the service</li>
<li>prevent or detect crime or fraud</li>
<li>justify public expenditure</li>
<li>carry out audits to ensure that the decisions we make are correct and accurate</li>
</ul>

<p class="govuk-body">The legal basis for processing personal data in relation to site security is our legitimate interests, and the legitimate interests of our users, in ensuring the security and integrity of GOV.UK.</p>

<p class="govuk-body">The legal basis for processing all other personal data is that it’s necessary to perform a task in the public interest.</p>

<h1 class="govuk-heading-m">What we do with your data</h1>

<p class="govuk-body">CLA may collect personal data about you by phone, online, email or post (see table below). Any personal data will be recorded and stored within a secure system that meets required Government standards.</p>

<p class="govuk-body">CLA will be able to view and verify the information that you provide and, where necessary, will amend it to maintain its accuracy.</p>

<p class="govuk-body">The minimum amount of personal data that CLA will ask to collect is your name and two other pieces of personal information that could be used to identify you, e.g. postcode, date of birth or telephone number.</p>

<p class="govuk-body">As your personal data is stored on our IT infrastructure, and shared with our data processors, it may be transferred and stored securely outside the European Economic Area (EEA). Where that is the case, it will be subject to equivalent legal protection through the use of Model Contract Clauses.</p>

<p class="govuk-body">Any transfers made will be in full compliance with all aspects of the data protection law.</p>

<p class="govuk-body">By submitting your personal data, you agree to information being recorded, used and stored as outlined in this Privacy Statement.</p>


        <button type="submit" class="govuk-button">
          I agree
        </button>

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
