{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Types of income
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Apply for legal aid",
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">Payments to be reviewed</h1>
    <p class="govuk-body">We may be able to disregard some payments your client or their partner gets based on the rules and guidelines. These are called discretionary disregards.</p>

    <br>
    <form action="add_discretionary_disregards_details_partner" method="post" class="form">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select if your client or their partner has received any of these payments
            </h1>
          </legend>

          <div class="govuk-hint">These are one-off payments. Do not include any regular payments.</div>



          <div id="discretionary-disregards-hint" class="govuk-hint">Select all that apply.</div>


          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="discretionary_disregards_partner_1" name="discretionary_disregards_partner" type="checkbox" value="france">
                  <label class="govuk-label govuk-checkboxes__label" for="discretionary_disregards_partner_1">
                    Backdated benefits and child maintenance payments received more than 24 months ago
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="discretionary_disregards_partner_2" name="discretionary_disregards_partner" type="checkbox" value="france">
                  <label class="govuk-label govuk-checkboxes__label" for="discretionary_disregards_partner_5">
                    Compensation, damages or ex-gratia payments for personal harm
                  </label>
                  <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    For example, payments to victims of abuse
                  </div>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="discretionary_disregards_partner_3" name="discretionary_disregards_partner" type="checkbox" value="france">
                  <label class="govuk-label govuk-checkboxes__label" for="discretionary_disregards_partner_3">
                    Criminal Injuries Compensation Scheme payment
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="discretionary_disregards_partner_4" name="discretionary_disregards_partner" type="checkbox" value="france">
                  <label class="govuk-label govuk-checkboxes__label" for="discretionary_disregards_partner_4">
                    Grenfell Tower fire victims payment
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="discretionary_disregards_partner_5" name="discretionary_disregards_partner" type="checkbox" value="france">
                  <label class="govuk-label govuk-checkboxes__label" for="discretionary_disregards_partner_5">
                    London Emergencies Trust payment
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="discretionary_disregards_partner_6" name="discretionary_disregards_partner" type="checkbox" value="france">
                  <label class="govuk-label govuk-checkboxes__label" for="discretionary_disregards_partner_6">
                    National Emergencies Trust (NET) payment
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="discretionary_disregards_partner_7" name="discretionary_disregards_partner" type="checkbox" value="france">
                  <label class="govuk-label govuk-checkboxes__label" for="discretionary_disregards_partner_7">
                    Payments covering loss or harm related to proceedings in this application
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="discretionary_disregards_partner_8" name="discretionary_disregards_partner" type="checkbox" value="france">
                  <label class="govuk-label govuk-checkboxes__label" for="discretionary_disregards_partner_8">
                    Victims of Overseas Terrorism Compensation Scheme (VOTCS) 2012 payment
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="discretionary_disregards_partner_9" name="discretionary_disregards_partner" type="checkbox" value="france">
                  <label class="govuk-label govuk-checkboxes__label" for="discretionary_disregards_partner_9">
                    We Love Manchester Emergency Fund payment
                  </label>
                </div>

                <div class="govuk-checkboxes__divider">or</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="discretionary_disregards_partner_10" name="discretionary_disregards_partner" type="checkbox" value="none" data-behaviour="exclusive">
                  <label class="govuk-label govuk-checkboxes__label" for="discretionary_disregards_partner_10">
                    My client has not received any of these payments
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
        Save and come back later
      </a>

    </form>
  </div>
</div>
{% endblock %}
