{% extends "layout_HMRC_tool.html" %}


{% block pageTitle %}
Information requests
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Information requests</h1>

    <a class="govuk-button" href="upload_01_no_files">Make a new request</a>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date requested</th>
          <th scope="col" class="govuk-table__header">Expirey date</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">22 Mar 2023</th>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
            Pending
          </strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Cancel</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">21 Mar 2023</th>
          <td class="govuk-table__cell">20 Apr 2023</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
            Ready to download
          </strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Download</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" class="govuk-link">Remove</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">18 Mar 2023</th>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
            Error
          </strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
