{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Does your client use online banking
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "#"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">You have added 3 proceedings</h2>

    <div class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dd class="govuk-summary-list__value">Non-molestation order</dd>
<dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">
    Remove<span class="govuk-visually-hidden"> name</span>
  </a>
</dd>
</div>
<div class="govuk-summary-list__row">
<dd class="govuk-summary-list__value">Prohibited steps order</dd>
<dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">
    Remove<span class="govuk-visually-hidden"> name</span>
  </a>
</dd>
</div>
<div class="govuk-summary-list__row">
<dd class="govuk-summary-list__value">Child arrangements order (residence)</dd>
<dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">
    Remove<span class="govuk-visually-hidden"> name</span>
  </a>
</dd>
</div>
</div>

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
      Do you want to add another proceeding?
      </h1>
    </legend>

    <form action="delegated_functions_select" method="get" class="form">


    <div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="attempts-to-settle" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-1" {{ checked("attempts-to-settle","yes") }}>
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
          Yes
        </label>
      </div>


      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="attempts-to-settle" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("attempts-to-settle","no") }}>
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
          No
        </label>

      </div>

      <br><br>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
        Save and come back later
      </a>

      </form>
    </div>
  </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
