{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check client financial assessment
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:goBack()"
}) }}

{% endblock %}

{% block content %}

<style media="screen">
td:first-child {
  font-weight: bold
}
th {
  font-weight: bold !important;
}
dt:first-child{
  font-weight: bold
}
.app-task-list__items{
  padding-left:0px;:
}
.app-task-list__section-number{
  min-width: 0px;
}
.app-task-list__task-name{
  width:auto;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      John Doe
      <span class="govuk-heading-l govuk-!-font-weight-regular">2018/LAA/4ewrqfdd</span>
    </h1>


    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#tasklist">
            Tasks to complete
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#app-details">
            Application details
          </a>
        </li>
      </ul>

      <section class="govuk-tabs__panel" id="tasklist">
        <ol class="app-task-list" style="margin-top:0px">
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number"></span> Client details
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="client_details" aria-describedby="eligibility-completed">
                  Personal details
                </a>
                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="what_youre_covered_for" aria-describedby="read-declaration-completed">
                  What you are covered for
                </a>
                <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number"></span> Means assessment
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <!-- <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Bank account details
              </a> -->
              <p class="govuk-body-s" style="display:inline">Bank account details</p>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Passported</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="property" aria-describedby="company-information-completed">
                Property
              </a>
              <!-- <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong> -->
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="savings_investments_select" aria-describedby="contact-details-completed">
                Savings and investments
              </a>
              <!-- <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong> -->
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="other_capital_select">
                Items of value
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="capital_restrictions_select">
                Restrictions
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"></span> Merits assessment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="injunction">
                Incident details
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="injunction_details">
                Respondent details
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="statement_1">
                Case details
              </a>
            </li>
          </ul>
        </li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number"></span> Apply
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="app_stage_option_06#app-details">
              Review and submit application
            </a>
          </li>
        </ul>
      </li>
    </ol>


  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="app-details">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Client details</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a class="govuk-link" style="float:right;" href="client_details">Change</a></p>
      </div>
    </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          First name
        </dt>
        <dd class="govuk-summary-list__value">
          John
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="client_details#firstname">
          Change <span class="govuk-visually-hidden">first name</span>
        </a> -->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Last name
      </dt>
      <dd class="govuk-summary-list__value">
        Doe
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of birth
      </dt>
      <dd class="govuk-summary-list__value">
        1 January 1980
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        National Insurance number
      </dt>
      <dd class="govuk-summary-list__value">
        QQ123456C
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email address
      </dt>
      <dd class="govuk-summary-list__value">
        john.doe@email.com
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <!-- <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Correspondence address
    </dt>
    <dd class="govuk-summary-list__value">
    1 Main Street<br/>London<br/>{{ data['postcode'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
    </div> -->
    </dl>

    <h2 class="govuk-heading-m">Address</h2>

    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Correspondence address
      </dt>
      <dd class="govuk-summary-list__value">
        1 Main Street<br/>London</br>POST CODE
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="">
          Change <span class="govuk-visually-hidden">blank</span>
        </a>
      </dd>
    </div>
    </dl>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">What you are covered for</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <p><a class="govuk-link" style="float:right;" href="what_youre_covered_for">Change</a></p>
    </div>
    </div>

    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Proceeding
      </dt>
      <dd class="govuk-summary-list__value">
        Non-molestation order{{ data['...'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Costs you can incur
      </dt>
      <dd class="govuk-summary-list__value">
        £5,000
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Work you can do
      </dt>
      <dd class="govuk-summary-list__value">
        Injunction FLA to final hearing
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    </dl>

    <div class="govuk-!-margin-top-8"></div>

    <table class="govuk-table">

    <h2 class="govuk-heading-l">Means assessment</h2>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6" style="padding-left:0px">
      <h2 class="govuk-heading-m">Income</h2>
      <span class="govuk-tag">Passported</span>
    </div>


    <table class="govuk-table">
      <h2 class="govuk-heading-m">Regular payments</h2>
      <span class="govuk-tag">Passported</span>

      <div class="govuk-!-margin-top-8"></div>

      <h2 class="govuk-heading-m">Property</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Property owned
          </dt>
          <dd class="govuk-summary-list__value">
            Yes, owned outright
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="property">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Property value
          </dt>
          <dd class="govuk-summary-list__value">
            £145,000
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="property_amount">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Outstanding mortgage amount
          </dt>
          <dd class="govuk-summary-list__value">
            £127,345
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="property_outstanding_mortgage">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Owned with anyone else
          </dt>
          <dd class="govuk-summary-list__value">
            Yes, a friend, family member or other individual
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="property_ownership">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Percent owned
          </dt>
          <dd class="govuk-summary-list__value">
            40%
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="property_percent">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
      </dl>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Savings and investments</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a class="govuk-link" style="float:right;" href="savings_investments_select">Change</a></p>
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Post Office, ISAs and other savings accounts</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£535.72</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Cash savings</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£745.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Signatory on another person's bank account</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1,280.72</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">National Savings Certificates and Premium Bonds</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£2,657.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Shares in a PLC (public limited company)</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1,345.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">PEPs, unit trusts, capital bonds and government stocks</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£256.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Life assurance and endowment policies not linked to a mortgage</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£45,687.00</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Items of value</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a class="govuk-link" style="float:right;" href="other_capital_select">Change</a></p>
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home estimated value</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£67,535.72</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home outstanding mortgage amount</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£745.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home percentage owned</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">12%</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Timeshare</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£2,657.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Land</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1,345.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Jewellery, art or antiques with a value over £500</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£256.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Car, van or motorcycle less than 3 years old</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£45.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Classic car purchased as an investment</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£87.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Money or assets from the estate of a person who has died</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Money owed to you, including from a private mortgage</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£45,687.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Interest in a trust</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1.00</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Do any restrictions apply?</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a class="govuk-link" style="float:right;" href="capital_restrictions_select">Change</a></p>
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Repossession or deferred interest in a property</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Subject matter of dispute in other legal proceedings</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Foreign exchange controls</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Restraint or freezing order</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Bankruptcy</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Held overseas</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-margin-top-8"></div>

      <h2 class="govuk-heading-l">
        Merits assessment
      </h2>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Latest incident details</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a class="govuk-link" style="float:right;" href="injunction">Change</a></p>
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row"><strong>When did your client contact you about the latest domestic abuse incident?</strong></th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row"><strong>When did the incident occur?</strong></th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>

        </tbody>
      </table>


      <br>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Respondent details</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a class="govuk-link" style="float:right;" href="injunction_details">Change</a></p>
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row"><strong>Does the respondent have the mental capacity to understand the terms of a court order?</strong></th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row"><strong>Has a warning letter been sent to the respondent?</strong></th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row"><strong>Have the police been notified?</strong></th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row"><strong>Have bail conditions been set?</strong></th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
        </tbody>
      </table>

      <br>

      <h2 class="govuk-heading-m">
        Case details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-0">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-full">
            Statement of case
            <br><span style="font-weight: normal;">
              <a href="#">statement_of_case_1.pdf (100kb)</a><br>
              <a href="#">statement_of_case_2.pdf (200kb)</a><br><br>Statement of case free text answers should run full column width (underneath the 'Change' link) but I do not know how to do it in the prototype.</span></dt>
              <dd class="govuk-summary-list__actions"><a href="" <="" dd="">
                </a><a href="statement_1">
                  Change <span class="govuk-visually-hidden">blank</span>
                </a>
              </dd>
            </div>

          </dl>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the chance of a successful outcome 50% or better
          </dt>
          <dd class="govuk-summary-list__value">
            No{{ data['...'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="prospects_of_success">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the chance of a successful outcome?
          </dt>
          <dd class="govuk-summary-list__value">
            Borderline{{ data['...'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="prospects_less_than_50">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>

      </dl>

      <a href="declaration" class="govuk-button govuk-!-margin-right-2">
        Continue to declaration
      </a>
      <a href="../home/home_07" class="govuk-button govuk-button--secondary">
      Come back later
      </a>
      </div>

</div>

</section>

<div class="side-profile">
  {% include "includes/aside.html" %}
</div>
</div>



{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
    {
      href: "#",
      text: "Help"
    },
    {
      href: "https://www.gov.uk/help/cookies",
      text: "Cookies"
    },
    {
      href: "#",
      text: "Contact"
    },
    {
      href: "#",
      text: "Feedback"
    },
    {
      href: "#",
      text: "Terms and conditions"
    },
    {
      href: "https://mojdigital.blog.gov.uk/",
      text: "MOJ Digital Services"
    },
    {
      href: "/prototype-admin/clear-data",
      text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}
