{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Property and mortgage
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "vehicles_regular_use"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form action="savings_amount" method="post" class="form">

                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-two-thirds">

                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                              <h1 class="govuk-fieldset__heading">
                                Your client’s bank accounts

                              <!--  Did your client buy the vehicle more than 3 years ago? -->
                              </h1>
                              </legend>

                        <p class="govuk-body">Your client shared the following bank account information with us:</p>

                        <ul class="govuk-list govuk-list">
                          <li><b>Account:</b> Mock Bank Current Account</a></li>
                          <li><b>Balance:</b> £205.79</a></li>
                        </ul>

                        <ul class="govuk-list govuk-list">
                          <li><b>Account:</b> Mock Bank Savings Account</a></li>
                          <li><b>Balance:</b> £1,435</a></li>
                        </ul>

               <h2 class="govuk-heading-m">Does your client have any savings accounts they cannot access online?

               </h2>
               <span class="govuk-hint">For example, a Post Office savings account.</span>

              <div class="govuk-radios govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="property-1" name="property" type="radio" value="yes" {{ checked("property","yes") }}>
                  <label class="govuk-label govuk-radios__label" for="capital-1">
                    Yes

                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="property-1" name="property" type="radio" value="no" {{ checked("property","no") }}>
                  <label class="govuk-label govuk-radios__label" for="capital-1">
                    No

                  </label>
                </div>


              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

         <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
              Save and come back later
            </a>

        </form>
      </div>
    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
