{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Other capital
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "consent"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="email_address" method="post" class="form">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Sam Doe's financial assessment
                </h1>
              </legend>
              <br>

              <p class="govuk-body-l">Your client needs to do the following:</p>

                <h3 class="govuk-heading-m">1. Access 'Apply for legal aid'</h3>

                <p class="govuk-body">We'll send them an email with a link to the service.</p>

              <h3 class="govuk-heading-m">2. Sign in to their online banking</h3>

              <p class="govuk-body">They'll be redirected from the service to their bank's website or app.</p>

              <h3 class="govuk-heading-m">3. Allow TrueLayer to collect 3 months of bank statements</h3>

              <p class="govuk-body">After this they'll be returned to 'Apply for legal aid'.</p>

              <h3 class="govuk-heading-m">4. Tell us about their income and outgoings</h3>

              <p class="govuk-body">We'll ask them to select from a list of income types and allowable expenses.</p>

              <p class="govuk-body">This will create categories that you’ll need to add your client's bank transactions to when you continue the application.</p> 

              <br>

          <button type="submit" class="govuk-button">
            Continue
          </button>


        </form>
      </div>
    </div>



{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
