{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "income"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <!--  <p class="gov-body">
    <a href="outgoings">Go to outgoings</a>
    </p> -->
    <h1 class="govuk-heading-xl">Your client also told us about this income</h1>

    <span class="govuk-body">You do not need to categorise this income. This will be included in the financial eligibility calculation.

<br></br>

    <h2 class="govuk-heading-m">Other income

   </h2>

   <span class="govuk-body">      This information is based on what your client has told us and what we know from other government departments.</span>
<br></br>

       <table class="govuk-table" style="margin-bottom:0px;">
         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="col">Description</th>
             <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <span class="govuk-visually-hidden"></td>
           </tr>
         </thead>
       <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">Income from work (gross monthly)</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£1,000</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><p class="gov-body"><a href="challenge">This figure is not correct</a></p></td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">Student finance (per academic year)</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£9,800</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
         </tr>


         </tbody>
         </table>

<br></br>

 <h2 class="govuk-heading-m">Physical cash: help from family or friends

</h2>
<span class="govuk-hint">For example, banknotes and coins.</span>

 <table class="govuk-table" style="margin-bottom:0px;">
   <thead class="govuk-table__head">
     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="col">Calendar month</th>
       <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>
     </tr>
   </thead>
 <tbody class="govuk-table__body">
   <tr class="govuk-table__row">
     <td class="govuk-table__cell">6 Dec 2020 to 6 Jan 2021</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
   </tr>
   <tr class="govuk-table__row">
     <td class="govuk-table__cell">5 Nov to 5 Dec 2020</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">£200.00</td>
   </tr>
   <tr class="govuk-table__row">
     <td class="govuk-table__cell">4 Oct to 4 Nov 2020</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
   </tr>
   <tr class="govuk-table__row">
     <td class="govuk-table__cell"><strong>Total</strong></td>
     <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£360.00</strong></td>

   </tr>
   </tbody>
   </table>

   <div class="govuk-!-padding-bottom-6"></div>



        <a href="#" role="button" class="govuk-button">
          Save and continue
        </a>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
