{% extends "layouts/main.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <form action="/justin/linking_cases_03/new_app_to_DWP/postcode_finder_home" method="post" novalidate>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Why is your client’s home address different to their correspondence address?
      </h1>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="correspondence_home_different" name="correspondence_home_different" type="radio" value="different">
        <label class="govuk-label govuk-radios__label" for="correspondence_home_different">
          They have a different home address
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="correspondence_home_different_2" name="correspondence_home_different" type="radio" value="vulnerable">
        <label class="govuk-label govuk-radios__label" for="correspondence_home_different_2">
          My client is vulnerable and a home address cannot be provided
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="correspondence_home_different_3" name="correspondence_home_different" type="radio" value="homeless">
        <label class="govuk-label govuk-radios__label" for="correspondence_home_different_3">
          My client is homeless or has no fixed residence
        </label>
      </div>

    </div>
  </fieldset>
</div>
<div class="govuk-button-group">
  <button type="submit" class="govuk-button">
    Save and continue
  </button>
  <a role="button" class="govuk-button govuk-button--secondary">
    Save and come back later
  </a>
</div>

</form>
    </div>
  </div>

{% endblock %}
