{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Correspondence address lookup
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Find your client’s correspondence address
      </h1>
    </legend>

    <form action="postcode_select_correspondence" method="post" novalidate>

      <div class="govuk-form-group">

        <label class="govuk-label govuk-label--m" for="example">
          Postcode
        </label>

        <div id="postcode-hint" class="govuk-hint">
          This must be a UK postcode, for example SW1A 2AA.
        </div>

        <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" value="{{ data['postcode']}}">
      </div>

      <div class="govuk-form-group">

        <label class="govuk-label govuk-label--m" for="example">
          Building number or name (optional)
        </label>

        <div id="building-hint" class="govuk-hint">
          For example, 15 or Prospect Cottage.
        </div>

        <input class="govuk-input govuk-input--width-10" id="building" name="building" type="text" value="{{ data['building']}}">
      </div>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
    The address you provide is only for this application. If your client has other certificated legal aid cases where a different address has been used, you should review and update those records in CCMS.
      </strong>
      </div>

      <p>
        <a class="govuk-link" href="manual_UK_address_correspondence">Enter an address manually</a>
      </p>
<br>
      <button type="submit" class="govuk-button">
        Find address
      </button>
      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
        Save and come back later
      </a>


    </form>
  </div>
</div>

{% endblock %}
