{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check your answers
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "contrary_interest"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    <h2 class="govuk-heading-l">
      Your client's and their partner's capital
    </h2>

    <h2 class="govuk-heading-m">
      Property
    </h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does your client or their partner own the home your client lives in?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes, with a mortgage or loan
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="../capital_questions_combo/property/property">
            Change <span class="govuk-visually-hidden">property</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Your client's and their partner's property<span><a class="govuk-link govuk-body" style="float:right;" href="../capital_questions_combo/property/property_detail">Change</a></span></h2>

     <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How much is the home they live in worth?
          </dt>
          <dd class="govuk-summary-list__value">
            £20,000
          </dd>
          <dd class="govuk-summary-list__actions">
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How much is left to pay on the mortgage?
        </dt>
        <dd class="govuk-summary-list__value">
          £4,000
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does your client or their partner own the home with anyone else?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes, a friend, family member or other individual
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        What percentage of the home do your client or their partner legally own?
        </dt>
        <dd class="govuk-summary-list__value">
         80%
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>

    <br>

    <h2 class="govuk-heading-m">
    Vehicles
    </h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does your client or their partner own a vehicle?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="../capital_questions_combo/client_vehicle/vehicles">
            Change <span class="govuk-visually-hidden">property</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Vehicle details<span><a class="govuk-link govuk-body" style="float:right;" href="../capital_questions_combo/client_vehicle/vehicle_2">Change</a></span></h2>

     <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Who owns the vehicle?
        </dt>
        <dd class="govuk-summary-list__value">
          My client
        </dd>
        <dd class="govuk-summary-list__actions">
        </a>
      </dd>
    </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How much is the vehicle worth?
          </dt>
          <dd class="govuk-summary-list__value">
            £5,000
          </dd>
          <dd class="govuk-summary-list__actions">
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Are there any payments left on the vehicle?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes <br> £2,000
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Was the vehicle bought over 3 years ago?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Is the vehicle in regular use?
        </dt>
        <dd class="govuk-summary-list__value">
         Yes
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>

  
      
      <br>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Client bank accounts</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a class="govuk-link" style="float:right;" href="../capital_questions_combo/client_online_bank_accounts">Change</a></p>
        </div>
      </div>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has savings accounts they cannot access online
          </dt>
          <dd class="govuk-summary-list__value">
           Yes
          </dd>
          <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
    Amount in offline savings accounts
        </dt>
        <dd class="govuk-summary-list__value">
          £100
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>

  </dl>

  <br>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Which bank accounts does the partner have?</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <p><a class="govuk-link" style="float:right;" href="../capital_questions/partner_bank_accounts">Change</a></p>
    </div>
  </div>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Current account
      </dt>
      <dd class="govuk-summary-list__value">
       £200
      </dd>
      <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
Savings account
    </dt>
    <dd class="govuk-summary-list__value">
      No
    </dd>
    <dd class="govuk-summary-list__actions">
  </dd>
</div>

</dl>

  <br>


      <br>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Which savings or investments does either your client or their partner have?</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a class="govuk-link" style="float:right;" href="../capital_questions/savings_and_investments">Change</a></p>
      </div>
    </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Money not in a bank account
        </dt>
        <dd class="govuk-summary-list__value">
         £100
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Access to another person's bank account
      </dt>
      <dd class="govuk-summary-list__value">
        None
      </dd>
      <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      ISAs, National Savings Certificates and Premium Bonds
    </dt>
    <dd class="govuk-summary-list__value">
      None
    </dd>
    <dd class="govuk-summary-list__actions">
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Shares in a PLC
  </dt>
  <dd class="govuk-summary-list__value">
    None
  </dd>
  <dd class="govuk-summary-list__actions">
</dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Unit trusts, capital bonds and government stocks
  </dt>
  <dd class="govuk-summary-list__value">
    None
  </dd>
  <dd class="govuk-summary-list__actions">
</dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Life assurance and endowment policies not linked to a mortgage
  </dt>
  <dd class="govuk-summary-list__value">
    None
  </dd>
  <dd class="govuk-summary-list__actions">
</dd>
</div>
</dl>
    <br>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Which assets does either your client or their partner have?</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a class="govuk-link" style="float:right;" href="../capital_questions/other_capital_select">Change</a></p>
      </div>
    </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Timeshare property
        </dt>
        <dd class="govuk-summary-list__value">
         None
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Land
      </dt>
      <dd class="govuk-summary-list__value">
        None
      </dd>
      <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Any valuable items worth £500 or more
    </dt>
    <dd class="govuk-summary-list__value">
      None
    </dd>
    <dd class="govuk-summary-list__actions">
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
Money or assets from the estate of a person who has died
  </dt>
  <dd class="govuk-summary-list__value">
    None
  </dd>
  <dd class="govuk-summary-list__actions">
</dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Money owed to them, including from a private mortgage
  </dt>
  <dd class="govuk-summary-list__value">
    None
  </dd>
  <dd class="govuk-summary-list__actions">
</dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Interest in a trust
  </dt>
  <dd class="govuk-summary-list__value">
    None
  </dd>
  <dd class="govuk-summary-list__actions">
</dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Second property or holiday home
  </dt>
  <dd class="govuk-summary-list__value">
    None
  </dd>
  <dd class="govuk-summary-list__actions">
</dd>
</div>
</dl>
    <br>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Restrictions on your client's or their partner's assets</h2>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>

   <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Is your client or their partner prohibited from selling or borrowing against their assets?
      </dt>
      <dd class="govuk-summary-list__value">
     Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" style="float:right;" href="../capital_questions/capital_restrictions_select">Change</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Details of restrictions
      </dt>
      <dd class="govuk-summary-list__value">
     SMOD
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" style="float:right;" href="../capital_questions/capital_restrictions_select">Change</a>
      </dd>
    </div>
  </dl>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Which schemes or trusts have paid either your client or their partner?</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <p><a class="govuk-link" style="float:right;" href="../capital_questions/disregards">Change</a></p>
    </div>
  </div>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
     England Infected Blood Support Scheme
      </dt>
      <dd class="govuk-summary-list__value">
       No
      </dd>
      <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Vaccine Damage Payments Scheme
    </dt>
    <dd class="govuk-summary-list__value">
      No
    </dd>
    <dd class="govuk-summary-list__actions">
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Variant Creutzfeldt-Jakob disease (vCJD) Trust
  </dt>
  <dd class="govuk-summary-list__value">
    No
  </dd>
  <dd class="govuk-summary-list__actions">
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Criminal Injuries Compensation Scheme
</dt>
<dd class="govuk-summary-list__value">
  No
</dd>
<dd class="govuk-summary-list__actions">
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  National Emergencies Trust (NET)
</dt>
<dd class="govuk-summary-list__value">
  No
</dd>
<dd class="govuk-summary-list__actions">
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
We Love Manchester Emergency Fund
</dt>
<dd class="govuk-summary-list__value">
  No
</dd>
<dd class="govuk-summary-list__actions">
</dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  The London Emergencies Trust
  </dt>
  <dd class="govuk-summary-list__value">
    No
  </dd>
  <dd class="govuk-summary-list__actions">
  </dd>
  </div>
</dl>
  <br>




  <h2 class="govuk-heading-m">What happens next</h2>

  <p class="govuk-body">We’ll use your answers to calculate your client's financial eligibility for legal aid.</p>
 

  <br>
  <a class="govuk-button" href="../means_results/combo_means_result" role="button">
    Save and continue
  </a>

  <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
    Save and come back later
  </a>

  {% endblock %}
