{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Other capital
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "cash"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="insurance" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                Your client's capital
                </h1>
              </legend>

              <h2 class="govuk-heading-m">Savings accounts</h2>

              <span id="changed-name-hint" class="govuk-hint">Select all that apply.</span>

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="antiques" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-1" {{ checked("antiques","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
                    Savings accounts they do not access online
                  </label>
               <span id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">
                      For example, a Post Office savings account.
                  </span>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-1">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="antiques-value">
                      Enter the total in all accounts
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                  </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="classic-car" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-3" {{ checked("classic-car","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                     Individual Savings Accounts (ISAs)
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="car-value">
                      Enter the total in all accounts
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="car-value" name="car-value" type="text">
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="classic-car" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-3" {{ checked("classic-car","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                     Access to someone else's savings
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="car-value">
                      Enter the total in all accounts
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="car-value" name="car-value" type="text">
                  </div>
                </div>



               <!-- <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="classic-car" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-3" {{ checked("classic-car","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                     Money not in a bank account
                  </label>
                  <span id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">
                         For example, cash (banknotes and coins) kept at home.
                     </span>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="car-value">
                      Enter the total in all accounts
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="car-value" name="car-value" type="text">
                  </div>
                </div> -->

              </div>


            </fieldset>
          </div>

          <h2 class="govuk-heading-m">Investments</h2>

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>
        </form>
      </div>
    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
