{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check your answers
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "limits"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

     <h2 class="govuk-heading-m">
       Client details
     </h2>

     <dl class="govuk-summary-list">
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           First name
         </dt>
         <dd class="govuk-summary-list__value">
           John
         </dd>
         <dd class="govuk-summary-list__actions">
           <a href="client_details#firstname">
             Change <span class="govuk-visually-hidden">first name</span>
           </a>
         </dd>
       </div>
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Last name
         </dt>
         <dd class="govuk-summary-list__value">
           Doe
         </dd>
         <dd class="govuk-summary-list__actions">
           <a href="client_details#lastname">
             Change <span class="govuk-visually-hidden">last name</span>
           </a>
         </dd>
       </div>
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Date of birth
         </dt>
         <dd class="govuk-summary-list__value">
           1 January 1980
         </dd>
         <dd class="govuk-summary-list__actions">
           <a href="client_details#dob-day">
             Change <span class="govuk-visually-hidden">dob</span>
           </a>
         </dd>
       </div>
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           National Insurance number
         </dt>
         <dd class="govuk-summary-list__value">
           QQ 12 34 56 C
         </dd>
         <dd class="govuk-summary-list__actions">
           <a href="client_details#national-insurance-number">
             Change <span class="govuk-visually-hidden">national insurance number</span>
           </a>
         </dd>
       </div>
  <!--   <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Email address
         </dt>
         <dd class="govuk-summary-list__value">
           johndoe@email.com
         </dd>
         <dd class="govuk-summary-list__actions">
           <a href="client_details#email-address">
             Change <span class="govuk-visually-hidden">email address</span>
           </a>
         </dd>
       </div> -->
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Correspondence address
         </dt>
         <dd class="govuk-summary-list__value">
           1 Main Street<br/>London<br/>SE1 2AB
         </dd>
         <dd class="govuk-summary-list__actions">
           <a href="postcode_finder#postcode">
             Change <span class="govuk-visually-hidden">correspondance address</span>
           </a>
         </dd>
       </div>
    </dl>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Proceedings</h2>
  </div>
  <div class="govuk-grid-column-one-third">
    <p><a class="govuk-link" style="float:right;" href="proceedings">Change</a></p>
  </div>
</div>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Proceeding 1
      </dt>
      <dd class="govuk-summary-list__value">
        Non-molestation order
      </dd>
      <dd class="govuk-summary-list__actions">
      <!--  <a href="proceedings">
          Change <span class="govuk-visually-hidden">proceeding</span>
        </a> -->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Proceeding 2
      </dt>
      <dd class="govuk-summary-list__value">
        Prohibited steps order
      </dd>
      <dd class="govuk-summary-list__actions">
      <!--  <a href="proceedings">
          Change <span class="govuk-visually-hidden">proceeding</span>
        </a> -->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Proceeding 3
      </dt>
      <dd class="govuk-summary-list__value">
        Child arrangements order (residence)
      </dd>
      <dd class="govuk-summary-list__actions">
      <!--  <a href="proceedings">
          Change <span class="govuk-visually-hidden">proceeding</span>
        </a> -->
      </dd>
    </div>
 </dl>
<br>

<h2 class="govuk-heading-m">
  LASPO
</h2>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Are all Section 8 proceedings within the scope of LASPO?
  </dt>
  <dd class="govuk-summary-list__value">
    Yes
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="laspo">
      Change <span class="govuk-visually-hidden">proceeding</span>
    </a>
  </dd>
</div>
</dl>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Delegated functions</h2>
  </div>
  <div class="govuk-grid-column-one-third">
    <p><a class="govuk-link" style="float:right;" href="delegated_functions_select">Change</a></p>
  </div>
</div>


<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Non-molestation order
    </dt>
    <dd class="govuk-summary-list__value">
      3 Mar 2021
    </dd>
    <dd class="govuk-summary-list__actions">
  <!--  <a href="delegated_functions">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a> -->
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Prohibited steps order
    </dt>
    <dd class="govuk-summary-list__value">
      3 Mar 2021
    </dd>
    <dd class="govuk-summary-list__actions">
    <!-- <a href="delegated_functions_select">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a> -->
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Child arrangements order (residence)
    </dt>
    <dd class="govuk-summary-list__value">
      Not used
    </dd>
    <dd class="govuk-summary-list__actions">
  <!--  <a href="delegated_functions_select">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a> -->
    </dd>
  </div>
</dl>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Emergency cost limit</h2>
  </div>
  <div class="govuk-grid-column-one-third">
    <p><a class="govuk-link" style="float:right;" href="limits_4">Change</a></p>
  </div>
</div>

   <dl class="govuk-summary-list">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Do you want to request a higher cost limit?
       </dt>
       <dd class="govuk-summary-list__value">
         Yes
       </dd>
      <!-- <dd class="govuk-summary-list__actions">
         <a href="client_details#firstname">
           Change <span class="govuk-visually-hidden">first name</span>
         </a>
       </dd> -->
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         New emergency cost limit
       </dt>
       <dd class="govuk-summary-list__value">
         £3,000
       </dd>
      <!-- <dd class="govuk-summary-list__actions">
         <a href="client_details#lastname">
           Change <span class="govuk-visually-hidden">last name</span>
         </a>
       </dd> -->
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Why you need a higher cost limit
       </dt>
       <dd class="govuk-summary-list__value">
         Reasons
       </dd>
      <!-- <dd class="govuk-summary-list__actions">
         <a href="client_details#dob-day">
           Change <span class="govuk-visually-hidden">dob</span>
         </a>
       </dd> -->
     </div>
  </dl>
  <br>


    <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We'll check with the Department for Work and Pensions to see if your client receives benefits that qualify for legal aid.
      </p><br>

      <a class="govuk-button" href="prospects" role="button">
        Save and continue
      </a>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
        Save and come back later
      </a>

    </div>
  </div>

  {% endblock %}

  
