{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Categorise transactions
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
    }) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
        text: "PROTOTYPE"
        },
    html: 'This is a prototype. Some things may not work as expected.'
    })
}}

{{ govukBackLink({
    text: "Back",
    href: "/"
    })
}}

{% endblock %}

{% block pageScripts %}
<script>
  new MOJFrontend.FilterToggleButton({
    bigModeMediaQuery: "(min-width: 48.063em)",
    startHidden: true,
    toggleButton: {
      container: $(".moj-action-bar__filter"),
      showText: "Show filter",
      hideText: "Hide filter",
      classes: "govuk-button--secondary",
    },
    closeButton: {
      container: $(".moj-filter__header-action"),
      text: "Close",
    },
    filter: {
      container: $(".moj-filter"),
    },
  });
</script>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sort bank transactions into categories</h1>
    </div>
</div>
<div class="moj-filter-layout">
    {% include "team_folders/rose/_filter.html" %}

    <div class="moj-filter-layout__content">

        <div class="moj-action-bar">
            <div class="moj-action-bar__filter"></div>
            <div class="govuk-!-display-inline-block">
                <p><span class="selected-count">11</span>&nbsp;transactions selected</p>
                <div class="govuk-form-group">
                    <select class="govuk-select" id="assign" name="assign">
                        <option value="help" selected>Assign a category</option>
                        <option value="benefits">Benefits</option>
                        <option value="help">Financial help</option>
                        <option value="maintenance">Housing</option>
                        <option value="pension">Pension</option>
                        <option value="lodger">Property income</option>
                        <option value="remove">Remove category</option>
                    </select>

                    <button class="govuk-button">Confirm selection</button>
                </div>
            </div>
        </div>

        <div class="moj-scrollable-pane">
            <div class="moj-scrollable-pane__wrapper">
                <table class="govuk-table">
                    <caption class="govuk-table__caption" style="padding-bottom:10px;">8 December 2021 to 7 March 2022</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Select all</th>
                        <th scope="col" class="govuk-table__header">Date</th>
                        <th scope="col" class="govuk-table__header">Description</th>
                        <th scope="col" class="govuk-table__header">Income</th>
                        <th scope="col" class="govuk-table__header">Outgoing</th>
                        <th scope="col" class="govuk-table__header">Category</th>
                    </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">44455453</a></th>
                        <td class="govuk-table__cell">John Smith</td>
                        <td class="govuk-table__cell">Blue</td>
                        <td class="govuk-table__cell">Complete</td>
                        <td class="govuk-table__cell">25 Jan 2018</td>
                    </tr>
                        <tr class="govuk-table__row">

                        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12323212</a></th>

                        <td class="govuk-table__cell">Warren Sutton</td>

                        <td class="govuk-table__cell">Yellow</td>

                        <td class="govuk-table__cell">In progress</td>

                        <td class="govuk-table__cell">25 Jan 2018</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{{ govukFooter({
    meta: {
        items: [
            {
            href: "#",
            text: "Contact"
            },
            {
            href: "#",
            text: "Feedback"
            },
            {
            href: "https://www.gov.uk/help/cookies",
            text: "Cookies"
            },
            {
            href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
            text: "Terms and conditions"
            },
            {
            href: "https://mojdigital.blog.gov.uk/",
            text: "MOJ Digital Services"
            },
            {
            href: "/PROTOTYPE-admin/clear-data",
            text: "Clear data"
            }
        ]
    }
    })
}}
{% endblock %}
