{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check client financial assessment
{% endblock %}

{% block content %}

<style media="screen">
td:first-child {
  font-weight: bold !important;
}
th {
  /*font-weight: normal !important;*/
}
dt:first-child{
  font-weight: bold;
}
th:first-child {
  font-weight: bold;
}
.govuk-header {
  display: none;
}
.govuk-heading-xl{
  font-size: 32px;
}
.govuk-heading-l{
  font-size: 26px;
}
.govuk-heading-m{
  font-size: 19px;
}
.app-check-your-answers__question {
  font-size: 16px;
}
.app-check-your-answers__answer{
  font-size: 16px;
}
.govuk-summary-list__key {
  font-size: 16px;
}
.govuk-summary-list__value {
  font-size: 16px;
}


.govuk-table__cell{
  font-size: 16px;
}

.logo-line {
  display: inline-block;
  border-left: 2px #231f20 solid;
  height: 30px;
}
.logo-type {
  display: inline;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 26px;
  color: #231f20;
  position: relative;
  top: -5px;
  padding-left: 5px;
}
.header-info {
  /*margin-left: 40px;
  display: inline-block;
  position: relative;
  top:-5px;*/
}
.pagination{
  float: right;
}
.header-info > p {
  font-size: 16px;
}
</style>

<div class="govuk-grid-row" style="width:80%">
  <div class="print-header">
    <div class="header-info">
      <p>Client: <strong>Sam Doe</strong> &nbsp; LAA reference: <strong>L-23A-56D</strong> &nbsp; CCMS reference: <strong>123456789012</strong><span class="pagination"> <i>[Page <strong>1 of 3</strong>]</i></span>
      </p>
    </div>
  </div>
  <div class="govuk-!-padding-bottom-4"></div>
  <div>
    <div class="logo-line"></div>
    <img src="/public/images/crest.svg" alt="" height="30px"</>
    <h1 class="logo-type">Legal Aid Agency</h1>
    <h1 class="govuk-heading-xl govuk-!-margin-top-1">
      Application for legal aid and client declaration
    </h1>

  <!--  <h2 class="govuk-heading-l">
      Basic case details
    </h2> -->

    <h2 class="govuk-heading-m">
    Client details
    </h2>

    <table class="govuk-table" style="margin-bottom: 15px;">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">First name</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Sam</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Last name</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Doe</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Date of birth</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1 January 1980</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">National Insurance number</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">JA293483A</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Email address</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">samdoe@gmail.com</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Correspondence address</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1 Main Street<br>London<br>SE15 5NP</td>
      </tr>
      </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

     <h2 class="govuk-heading-m">
       Proceedings
     </h2>

     <table class="govuk-table" style="margin-bottom: 15px;">
     <tbody class="govuk-table__body">
       <tr class="govuk-table__row">
         <td class="govuk-table__cell">Proceeding 1</td>
         <td class="govuk-table__cell govuk-table__cell--numeric">Non-molestation order</td>
       </tr>
       <tr class="govuk-table__row">
         <td class="govuk-table__cell">Proceeding 2</td>
         <td class="govuk-table__cell govuk-table__cell--numeric">Prohibited steps order</td>
       </tr>
       <tr class="govuk-table__row">
         <td class="govuk-table__cell">Proceeding 3</td>
         <td class="govuk-table__cell govuk-table__cell--numeric">Child arrangements order (residence)</td>
       </tr>
       </tbody>
       </table>

    <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-m">
      LASPO
    </h2>

    <table class="govuk-table" style="margin-bottom: 15px;">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Section 8 proceedings in scope</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
      </tr>
      </tbody>
      </table>

   <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-m">
      Delegated functions
    </h2>

    <table class="govuk-table" style="margin-bottom: 15px;">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Non-molestation order</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">3 Mar 2021</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Prohibited steps order</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">3 Mar 2021</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Child arrangements order (residence)</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Not used</td>
      </tr>
      </tbody>
      </table>

    <div class="govuk-!-padding-bottom-6"></div>

      <h2 class="govuk-heading-m">
        Emergency cost limit
      </h2>

      <table class="govuk-table" style="margin-bottom: 15px;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Higher cost limit requested</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Amount requested</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£3,000</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Reason</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Reasons</td>
        </tr>
        </tbody>
        </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <h2 class="govuk-heading-l">
        Your client's income
      </h2>

      <div class="govuk-grid-column-two-thirds" style="padding-left:0px">
        <h2 class="govuk-heading-m">Employment income (provided by HMRC)</h2>
        <p></p><h2 class="govuk-heading-s">8 October 2020 to 7 January 2021</h2>
      </div>

      <table class="govuk-table" style="margin-bottom: 15px;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Monthly income before tax</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£1,041</td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Benefits in kind</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£16.60</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Tax</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">- £104.10</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">National insurance</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">- £18.66</td>
        </tr>
      </tbody>
    </table>


    <div class="govuk-!-padding-bottom-6"></div>


      <div class="govuk-grid-column-two-thirds" style="padding-left:0px">
        <h2 class="govuk-heading-m">Other income declared by your client</h2>
        <p></p><h2 class="govuk-heading-s">8 January 2021 to 7 January 2022</h2>
      </div>

      <table class="govuk-table" style="margin-bottom: 15px;">
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Cash payments</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Student finance</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
        </tr>

      </tbody>
    </table>






    <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-column-two-thirds" style="padding-left:0px">
        <h2 class="govuk-heading-m">Other income</h2>
        <p></p><h2 class="govuk-heading-s">8 October 2020 to 7 January 2021</h2>
      </div>

      <table class="govuk-table" style="margin-bottom: 15px;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Financial help from friends or family</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£110</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Disregarded benefits</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">20</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Benefits</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£8.79</td>
        </tr>

      <!--  <tr class="govuk-table__row">
          <td class="govuk-table__cell">Maintenance payments</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Maintenance payments</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Income from a property or lodger</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Pension</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Student finance</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
        </tr> -->
      </tbody>
    </table>







    <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-l">
      Dependants
    </h2>

    <table class="govuk-table" style="margin-bottom: 15px;">
      <h2 class="govuk-heading-m">Dependant 1</h2>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Name</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Billy Doe</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Date of birth</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1 Jan 2013</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Relationship to your client</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Child relative</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">In full-time education or training</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Receives income</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-!-padding-bottom-6"></div>

    <table class="govuk-table" style="margin-bottom: 15px;">
      <h2 class="govuk-heading-m">Dependant 2</h2>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Name</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sarah Doe</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Date of birth</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">20 Mar 2015</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Relationship to your client</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Adult relative</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Receives income</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Has assets worth more than £8,000</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
        </tr>
      </tbody>
    </table>

        <div class="govuk-!-padding-bottom-6"></div>

        <table class="govuk-table" style="margin-bottom: 15px;">
          <h2 class="govuk-heading-l">Your client's outgoings</h2>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Housing payments</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£86.34</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Childcare payments</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£62.50</td>
            </tr>
          <!--  <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Maintenance payments</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Payments towards legal aid in a criminal case</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
            </tr> -->
          </tbody>
        </table>

        <div class="govuk-!-padding-bottom-6"></div>



    <h2 class="govuk-heading-l">
      Your client's capital
    </h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Property</h2>
      </div>
    </div>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Owns the home they live in</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes, with a mortgage or loan</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Estimated value</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£145,000</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Outstanding mortgage</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£127,345</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Owns with anyone else</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">A partner or ex-partner</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Percentage owned</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">50%</td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-!-padding-bottom-6"></div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Vehicles</h2>
      </div>
    </div>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Owns a vehicle</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Estimated value</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£4,000</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Outstanding payments</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">More than 3 years old</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">19 April 2008</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">In regular use</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Your client's bank accounts</h2>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Current accounts</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1,200</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Offline savings accounts</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£500</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Savings and investments</h2>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Money not in a bank account</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£745</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Access to another person's bank account</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1,280.72</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">ISAs, National Savings Certificates and Premium Bonds</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£2,657</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Shares in a PLC</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1,345</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">PEPs, unit trusts, capital bonds and government stocks</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£256</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Life assurance and endowment policies</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£45,687</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Other assets</h2>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Items worth more than £500</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£656</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home: value</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£67,535.72</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home: outstanding mortgage</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£745</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home: % owned</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">12%</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Timeshare</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£2,657</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Land</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1,345</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Money or assets from the estate of a person who has died</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Money owed to your client</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£45,687</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Interest in a trust</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Payments from schemes or charities</h2>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">England Infected Blood Support Scheme</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Vaccine Damage Payments Scheme</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Variant Creutzfeldt-Jakob disease (vCJD) Trust</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Criminal Injuries Compensation Scheme</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">National Emergencies Trust (NET)</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">We Love Manchester Emergency Fund</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">The London Emergencies Trust</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Restrictions on your client's assets</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <!-- <p><a class="govuk-link" style="float:right;" href="capital_restrictions_select">Change</a></p> -->
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Prohibited from selling or borrowing against their assets </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
          </tr>
        </tbody>
      </table>

<div class="govuk-!-padding-bottom-6"></div>


<h2 class="govuk-heading-l">
  Case details
</h2>

<h2 class="govuk-heading-m">Latest domestic abuse incident details</h2>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Date your client contacted you</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">10 Dec 2019</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Date the incident occurred</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">8 Dec 2019</td>
    </tr>
  </tbody>
</table>

<div class="govuk-!-padding-bottom-6"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Opponent details</h2>
  </div>
  <div class="govuk-grid-column-one-third">
    <!-- <p><a class="govuk-link" style="float:right;" href="injunction_details">Change</a></p> -->
  </div>
</div>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Name</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Rex Smith</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Has mental capacity to understand terms of a court order</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">A warning letter been sent</th>
      <td class="govuk-table__cell govuk-table__cell--numeric" >Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Police have been notified</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Bail conditions have been set</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
  </tbody>
</table>

<div class="govuk-!-padding-bottom-6"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Children involved</h2>
  </div>
  <div class="govuk-grid-column-one-third">
    <!-- <p><a class="govuk-link" style="float:right;" href="injunction_details">Change</a></p> -->
  </div>
</div>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Child 1</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Sarah</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Child 2</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Joe</td>
    </tr>
  </tbody>
</table>

<div class="govuk-!-padding-bottom-6"></div>

<h2 class="govuk-heading-m">
  Statement of case
</h2>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td><a href="#">statement_of_case_1.pdf (100kb)</a></td>
    </tr>
  </tbody>
</table>

<div class="govuk-!-padding-bottom-6"></div>

<h2 class="govuk-heading-m">
  Non-molestation order
</h2>

<table class="govuk-table" style="margin-bottom: 15px;">
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Chance of a successful outcome</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">50% or better</td>
  </tr>
  </tbody>
  </table>

  <div class="govuk-!-padding-bottom-6"></div>

  <h2 class="govuk-heading-m">
    Prohibited steps order
  </h2>

  <table class="govuk-table" style="margin-bottom: 15px;">
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Children covered</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Sarah</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Attempts to settle</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Chance of a successful outcome</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">50% or better</td>
    </tr>
    </tbody>
    </table>

    <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-m">
      Child arrangements order (residence)
    </h2>

    <table class="govuk-table" style="margin-bottom: 15px;">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Children covered</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Sarah</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Attempts to settle</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Chance of a successful outcome</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">50% or better</td>
      </tr>
      </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <h2 class="govuk-heading-m">
        Supporting evidence
      </h2>

      <table class="govuk-table">
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td><a href="#">supporting_evidence.pdf (200kb)</a></td>
          </tr>
        </tbody>
      </table>
      </div>

<div class="govuk-!-padding-bottom-6"></div>


<h3 class="govuk-heading-l">Client declaration</h3>

<p class="govuk-body">You agree that:</p>

<ul class="govuk-list govuk-list--bullet">
<li>you've instructed Hitchcock, Jones and King to represent you</li>
<li>we can share your information with other government departments like the DWP and HMRC</li>
<li>we can check your details with your bank and credit reference agencies</li>
<li>you may have to pay towards legal aid</li>
<li>you may need to repay the legal costs if you keep or gain property or money at the end of the case (known as the 'statutory charge')</li>
<li>the information you've given is complete and correct</li>
<li>you'll report any changes to your financial situation immediately</li>
</ul>


<div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true" style="top: 30px;">!</span>

<p class="govuk-body" style="padding-left: 60px;">

<strong>If you give wrong or incomplete information, do not report changes, or are found to have committed benefit fraud, you may:</p>
<ul class="govuk-list govuk-list--bullet" style="border-left-width: 60px; padding-left: 78px;">
<li>be prosecuted</li>
<li>need to pay a financial penalty</li>
<li>have your legal aid stopped and have to pay back the costs</strong></li>
</ul>
<h3 class="govuk-heading-s">Signature:</h3>
<h3 class="govuk-heading-s">Date:</h3>


{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
    {
      href: "#",
      text: "Help"
    },
    {
      href: "https://www.gov.uk/help/cookies",
      text: "Cookies"
    },
    {
      href: "#",
      text: "Contact"
    },
    {
      href: "#",
      text: "Feedback"
    },
    {
      href: "#",
      text: "Terms and conditions"
    },
    {
      href: "https://mojdigital.blog.gov.uk/",
      text: "MOJ Digital Services"
    },
    {
      href: "/prototype-admin/clear-data",
      text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}
