{% extends "layout.html" %}

{% block pageTitle %}
Apply for legal aid - Your applications
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="#1">Your applications</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#2">Search</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

{{ govukBackLink({
  text: "Back",
  href: "dashboard_in_progress"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Applications you cannot submit</h1>
    <p class="govuk-body">These applications will be missing information because updates were made to the service. </p>

    <p class="govuk-body">You have <b>0</b> applications.</p>
  </div>
</div>























        <!-- <div class="app-pagination__container govuk-grid-row govuk-!-display-none-print">
          <div class="govuk-grid-column-two-thirds">
            <nav role="navigation" aria-label="results" class="govuk-pagination"><ul class="govuk-pagination__list"><li class="govuk-pagination__item govuk-pagination__item--current" aria-label="Page 1"><a href="#" class="govuk-link govuk-pagination__link">1</a></li><li class="govuk-pagination__item" aria-label="Page 2"><a href="#" class="govuk-link govuk-pagination__link">2</a>
            </li><li class="govuk-pagination__item govuk-pagination__item--ellipses">⋯</li><li class="govuk-pagination__item" aria-label="Page 5"><a href="#" class="govuk-link govuk-pagination__link">5</a></li></ul><div class="govuk-pagination__next"><a href="#" class="govuk-link govuk-pagination__link" rel="next"><span class="govuk-pagination__link-title govuk-pagination__link-title--decorated">Next<span class="govuk-visually-hidden"> page</span></span><svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" focusable="false" viewBox="0 0 15 13" aria-hidden="true"><path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path></svg></a></div></nav>
          </div>
          <div class="app-pagination__info govuk-grid-column-one-third govuk-body">
            <span class="pagy-info">Showing 1 - 20 of 99 results</span>
          </div>
        </div> -->

        {% endblock %}
