{% extends "layout.html" %}

{% block pageTitle %}
Apply for legal aid - Your applications
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="#1">Your applications</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#2">Search</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your applications</h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="declaration_provider" class="govuk-button">
      Make a new application
    </a>

  </div>

</div>


<nav class="moj-sub-navigation" aria-label="Sub navigation">

  <ul class="moj-sub-navigation__list">

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" aria-current="page" href="#1">Submitted</a>
    </li>
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="dashboard_in_progress">In progress</a>
    </li>

  </ul>

</nav>



<table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Start date</th>
      <th scope="col" class="govuk-table__header"> Reference number</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Certificate type</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#1">Catrin Smith</a></td>
      <td class="govuk-table__cell" data-sort-value="6194">4 Sept 2024</td>
      <td class="govuk-table__cell">L-AB2-CG5</td>
      <td class="govuk-table__cell" data-sort-value="1913">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#2">Martin Jones</a></td>
      <td class="govuk-table__cell" data-sort-value="6961">4 Sept 2024</td>
      <td class="govuk-table__cell">L-AB1-CD2</td>
      <td class="govuk-table__cell" data-sort-value="1897">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#3">Michael Norris</a></td>
      <td class="govuk-table__cell" data-sort-value="5642">4 Sept 2024</td>
      <td class="govuk-table__cell">L-NU9-PO4</td>
      <td class="govuk-table__cell" data-sort-value="1874">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#4">Gillian Kent</a></td>
      <td class="govuk-table__cell" data-sort-value="8850">2 Sept 2024</td>
      <td class="govuk-table__cell">L-UY1-UY1</td>
      <td class="govuk-table__cell" data-sort-value="1953">Emergency</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#5">Dennis Clarke</a></td>
      <td class="govuk-table__cell" data-sort-value="5895">2 Sept 2024</td>
      <td class="govuk-table__cell">L-TR3-BG5</td>
      <td class="govuk-table__cell" data-sort-value="1889">Emergency</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#6">Mary Williams</a></td>
      <td class="govuk-table__cell" data-sort-value="4884">30 Aug 2024</td>
      <td class="govuk-table__cell">L-IE3-NN7</td>
      <td class="govuk-table__cell" data-sort-value="1962">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#7">Vincent George</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">29 Aug 2024</td>
      <td class="govuk-table__cell">L-RE7-VU7</td>
      <td class="govuk-table__cell" data-sort-value="1966">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#8">Barry Harris</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">29 Aug 2024</td>
      <td class="govuk-table__cell">L-AW6-ME8</td>
      <td class="govuk-table__cell" data-sort-value="1966">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#9">Polly Harris</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">29 Aug 2024</td>
      <td class="govuk-table__cell">L-HF5-JK0</td>
      <td class="govuk-table__cell" data-sort-value="1966">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#10">Nelly Harris</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">29 Aug 2024</td>
      <td class="govuk-table__cell">L-TR2-CX3</td>
      <td class="govuk-table__cell" data-sort-value="1966">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#11">Stephen Johns</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">29 Aug 2024</td>
      <td class="govuk-table__cell">L-RE5-ZA9</td>
      <td class="govuk-table__cell" data-sort-value="1966">Emergency</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#12">Louise Bevan</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">27 Aug 2024</td>
      <td class="govuk-table__cell">L-YU5-UY3</td>
      <td class="govuk-table__cell" data-sort-value="1966">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#13">James Long</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">23 Aug 2024</td>
      <td class="govuk-table__cell">L-II7-HN6</td>
      <td class="govuk-table__cell" data-sort-value="1966">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#14">Megan Davies</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">23 Aug 2024</td>
      <td class="govuk-table__cell">L-PL9-NN3</td>
      <td class="govuk-table__cell" data-sort-value="1966">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#15">Holly Matthews</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">23 Aug 2024</td>
      <td class="govuk-table__cell">L-WM0-XZ5</td>
      <td class="govuk-table__cell" data-sort-value="1966">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#16">Benjamin McAvon</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">22 Aug 2024</td>
      <td class="govuk-table__cell">L-CC7-OO9</td>
      <td class="govuk-table__cell" data-sort-value="1966">Emergency</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#17">Anthony Wright</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">16 Aug 2024</td>
      <td class="govuk-table__cell">L-TT1-HJ8</td>
      <td class="govuk-table__cell" data-sort-value="1966">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#18">Samantha Sawyer</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">15 Aug 2024</td>
      <td class="govuk-table__cell">L-KN5-BC1</td>
      <td class="govuk-table__cell" data-sort-value="1966">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#19">Amy Cartwright</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">15 Aug 2024</td>
      <td class="govuk-table__cell">L-MM7-PP9</td>
      <td class="govuk-table__cell" data-sort-value="1966">Substantive</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#20">Kelly Cartwright</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">2 Aug 2024</td>
      <td class="govuk-table__cell">L-KJ3-AS4</td>
      <td class="govuk-table__cell" data-sort-value="1966">Substantive</td>
    </tr>

  </tbody>
</table>




<p class="moj-pagination__results" style="float:right"> Showing <b>1</b> to <b>20</b> of <b>213</b> results</p>

<nav class="govuk-pagination" aria-label="Pagination">

<ul class="govuk-pagination__list">
  <li class="govuk-pagination__item govuk-pagination__item--current">
    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
      1
    </a>
  </li>
  <li class="govuk-pagination__item">
    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
      2
    </a>
  </li>
  <li class="govuk-pagination__item">
    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
      3
    </a>
  </li>
</ul>
<div class="govuk-pagination__next">
  <a class="govuk-link govuk-pagination__link" href="#" rel="next">
    <span class="govuk-pagination__link-title">
      Next<span class="govuk-visually-hidden"> page</span>
    </span>
    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
      <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
    </svg>
  </a>
</div>
</nav>







        {% endblock %}
