{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Confirmation page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="flash-card">
  <h1 class="govuk-heading-l">You cannot submit this application under special children act</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p class="govuk-body" style="color:white">This is because it needs to be means and merits tested.</p>
      <p class="govuk-body" style="color:white">You can (choose one of the following):</p>
      <ul style="color:white" class="govuk-list govuk-list--bullet">
        <li>check for a different matter type in this service or [use CCMS](link)</li>
        <li>go back and change your answer</li>
      </ul>
      <div class="govuk-!-padding-bottom-4"></div>

      <a href="SCA_search" role="button" class="govuk-button white-button right">
        Check for another matter type</a>

      </div>
    </div>
  </div>

  {% endblock %}
