{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Client details
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="link_case_confirm" method="post">

        <div class="govuk-form-group">
          <label class="govuk-heading-xl" for="search">
            What is the LAA reference of the application you want to link to?
          </label>

          <div id="search-hint" class="govuk-hint">
            For example, ‘L-AB1-CD2’.
          </div>


          <input class="govuk-input govuk-input--width-10" id="search" name="search" type="search" aria-describedby="search-hint">
        </div>


        <div class="govuk-button-group">
          <button class="govuk-button" type="submit" data-module="govuk-button">
            Search
          </button>
          <a role="button" class="govuk-button govuk-button--secondary">
            Save and come back later
          </a>
        </div>


      </form>
    </div>
</div>

<p>
<a class="govuk-link govuk-body-s" style="color:grey" href="search_link_case_no_result">No result version</a>
<br>
<a class="govuk-link govuk-body-s" style="color:grey" href="search_link_case_not_submitted">Application not submitted version</a>
</p>

{% endblock %}
