{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check your answers
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "/capital_check_your_answers/check_answers_capital_home"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

        <h2 class="govuk-heading-m">
          Property, savings and other assets
        </h2>

      <dl class="app-check-your-answers app-check-your-answers--long" style="margin-bottom: 60px;">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Property owned
          </dt>
          <dd class="app-check-your-answers__answer">
            No
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Savings and investments
          </dt>
          <dd class="app-check-your-answers__answer">
            None declared
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Other assets
          </dt>
          <dd class="app-check-your-answers__answer">
            None declared
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
     </dl>

    <h2 class="govuk-heading-m">Merits assessment</h2>

      <p class="govuk-body">
        You will now need to complete the merits assessment for the proceeding you are applying for.
      </p>

      <a class="govuk-button" href="#" role="button">
        Continue
      </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
