{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check your answers
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "/capital_check_your_answers/check_answers_capital_home"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        Property
      </h2>

    <dl class="app-check-your-answers app-check-your-answers--long" style="margin-bottom: 60px;">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Property owned
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes, owned outright
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="property">
            Change <span class="govuk-visually-hidden">blank</span>
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Property value
        </dt>
        <dd class="app-check-your-answers__answer">
          £145,000.00
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change <span class="govuk-visually-hidden">blank</span>
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Outstanding mortgage amount
        </dt>
        <dd class="app-check-your-answers__answer">
          £127,345.00
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change <span class="govuk-visually-hidden">blank</span>
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Owned with anyone else
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes, a friend, family member or other individual
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change <span class="govuk-visually-hidden">blank</span>
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Percent owned
        </dt>
        <dd class="app-check-your-answers__answer">
          40.00%
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change <span class="govuk-visually-hidden">blank</span>
          </a>
        </dd>
      </div>
   </dl>

     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
     <h2 class="govuk-heading-m">Savings and investments</h2>
     </div>
     <div class="govuk-grid-column-one-third">
       <p><a class="govuk-link" style="float:right;" href="#">Change</a></p>
     </div>
     </div>

     <table class="govuk-table">
         <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
             <th class="govuk-table__cell govuk-body" scope="row">Post Office, ISAs and other savings accounts</th>
                 <td class="govuk-table__cell govuk-table__cell--numeric">£535.72</td>
             </tr>
           </tbody>
         </table>

         <div class="govuk-!-padding-bottom-6"></div>

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">
         <h2 class="govuk-heading-m">Other assets</h2>
         </div>
         <div class="govuk-grid-column-one-third">
           <p><a class="govuk-link" style="float:right;" href="#">Change</a></p>
         </div>
         </div>

         <table class="govuk-table">
             <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                 <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home estimated value</th>
                     <td class="govuk-table__cell govuk-table__cell--numeric">£67,535.72</td>
                 </tr>
               </tbody>
             </table>

     <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Do any restrictions apply?</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a class="govuk-link" style="float:right;" href="#">Change</a></p>
      </div>
      </div>

      <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell govuk-body" scope="row">Repossession or deferred interest in a property</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
              </tr>
            </tbody>
          </table>

          <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-m">Merits assessment</h2>

      <p class="govuk-body">
        You will now need to complete the merits assessment for the proceeding you are applying for.
      </p>

      <a class="govuk-button" href="#" role="button">
        Continue
      </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
