
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Post MVP design explorations
      <span class="govuk-caption-xl"></span>
    </h1>
    <!-- <p class="govuk-body-l">
      Post MVP overview
    </p> -->

  </div>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Profile</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="app_stage_option_01">Option 01</a></li>
      <li><a href="app_stage_option_02">Option 02</a></li>
      <li><a href="app_stage_option_03">Option 03</a></li>
      <li><a href="app_stage_option_04">Option 04</a></li>
      <li><a href="app_stage_option_05">Option 05</a></li>
      <li><a href="app_stage_option_06">Option 06</a></li>
    </ul>
  </div>

</div>


{% endblock %}
