{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
  Apply for legal aid - Proceedings
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/jquery.hideseek.min.js"></script>
<script>
$('#search').hideseek({
    highlight: true,
    min_chars: 3,
    nodata: "No results found.",
    hidden_mode: true
});
</script>
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "search"
  }) }}
{% endblock %}

{% block content %}

<!-- <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#name">Search and select a proceeding</a>
      </li>
    </ul>
  </div>
</div> -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <!-- The costs and work you're covered for -->
          What you're covered for
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <table class="govuk-table">
        <h2 class="govuk-heading-m">Proceeding</h2>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row"><h3 class="govuk-body proceeding-item">Non-molestation order</h3>
            <li class="govuk-caption-m proceeding__list-item">Family law</li>
            <li class="govuk-caption-m proceeding__list-item"> > Domestic abuse</li></th>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="search">
                  Change<span class="govuk-visually-hidden">blank</span>
                </a></td>
            </tr>
          </tbody>
        </table>
        <p class="govuk-body">
          <strong>Form of service:</strong> Full representation<br><br>
          <strong>Costs you can incur:</strong> £5,000<br><br>
          <strong>Work you can do:</strong>
          As to proceedings under Part IV Family Law Act 1996 limited to all steps up to and including obtaining and serving a final order and in the event of breach leading to the exercise of a power of arrest to representation on the consideration 	of the breach by the court (but excluding applying for a warrant of arrest, if not attached, and representation in contempt proceedings).
          <!-- Limited to all steps up to and including serving a final order. If there is a breach leading to arrest, you may represent the client on the consideration of the court. You cannot apply for an arrest warrant or represent someone in contempt proceedings. -->
        </p>


      </div>
      </div>

      <div class="govuk-!-padding-bottom-4"></div>

  <!--  <div id="search-field" class="govuk-form-group">

      <label class="govuk-heading-m" for="search">
        Search for legal proceedings
          <span class="govuk-hint">
            For example by category of law, matter type or legal proceeding
          </span>
      </label>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <input class="govuk-input" id="search" name="search" type="text" data-list="#proceedings-list">
        </div>
        <div class="govuk-grid-column-one-third clear-search">
          <p><a class="govuk-link" href="search">Clear search</a></p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div id="proceedings-list" class="govuk-grid-column-full">

        {% for proceeding in proceedings -%}
        <div class="govuk-grid-row proceeding-list" id="offence-item-{{loop.index}}" >

            <div class="govuk-grid-column-two-thirds">

                <ul class="proceeding-list">
                  <h3 class="govuk-body proceeding-item">{{proceeding.proceedingtype | capitalize}}</h3>
                  <li class="govuk-caption-m proceeding__list-item">{{proceeding.categoryoflaw| capitalize}}</li>
                  <li class="govuk-caption-m proceeding__list-item"> > {{proceeding.mattertype | capitalize}}</li>
                </ul>
            </div>

            <div class="govuk-grid-column-one-third" style="text-align:right; padding-top: 25px;">
                <a id="offence-item-button-{{loop.index}}" class="govuk-button" role="button" href="#">
                    Select
                </a>
            </div>

        </div>
        {%- endfor %}

    </div>
</div>
</div> -->


<a class="govuk-button" href="#" role="button">
  Save and continue
</a>

<a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
  Save and come back later
</a>

{% endblock %}


