{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Feedback
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="feedback">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "#"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="thankyou" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Help us improve this service
                </h1>
              </legend>
            <!--  <div class="govuk-!-padding-bottom-4"></div>
              <span id="citizenship-conditional-hint" class="govuk-body">
                We value your feedback and will use it to ....
              </span> -->
              <div class="govuk-!-padding-bottom-8"></div>

              <div class="govuk-form-group">
                <label class="govuk-heading-m" for="complete-task">
                  Were you able to do what you needed to do today?
                </label>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="complete-task-1" name="complete-task" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="complete-task-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="complete-task-2" name="complete-task" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="complete-task-2">
                      No
                    </label>
                  </div>
                </div>
              </div>

              <div class="govuk-!-padding-bottom-2"></div>

              <div class="govuk-form-group">
                <label class="govuk-heading-m" for="feedback-detail">
                  Overall, how satisfied were you with this service?
                </label>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="satisfaction-1" name="satisfaction" type="radio" value="very-satisfied">
                  <label class="govuk-label govuk-radios__label" for="satisfaction-1">
                    Very satisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="satisfaction-2" name="satisfaction" type="radio" value="satisfied">
                  <label class="govuk-label govuk-radios__label" for="satisfaction-2">
                    Satisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="satisfaction-3" name="satisfaction" type="radio" value="satisfied-nor-dissatisfied">
                  <label class="govuk-label govuk-radios__label" for="satisfaction-3">
                    Neither satisfied nor dissatisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="satisfaction-4" name="satisfaction" type="radio" value="dissatisfied">
                  <label class="govuk-label govuk-radios__label" for="satisfaction-4">
                  Dissatisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="satisfaction-4" name="satisfaction" type="radio" value="very-dissatisfied">
                  <label class="govuk-label govuk-radios__label" for="satisfaction-4">
                  Very dissatisfied
                  </label>
                </div>
              </div>
            </div>

            <div class="govuk-!-padding-bottom-2"></div>

            <div class="govuk-form-group">
              <label class="govuk-heading-m" for="feedback-detail">
                How could we improve this service?
              <!--  <span id="feedback-detail-hint" class="govuk-hint">
                  Do not include personal or financial information, like your National Insurance number or credit card details.
                </span> -->
              </label>

              <textarea class="govuk-textarea" id="feedback-detail" name="feedback-detail" rows="5" aria-describedby="feedback-detail-hint"></textarea>
            </div>

          <!--  <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  I need help with my application
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>Contact the Legal Aid Agency on 0300 200 2020 if you need help with any part of your application.</p>

                <p>Monday to Friday, 8:00am to 8:00pm<br>
                Weekends and public holidays, 9:00am to 5:30pm<br>
                <a href="https://www.gov.uk/call-charges?_ga=2.19904189.483831965.1547651308-1044418218.1547472886">Find out about call charges</a></p>
              </div>
            </details> -->

            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Send
          </button>
        </form>
      </div>
    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "feedback",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
