{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check your answers
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "contrary_interest"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    <h2 class="govuk-heading-l">
      Your client's and their partner's capital
    </h2>

    <h2 class="govuk-heading-m">
      Property
    </h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does your client or their partner own the home they live in?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes, with a mortgage or loan
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="../capital_questions/property/property">
            Change <span class="govuk-visually-hidden">property</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Your client's and their partner's home<span><a class="govuk-link govuk-body" style="float:right;" href="limitations">Change</a></span></h2>

     <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How much is the home they live in worth?
          </dt>
          <dd class="govuk-summary-list__value">
            £20,000
          </dd>
          <dd class="govuk-summary-list__actions">
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How much is left to pay on the mortgage?
        </dt>
        <dd class="govuk-summary-list__value">
          £4,000
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does your client or their partner own the home with anyone else?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes, a friend, family member or other individuall
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        What percentage of the home do your client or their partner legally own?
        </dt>
        <dd class="govuk-summary-list__value">
         80%
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>
  </div>

  

</div>
  <br/>
  

  
  
    <br>

    <div class="govuk-grid-row">
   
      <h2 class="govuk-heading-m">Does your client have any joint accounts with the partner?</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">

    </div>
  </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current account
        </dt>
        <dd class="govuk-summary-list__value">
          None
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" style="float:right;" href="delegated_functions">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Savings account
        </dt>
        <dd class="govuk-summary-list__value">
          £5,000
        </dd>   
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" style="float:right;" href="delegated_functions">Change</a>
        </dd>
      </div>
    </dl>
    <br>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Which bank accounts does your client have?</h2>
      </div>
      <div class="govuk-grid-column-one-third">
  
      </div>
    </div>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current account
        </dt>
        <dd class="govuk-summary-list__value">
      £3,000
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" style="float:right;" href="delegated_functions">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Savings account
        </dt>
        <dd class="govuk-summary-list__value">
          None
        </dd>   
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" style="float:right;" href="delegated_functions">Change</a>
        </dd>
      </div>
    </dl>
    
    <br>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Which bank accounts does the partner have?</h2>
      </div>
      <div class="govuk-grid-column-one-third">
  
      </div>
    </div>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current account
        </dt>
        <dd class="govuk-summary-list__value">
      £3,000
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" style="float:right;" href="delegated_functions">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Savings account
        </dt>
        <dd class="govuk-summary-list__value">
          None
        </dd>   
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" style="float:right;" href="delegated_functions">Change</a>
        </dd>
      </div>
    </dl>
    <br>

    <h2 class="govuk-heading-m">Emergency cost limit<span><a class="govuk-link govuk-body" style="float:right;" href="limitations">Change</a></span></h2>

     <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Higher cost limit requested
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Amount requested
        </dt>
        <dd class="govuk-summary-list__value">
          £4,000
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reason
        </dt>
        <dd class="govuk-summary-list__value">
          Reason goes here
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>
  </div>
</div>
  <br/>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Partner details
    </h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does your client have a partner?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="partner_details">
            Change <span class="govuk-visually-hidden">partner answer</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Partner first name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['partner-firstname'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="partner_details">
            Change <span class="govuk-visually-hidden">first name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Partner last name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['partner-lastname'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="partner_details">
            Change <span class="govuk-visually-hidden">last name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Partner date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['partner-dob-day'] }}<br/>
          {{ data['partner-dob-month'] }}<br/>
          {{ data['partner-dob-year'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="partner_details">
            Change <span class="govuk-visually-hidden">partner date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Partner National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          QQ123456C
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="partner_details">
            Change <span class="govuk-visually-hidden">national insurance number</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the partner's correspondence address the same as your client's?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="same_address">
            Change <span class="govuk-visually-hidden">partner correspondence address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does the partner have contrary interest to proceedings?
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="contrary_interest">
            Change <span class="govuk-visually-hidden">partner contrary interest</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m">What happens next</h2>

  <p class="govuk-body">We’ll use your client’s name, date of birth and National Insurance number to check their benefit status with the Department for Work and Pensions (DWP).</p>
  </div>
</div>

  <br>
  <a class="govuk-button" href="../dwp_check/dwp_blue_box" role="button">
    Save and continue
  </a>

  <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
    Save and come back later
  </a>

{% endblock %}
