{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
  Apply for legal aid -
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "email_address"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="confirmation_page" method="post" class="form">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
          Send your client a link to access the service
         </h1>
</legend>

        <!--  <ul class="govuk-list govuk-list--bullet">
           <li>share 3 months of bank statements</li>
           <li>tell us about their income and outgoings</li>
           </ul>  -->

          <p class="govuk-body">The link will be active for 7 days for security reasons. Your client can request a new link if they access the service after the link has expired.</p>

          <h2 class="govuk-heading-m">
            Your client's email address
            </h2>
                  <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value">
                          samdoe@gmail.com
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a href="client_email_address">
                            Change <span class="govuk-visually-hidden">first name</span>
                          </a>
                        </dd>
                      </div>
                      </dl>

            <a href="confirmation_page" role="button" class="govuk-button">
              Send link
            </a>

            <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
              Save and come back later
            </a>

        </div>
      </div>




{% endblock %}
