{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Confirmation page
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "means_assessment_required"
}) }}

{% endblock %}

{% block content %}


  <div class="flash-card">
    <header>
      <h1 class="govuk-heading-l">We need to check your client's financial eligibility<!-- needs to answer some questions about their financial situation / We need to ask your client some questions about their financial situation --></h1>
    </header>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ul class="how-to-renew" data-id="how-to-renew-uk">

          <li>
          <!--  <h2 class="govuk-heading-m" style="padding-top: 10px; margin-bottom: 20px;">What happens next <!-- How we check financial eligibility </h2>
        <p style="color: #fff;">Your client will need to answer questions about their financial situation.</p>

      <p style="color: #fff;">We need to check if your client qualifies financially for legal aid.</p> -->

      <p style="color: #fff;">Your client needs to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li style="color: #fff;">use online banking</li>
        <li style="color: #fff;">agree to share their bank account information with us</li>
          </ul>

  <p style="color: #fff;">If they do, we'll give them access to the service and ask them to:</p>

      <ul class="govuk-list govuk-list--bullet">
           <li style="color: #fff;">sign in to their online banking</li>
          <li style="color: #fff;">give us one-time access to their bank accounts</li>
           </ul>

      <p style="color: #fff;">We'll download their bank statements from the past 3 months.</p>

      <p style="color: #fff;">When you continue the application you'll need to put their bank transactions into categories.</p>

          </li>
        </ul>

<!-- <h2 class="govuk-heading-m" style="padding-top: 10px; margin-bottom: 20px; color: #fff;">What happens next</h2>
        <p style="color: #fff;">We'll check if you can continue your application using this service.</p> -->

          </li>

        </ul>

        <div class="govuk-!-padding-bottom-4"></div>

        <a href="checklist" role="button" class="govuk-button white-button right">
          Continue</a>
      <!--  <a href="#" role="button" class="govuk-button draft-button">
          Save and come back later
        </a> -->

      </div>
    </div>
  </div>


{% endblock %}


