{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
  Apply for legal aid - Proceedings
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "search"
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
        <!--  What you're covered for
        What you're covered for using delegated functions -->
      What you're applying for

        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <table class="govuk-table">
        <h2 class="govuk-heading-m">Proceeding</h2>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row"><h3 class="govuk-body proceeding-item">Non-molestation order</h3>
            <li class="govuk-caption-m proceeding__list-item">Family law</li>
            <li class="govuk-caption-m proceeding__list-item"> > Domestic abuse</li>
            </th>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="search_notify">
                  Change<span class="govuk-visually-hidden">blank</span>
                </a></td>
            </tr>
          </tbody>
        </table>

      <!--  <div class="govuk-inset-text">
  You're covered for the following work because you've used delegated functions:
      </div> -->


        <h2 class="govuk-heading-m">Covered under an emergency certificate</h2>
        <p class="govuk-body">
        <!-- <strong>Certificate:</strong> Emergency<br><br> -->
          <strong>Form of service:</strong> Full representation<br><br>
          <strong>Costs you can incur:</strong> £1,350<br><br>
          <strong>Work you can do:</strong> All steps up to and including the hearing on 21 July 2019.
        <!--  Hearing
          <p>Limited to all steps up to and including the hearing.
          </p> -->
        </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <!--  <div class="govuk-inset-text">
You'll be covered for the following work once you've completed a full (or 'substantive') application:
</div> -->

        <div class="govuk-!-padding-bottom-2"></div>
        <h2 class="govuk-heading-m">Covered under a substantive certificate</h2>
        <span class="govuk-hint">
          You'll need to complete a full application before this applies.
        </span>
        <p class="govuk-body">
      <!--  <strong>Certificate:</strong> Substantive<br><br> -->
          <strong>Form of service:</strong> Full representation<br><br>
          <strong>Costs you can incur:</strong> £5,000<br><br>
          <strong>Work you can do:</strong>
          All steps up to and including getting and serving a final order. If the order is breached you can apply for power of arrest. You cannot apply for a warrant of arrest or contempt of court proceedings.</p>



      </div>
      </div>

      <div class="govuk-!-padding-bottom-4"></div>


<a class="govuk-button" href="check_answers" role="button">
  Save and continue
</a>

<a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
  Save and come back later
</a>


{% endblock %}


