{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "types_of_income"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Select your income</h1>

    <p>Add all your income from your bank statements.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Salary or wages
          </h2>
          <ul class="app-task-list__items" style="padding-left: 0px;">
            <li class="app-task-list__item">
              <a class="govuk-body" href="salary" aria-describedby="eligibility-completed">
                Add from statement
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Benefits
            <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">
                For example, Child Benefit, Working Tax Credit, Child Tax Credit
            </span>
          </h2>
          <ul class="app-task-list__items" style="padding-left: 0px;">
            <li class="app-task-list__item">
              <a class="govuk-body" href="#" aria-describedby="eligibility-completed">
                Add from statement
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Financial help from friends or family
          </h2>
          <ul class="app-task-list__items" style="padding-left: 0px;">
            <li class="app-task-list__item">
              <a class="govuk-body" href="#" aria-describedby="eligibility-completed">
                Add from statement
              </a>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
