{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Property and mortgage
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "outgoing_other"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="outgoing_other_2" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Enter cash payments you make
                </h1>
              </legend>
              <!-- <div class="govuk-inset-text">
  You can add more later.
  </div> -->

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  <h1 class="govuk-fieldset__heading">
  Category
  </h1>
  </legend>
  <div class="govuk-radios">
  <div class="govuk-radios__item">
  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
  Housing payments
  </label>
  </div>
  <div class="govuk-radios__item">
  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
  Childcare payments
  </label>
  </div>
  </div>
  </fieldset>
  </div>

  <div class="govuk-form-group">
  <label class="govuk-fieldset__legend govuk-fieldset__legend--m">
  Amount
  </label>
  <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
  <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
  </div>

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  <h1 class="govuk-fieldset__heading">
  How often do you make these payments?
  </h1>
  </legend>
  <div class="govuk-radios">
  <div class="govuk-radios__item">
  <input class="govuk-radios__input" id="where-do-you-live-4" name="frequency" type="radio" value="1">
  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
  Once a week
  </label>
  </div>
  <div class="govuk-radios__item">
  <input class="govuk-radios__input" id="where-do-you-live-5" name="frequency" type="radio" value="2">
  <label class="govuk-label govuk-radios__label" for="where-do-you-live-5">
  Once every 2 weeks
  </label>
  </div>
  <div class="govuk-radios__item">
  <input class="govuk-radios__input" id="where-do-you-live-6" name="frequency" type="radio" value="3">
  <label class="govuk-label govuk-radios__label" for="where-do-you-live-6">
  Once every 28 days
  </label>
  </div>
  <div class="govuk-radios__item">
  <input class="govuk-radios__input" id="where-do-you-live-7" name="frequency" type="radio" value="4">
  <label class="govuk-label govuk-radios__label" for="where-do-you-live-7">
  Once a month
  </label>
  </div>
  </div>
  </fieldset>
  </div>
  <p class="govuk-body">or</p>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-8" name="frequency" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-7">
            This is not a recurring payment
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
          <label class="govuk-label" for="where-do-you-live-8">
                                When did you make this payment?
                              </label>
                              <span id="dob-hint" class="govuk-hint">
                            For example, 11 2020.
                          </span>
                          <div class="govuk-date-input" id="dob">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-month-2">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month-2" name="dob-month-2" type="number" pattern="[0-9]*" value="{{ data['dob-month-2'] }}">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-year-2">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year-2" name="dob-year-2" type="number" pattern="[0-9]*" value="{{ data['dob-year-2'] }}">
                              </div>
                            </div>
                          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <br>

  <br>
          <button type="submit" class="govuk-button">
            Continue
          </button>


        </form>
      </div>
    </div>

{% endblock %}


