{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check your answers - Merits
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "#"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which one best describes your client's sexual orientation?
      </h1>
    </legend>
      <div class="govuk-radios govuk-radios" data-module="radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sexuality-4" name="sexuality" type="radio" value="">
        <label class="govuk-label govuk-radios__label" for="sexuality-4">
        Bisexual
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sexuality-3" name="sexuality" type="radio" value="">
        <label class="govuk-label govuk-radios__label" for="sexuality-3">
        Gay
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sexuality" name="sexuality" type="radio" value="african">
        <label class="govuk-label govuk-radios__label" for="sexuality">
          Heterosexual
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sexuality-2" name="sexuality" type="radio" value="">
        <label class="govuk-label govuk-radios__label" for="sexuality-2">
        Lesbian
        </label>
      </div>
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sexuality-5" name="sexuality" type="radio" value="other-sexuality" data-aria-controls="conditional-sexuality-5">
        <label class="govuk-label govuk-radios__label" for="sexuality-5">
          Other sexual orientation
        </label>
        </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-sexuality-5">
          <div class="govuk-form-group">
           <label class="govuk-label" for="other-sexuality">
            Your client's sexual orientation (optional)
           </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="sexuality-other" name="sexuality-other" type="text">
        </div>
      </div>
      </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sexuality-6" name="sexuality" type="radio" value="prefer-not-to-say">
        <label class="govuk-label govuk-radios__label govuk-label" for="sexuality-6">
          Prefer not to say
        </label>
      </div>
    </div>
  </fieldset>
</div>

      <a class="govuk-button" href="marital" role="button">
        Continue
      </a>

    <!--  <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
         Save and come back later
       </a> -->

    </div>
  </div>


  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
