{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Homepage
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-!-padding-top-4"></div>

        <h1 class="govuk-heading-xl">Legal aid applications</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Make a full application</h2>
        <p class="govuk-body">Tell us the basic case details and check if your client receives benefits that qualify for legal aid.</p>

        <a href="client_details" class="govuk-button govuk-button__start ">
          Start application
        </a>

      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Delegated functions</h3>
        <p class="govuk-body">Notify us you have exercised delegated functions</p>

        <a href="client_details_notify" class="govuk-button" style="background-color:#005ea5;">
          Notify us
        </a>

      </div>
    </div>

    <div class="govuk-!-padding-top-6"></div>


  <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="border-bottom: 3px solid #000"> -->

  <h3 class="govuk-heading-m">Current applications</h3>

  <div class="govuk-!-padding-top-6"></div>

  <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Date started</th>
          <th class="govuk-table__header" scope="col">Case reference</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="application_page">John Doe</a></td>
          <td class="govuk-table__cell">Tue, 19 Mar 2019</td>
          <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Application submitted</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="application_page">John Doe</a></td>
          <td class="govuk-table__cell">Tue, 19 Mar 2019</td>
          <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Application submitted</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="application_page">John Doe</a></td>
          <td class="govuk-table__cell">Tue, 19 Mar 2019</td>
          <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Application submitted</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="application_page">John Doe</a></td>
          <td class="govuk-table__cell">Tue, 19 Mar 2019</td>
          <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Application submitted</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="application_page">John Doe</a></td>
          <td class="govuk-table__cell">Tue, 19 Mar 2019</td>
          <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Application submitted</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="application_page">John Doe</a></td>
          <td class="govuk-table__cell">Tue, 19 Mar 2019</td>
          <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Application submitted</td>
        </tr>
      </tbody>

    </table>

</div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
