
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Section 8 specific questions
      <span class="govuk-caption-xl"></span>
    </h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l">We identified a number of questions relating specifically to Section 8 that we may ask you when making an application (to assist our caseworkers in making the correct decision).</p>

    <p class="govuk-body-l">Could you tell us what are your thoughts about those questions, and whether you would have the information to answer them at the point of application?</p>


    <p class="govuk-heading-m">Question 1</p>
    <p class="govuk-body-l govuk-!-margin-bottom-2">If you select a Specific issue proceeding</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-l">
      <li>what specific issue do you want to determine at court?</li>
    </ul>

    <p class="govuk-heading-m">Question 2</p>
    <p class="govuk-body-l govuk-!-margin-bottom-2">If you select a Prohibited steps proceeding </p>
    <ul class="govuk-list govuk-list--bullet govuk-body-l">
      <li>What are you asking to be prohibited?</li>
      <li>Is it to prevent removal from the UK?</li>
    </ul>

    <p class="govuk-heading-m">Question 3</p>
    <p class="govuk-body-l govuk-!-margin-bottom-2">If you have used delegated functions because the matter is urgent</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-l">
      <li>What is the nature of the urgency?</li>
      <li>What specific work needs to be done as a matter of urgency?</li>
      <li>Has a hearing been listed?</li>
    </ul>

    <p class="govuk-heading-m">Question 4</p>
    <p class="govuk-body-l govuk-!-margin-bottom-2">If the role of your client (client involvement type) is ‘Defendant’</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-l">
      <li>Upload supporting evidence - would it be in the form of a copy of the application made to the court?</li>
    </ul>

    <p class="govuk-heading-m">Question 5</p>
    <p class="govuk-body-l govuk-!-margin-bottom-2">If you are applying to vary an existing court order</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-l">
      <li>Why are the Court likely to agree to vary the order (having consideration to the length of time since the making of the original order)?</li>
    </ul>

    <p class="govuk-heading-m">Question 6</p>
    <p class="govuk-body-l govuk-!-margin-bottom-2">A general question for all Section 8 proceedings</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-l">
      <li>Why is the matter opposed?</li>
    </ul>

<p class="govuk-heading-m">And finally...</p>
    <p class="govuk-body-l">Are there any other questions that you are asked in Requests for information (after submitting an application) from the LAA Caseworkers?</p>

    </div>
  </div>


  {% endblock %}
