{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "other_bank_radios"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Details about your income</h1>

    <form action="types_of_income" method="post" novalidate>

      <p class="govuk-body">We'll ask you to:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>select the types of income you receive</li>
              <li>sort the income types into categories</li>
            </ul>

    <!--  <h2 class="govuk-heading-m">What you need to do</h2>

            <ul class="govuk-list govuk-list--bullet">
              <li>Select the type of income you receive.</li>
              <li>Go through your bank statments selecting the income.</li>
              <li>Ensure you have shown all the income you receive.</li>
            </ul> -->

            <div class="govuk-!-padding-bottom-4"></div>

    <button type="submit" class="govuk-button">
      Continue
    </button>

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
