{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Property and mortgage
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "declare"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="income_enter" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Declare other payments
                </h1>
              </legend>

              <p class="govuk-body">You must declare any incoming and outgoing payments over the past 3 months that do not appear on your bank statements.</p>

              <p class="govuk-body">Examples include:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>cash (banknotes and coins)</li>
                <li>money sharing apps like PayPal or Splitwise</li>
                <li>cryptocurrencies like Bitcoin</li>
                </ul>

                <h2 class="govuk-heading-m">Incoming payments</h2>

                <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Amount</th>
      <th scope="col" class="govuk-table__header">Category</th>
      <th scope="col" class="govuk-table__header">Receipt attached</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">£100</td>
      <td class="govuk-table__cell">Financial help</td>
      <td class="govuk-table__cell">No</td>
    </tr>
  </tbody>
</table>

                <a class="govuk-button govuk-button--secondary" href="income_enter">
                  Add incoming payment
                </a>

                <h2 class="govuk-heading-m">Outgoing payments</h2>

            <!--    <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Amount</th>
      <th scope="col" class="govuk-table__header">Category</th>
      <th scope="col" class="govuk-table__header">Receipt attached</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">First 6 weeks</th>
      <td class="govuk-table__cell">£109.80 per week</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Next 33 weeks</th>
      <td class="govuk-table__cell">£109.80 per week</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total estimated pay</th>
      <td class="govuk-table__cell">£4,282.20</td>
    </tr>
  </tbody> -->
</table>

                <a class="govuk-button govuk-button--secondary" href="outgoing_enter">
                  Add outgoing payment
                </a>

            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>


        </form>
      </div>
    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
