{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Salary statement
{% endblock %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<style media="screen">
.dot{
  background-color:#005ea5;
}
.col_bespoke{
  width:15%;
}
.govuk-table__header{
  color: #0b0c0c;
  background-color: #dee0e2;
  border: 1px solid #bfc1c3;
  box-shadow: 0 2px 0 #b5babe;
  padding-left: 10px;
  text-align: left;
}
.th_bespoke{
  padding-right: 15px;
  position: relative;
}
.th_bespoke::before{
  /*down*/
  content:" \25bc";
  position: absolute;
  right: -1px;
  top: 11px;
  font-size: 0.6em;
}
.th_bespoke::after{
  /*up*/
  content:" \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.6em;
}
.th_bespoke_hover:hover{
  background-color: #c8cacb;
  cursor:pointer;
}
.govuk-table__head{
  position: relative;
}
.govuk-table__cell{
  padding-left: 10px;
}

</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="sort_income" method="post" novalidate>
      <span class="govuk-caption-xl">Client's means assessment</span>
      <h1 class="govuk-heading-xl">
        Select any benefits, charitable or government payments
      </h1>

      <p class="govuk-body">
        Include those received in the last 3 months.
      </p>

      <p class="govuk-body">Do not include Housing Benefit, Government Cost of Living Payments, or any other disregarded benefits and payments.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What not to include
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-heading-m">Government Cost of Living Payments</p>
          <p>Government Cost of Living Payments are disregarded from the financial eligibility calculation, for example:</p>
            <p> Pensioner Cost of Living Payment <br>
            Cost of Living Payment<br>
            Disability Cost of Living Payment<br>
            Household support fund <br>
            Council tax rebate<br>
            Energy Bills Support Scheme (EBSS) <br>
            Payments for those who are not served by mains gas <br></p>


          <p class="govuk-heading-m">Disregarded benefits and payments</p>
          <p>The following are disregarded from the financial eligibility calculation. They are known as mandatory disregards.</p>
          <p class="govuk-body"><strong>Carer and disability</strong><br>
            Attendance Allowance <br>
            Carer's Allowance<br>
            Community Care Direct Payments<br>
            Constant Attendance Allowance <br>
            Disability Living Allowance<br>
            Exceptionally Severe Disablement Allowance <br>
            Independent Living Fund <br>
            Payments on account of benefit <br>
            Personal Independence Payments (PIP) <br>
            Severe Disablement Allowance <br>
            Special Education Needs (SEN) Direct Payment <br>
            Welsh Independent Living Grant <br></p>

            <p class="govuk-body"><strong>Low income</strong><br>
              Budgeting Advance<br>
              Council Tax Reduction<br>
              Housing Benefit<br>
              Social Fund Funeral Payment <br>
              Social Fund payments <br>
              Universal Credit advance payments <br></p>

              <p class="govuk-body"><strong>Other</strong><br>
                Armed Forces Independence Payment <br>
                Compensation for miscarriage of justice <br>
                Foster Carers Allowance<br>
                Grenfell Tower Resident's Discretionary Fund<br>
                Grenfell Tower fire victims payments <br>
                Modern Slavery Victim Care Contract (MSVCC) payments <br>
                War Pensions Scheme payments<br>
                War Widow(er) Pension <br>
                Windrush Compensation Scheme Payments</p>

              </div>
            </details>

      <!-- <div class="govuk-inset-text">Select every payment from friends or family your client received in the past 3 months.</div> -->

      <div class="govuk-!-padding-bottom-4"></div>
      <table class="govuk-table">
        <caption class="govuk-table__caption" style="padding-bottom:10px;">1 January 2019 to 31 January 2019</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header th_bespoke_hover" style="width:12%"  scope="col"><span >Select all</span>
                </th>
                <th class="govuk-table__header th_bespoke_hover col_bespoke" scope="col">Date <img src="/public/images/filter_icon.svg" style=""></th>
                <th class="govuk-table__header th_bespoke_hover" style="width:auto" scope="col"><span class="th_bespoke">Description</span></th>
                <th class="govuk-table__header col_bespoke govuk-table__cell--numeric govuk-!-font-weight-bold th_bespoke_hover col_bespoke"  scope="col"><span class="th_bespoke">Amount</span></th>
                <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold th_bespoke_hover" scope="col"><span class="th_bespoke">Category</span></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                </td>
                <td class="govuk-table__cell">29 Jan 2019</td>
                <td class="govuk-table__cell">Work and child TC</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag">
                  Benefits and support
                </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
                  </div></td>
                  <td class="govuk-table__cell">27 Jan 2019</td>
                  <td class="govuk-table__cell">Greens Nurseries Ltd Salary</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£108.24</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">25 Jan 2019</td>
                  <td class="govuk-table__cell">Sky digital reversal of 25-01</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£56.79</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                  </td>
                  <td class="govuk-table__cell">25 Jan 2019</td>
                  <td class="govuk-table__cell">Universal Credit advance</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£144</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag">
                    Benefits and support
                  </strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                  </td>
                  <td class="govuk-table__cell">23 Jan 2019</td>
                  <td class="govuk-table__cell">Work and child TC</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£165.55</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag">
                    Benefits and support
                  </strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
                    </div></td>
                    <td class="govuk-table__cell">21 Jan 2019</td>
                    <td class="govuk-table__cell">Greens Nurseries Ltd Salary</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£116.40</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
                      </div></td>
                      <td class="govuk-table__cell">21 Jan 2019</td>
                      <td class="govuk-table__cell">Cash in Nationwide 21Jan</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                          <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
                        </div></td>
                        <td class="govuk-table__cell">19 Jan 2019</td>
                        <td class="govuk-table__cell">Sky digital reversal of 19-01</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£56.79</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                        </td>
                        <td class="govuk-table__cell">17 Jan 2019</td>
                        <td class="govuk-table__cell">Work and child TC</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag">
                          Benefits and support
                        </strong></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                            <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
                          </div></td>
                          <td class="govuk-table__cell">16 Jan 2019</td>
                          <td class="govuk-table__cell">Greens Nurseries Ltd Salary</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">£136.31</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                              <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
                            </div></td>
                            <td class="govuk-table__cell">16 Jan 2019</td>
                            <td class="govuk-table__cell">Cash in Nationwide 16Jan</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£130.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
                              </div></td>
                              <td class="govuk-table__cell">15 Jan 2019</td>
                              <td class="govuk-table__cell">Cash in Nationwide 15Jan</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">£250.00</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                              </td>
                              <td class="govuk-table__cell">11 Jan 2019</td>
                              <td class="govuk-table__cell">Work and child TC</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag">
                                Benefits and support
                              </strong></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                              </td>
                              <td class="govuk-table__cell">7 Jan 2019</td>
                              <td class="govuk-table__cell">Child benefit</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">£82.80</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag">
                                Benefits and support
                              </strong></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                                  <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
                                </div></td>
                                <td class="govuk-table__cell">7 Jan 2019</td>
                                <td class="govuk-table__cell">Greens Nurseries Ltd Salary</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£174.77</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">3 Jan 2019</td>
                                <td class="govuk-table__cell">Work and child TC</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag">
                                  Benefits and support
                                </strong></td>
                              </tr>
                            </tbody>
                          </table>

                          <div class="govuk-button-group">
                            <button type="submit" class="govuk-button">
                              Save and continue                            </button>
                              <a role="button" class="govuk-button draft-button">
                                Save and come back later
                              </a>
                            </div>

                          </form>

                        </div>
                      </div>


                      {% endblock %}
