{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Types of outgoing
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="outgoings_cash_truelayer" method="post" class="form">

      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <span class="govuk-caption-xl">Client's means assessment</span>
      <h1 class="govuk-fieldset__heading">
        Which of these payments does your client pay?
      </h1>
      </legend>
      <div id="nationality-hint" class="govuk-hint">
      Select all that apply.
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          Housing payments
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          For example, rent, mortgage or board and lodging.
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
          Childcare payments
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          For example, to a childminder, nanny or nursery.
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
          Maintenance payments from a former partner
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          This includes child maintenance.
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
          Payments towards legal aid in a criminal case
        </label>
      </div>

      <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" data-behaviour="exclusive">
              <label class="govuk-label govuk-checkboxes__label" for="countries-5">
                None of these
              </label>
            </div>

      </div>
      </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button">
          Save and continue
        </button>
        <a role="button" class="govuk-button draft-button">
          Save and come back later
        </a>
      </div>


    </form>
  </div>
</div>

{% endblock %}
