{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Property and mortgage
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="add_benefit_details" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">Client's means assessment</span>
            <h1 class="govuk-fieldset__heading">
              Does your client get any benefits, charitable or government payments?
            </h1>
          </legend>



          <p class="govuk-body">
            For example, Child Benefit or tax credits.
          </p>

          <p class="govuk-body">Do not include Housing Benefit, Government Cost of Living Payments, or any other disregarded benefits and payments.</p>


          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What not to include
              </span>
            </summary>
            <div class="govuk-details__text">

              <p class="govuk-heading-m">Government Cost of Living Payments</p>
              <p>Government Cost of Living Payments are disregarded from the financial eligibility calculation, for example:</p>
                <p> Pensioner Cost of Living Payment <br>
                Cost of Living Payment<br>
                Disability Cost of Living Payment<br>
                Household support fund <br>
                Council tax rebate<br>
                Energy Bills Support Scheme (EBSS) <br>
                Payments for those who are not served by mains gas <br></p>


              <p class="govuk-heading-m">Disregarded benefits and payments</p>
              <p>The following are disregarded from the financial eligibility calculation. They are known as mandatory disregards.</p>
              <p class="govuk-body"><strong>Carer and disability</strong><br>
                Attendance Allowance <br>
                Carer's Allowance<br>
                Community Care Direct Payments<br>
                Constant Attendance Allowance <br>
                Disability Living Allowance<br>
                Exceptionally Severe Disablement Allowance <br>
                Independent Living Fund <br>
                Payments on account of benefit <br>
                Personal Independence Payments (PIP) <br>
                Severe Disablement Allowance <br>
                Special Education Needs (SEN) Direct Payment <br>
                Welsh Independent Living Grant <br></p>

                <p class="govuk-body"><strong>Low income</strong><br>
                  Budgeting Advance<br>
                  Housing Benefit<br>
                  Social Fund Funeral Payment <br>
                  Social Fund payments <br>
                  Universal Credit advance payments <br></p>

                  <p class="govuk-body"><strong>Other</strong><br>
                    Armed Forces Independence Payment <br>
                    Compensation for miscarriage of justice <br>
                    Foster Carers Allowance<br>
                    Grenfell Tower Resident's Discretionary Fund<br>
                    Grenfell Tower fire victims payments <br>
                    Infected Blood Support Scheme (includes Infected Blood Interim Compensation Payment Scheme,  Infected Blood Further Interim Compensation Payment Scheme, Infected Blood Compensation Scheme or earlier support schemes) <br>
                    Scotland and Northern Ireland Redress Schemes for historical child abuse <br>
                    Modern Slavery Victim Care Contract (MSVCC) payments <br>
                    War Pensions Scheme payments<br>
                    War Widow(er) Pension <br>
                    Windrush Compensation Scheme Payments</p>

                  </div>
                </details>

                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="benefitsyes" name="benefits" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="benefitsyes">
                      Yes</label>


                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="benefitsno" name="benefits" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="benefitsno">
                        No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="govuk-button-group">
                  <button type="submit" class="govuk-button">
                    Save and continue
                  </button>
                  <a role="button" class="govuk-button draft-button">
                    Save and come back later
                  </a>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

      {% endblock %}
