{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "/team_folders/stevey/benefits/income"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your client's benefits</h1>

    <p class="govuk-heading-s">
    We have identified that your client has the following benefits in their bank account.</p>

    <p class="govuk-heading-s">
    Add benefits your client recieved from 18 November 2019 to 18 Feburary 2020.</p>

      <ol class="app-task-list">
        <li>

          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Benefits
          </h2>
          <ul class="app-task-list__items">
            <table class="govuk-table" style="margin-bottom:0px;">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Date</th>
                  <th class="govuk-table__header" scope="col">Description</th>
                  <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>
                  <th class="govuk-table__header" scope="col"></th>
                </tr>
              </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">29 Jan 2019</td>
                <td class="govuk-table__cell">Attendance Allowance</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">23 Jan 2019</td>
                <td class="govuk-table__cell">Bereavement Allowance</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">17 Jan 2019</td>
                <td class="govuk-table__cell">Carer’s Allowance</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">11 Jan 2019</td>
                <td class="govuk-table__cell">Child tax credit</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">7 Jan 2019</td>
                <td class="govuk-table__cell">Flat Rate Maintenance</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£82.80</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">3 Jan 2018</td>
                <td class="govuk-table__cell">Guaranteed Minimum Pension </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">3 Jan 2018</td>
                <td class="govuk-table__cell">Housing benefit</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>


              </tbody>
              </table>
            <li class="app-task-list__item">
              <a class="govuk-body" href="incoming/financial_help" aria-describedby="eligibility-completed">
                Add benefits payments
              </a>
            </li>
          </ul>
        </li>
        <li>

        </li>
        <!-- <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">  <img src="/public/images/plus_icon.svg"> </span> <a  href="#" aria-describedby="eligibility-completed">
              Add another type of income
            </a>
          </h2>
        </li> -->
      </ol>

      <!-- <p class="govuk-body">
          <a href="types_of_income3" class="govuk-link">Add another type of income</a>
        </p> -->

        <div class="govuk-!-padding-bottom-6"></div>

        <a href="dependants" role="button" class="govuk-button">
          Save and continue
        </a>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
