{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Alternative funding
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="interrupt_not_SCA" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">Prohibited steps order</span>
            <h1 class="govuk-fieldset__heading">
              Is this proceeding for a change of name application?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="proceeding-issued" name="proceeding-issued" type="radio" value="yes" aria-describedby="proceeding-issued-item-hint">
              <label class="govuk-label govuk-radios__label" for="proceeding-issued">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="proceeding-issued-2" name="proceeding-issued" type="radio" value="no" aria-describedby="proceeding-issued-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="proceeding-issued-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-!-margin-bottom-3"</div>

        <button type="submit" class="govuk-button">
          Save and continue
        </button>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

      </form>
    </div>
  </div>

  {% endblock %}
