<form class="" action="index.html" method="post">

</form>{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check your answers - Merits
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<style media="screen">
.govuk-summary-list__key {
  width: 40%;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">Client details and what they are applying for</span>

    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    <h2 class="govuk-heading-l">
      Client
    </h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Client details</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
              Sam
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> first name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last name
            </dt>
            <dd class="govuk-summary-list__value">
              Doe
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> last name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last name at birth
            </dt>
            <dd class="govuk-summary-list__value">
              Jones
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> last name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              1 Jan 1980
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Where to send client's mail
            </dt>
            <dd class="govuk-summary-list__value">
              Another residential address
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> where to send client's mail</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Main Street</br>London</br> SE15 5NP
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Correspondence address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Care of recipient
            </dt>
            <dd class="govuk-summary-list__value">
              Jane Doe
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> care of recipient</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Client has a home address?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> client has a home address?</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value">
              33 High Street</br>London</br> SW12 3AN
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              QQ 12 34 56 C
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> National Insurance number</span>
              </a>
            </dd>
          </div>
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does your client have a partner?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Does your client have a partner?</span>
              </a>
            </dd>
          </div> -->
        </dl>
      </div>
    </div>

    <h2 class="govuk-heading-l">
      Cases linked to this one
    </h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Linking</h2>
      </div>

      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Link to another application?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="link_case">
                Change<span class="govuk-visually-hidden"> link application answer</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Family link made to
            </dt>
            <dd class="govuk-summary-list__value">
              Client Name, LAA ref, Proceeding name.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="link_case">
                Change<span class="govuk-visually-hidden"> application linked to answer</span>
              </a>
            </dd>
            </div>

          </dl>
        </div>
      </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">All applications with a family link to this one</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Client name 1
                </dt>
                <dd class="govuk-summary-list__value">
                  LAA ref</br>
                  Proceeding name 1</br>
                  Proceeding name 2
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Client name 2
                  </dt>
                  <dd class="govuk-summary-list__value">
                    LAA ref</br>
                    Proceeding name 1</br>
                    Proceeding name 2
                  </dd>
                  </div>

                </dl>
              </div>
          </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Copying</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="client_involvement_type_proceeding_02">
              Change<span class="govuk-visually-hidden"> proceeding name details</span>
            </a>
          </li>
        </ul>
        </div>


        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Copy from another application?
              </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                </div>
                <!-- <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Application copied
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Client Name, A-BCD-E1F, Proceeding name 1.
                  </dd>
                </div> -->


              </dl>
            </div>
          </div>



    <h2 class="govuk-heading-l">
      What you're applying for
    </h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Proceedings</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> proceedings</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Proceeding 1
          </dt>
          <dd class="govuk-summary-list__value">Supervision order<br>
          <div id="parental-responsibility-hint" class="govuk-hint">
            Special children act (SCA), family
          </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Proceeding 2
          </dt>
          <dd class="govuk-summary-list__value">Prohibited steps order<br>
          <div id="parental-responsibility-hint" class="govuk-hint">
            Special children act (SCA),family
          </div>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Supervision order</h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action"> <a class="govuk-link" href="client_involvement_type">
          Change<span class="govuk-visually-hidden"> Proceeding name details</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Client role
        </dt>
        <dd class="govuk-summary-list__value">
          Defendant or respondent
        </dd>
      </div>
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Proceeding has been issued?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Vary, discharge or extend existing supervision order?
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div> -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Delegated functions
        </dt>
        <dd class="govuk-summary-list__value">
          23 Aug 2023
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Substantive level of service
        </dt>
        <dd class="govuk-summary-list__value">
          Full representation
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__key">
          Substantive scope limits
        </dt>
        <dd class="govuk-summary-list__value">
          Final hearing
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Prohibited steps order</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="client_involvement_type_proceeding_02">
        Change<span class="govuk-visually-hidden"> proceeding name details</span>
      </a>
    </li>
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Client role
      </dt>
      <dd class="govuk-summary-list__value">
        Applicant, claimant or petitioner
      </dd>
    </div>
    <!-- <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Heard with 'supervision order' proceeding?
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Heard as an alternative to the 'supervision order' proceeding?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Change of name application?
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
    </div> -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Delegated functions
      </dt>
      <dd class="govuk-summary-list__value">
        23 Aug 2023
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Substantive level of service
      </dt>
      <dd class="govuk-summary-list__value">
        Full representation
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Substantive scope limits
      </dt>
      <dd class="govuk-summary-list__value">
        Final hearing
      </dd>
    </div>
  </dl>
</div>
</div>

<!-- <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Substantive cost limit</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> substantive cost limit</span>
      </a>
    </li>
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Higher cost limit requested
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Amount requested
      </dt>
      <dd class="govuk-summary-list__value">
        £4,000
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Reason
      </dt>
      <dd class="govuk-summary-list__value">
        Lorem ipsum dolor sit amet, consectetur adipiscing
      </dd>
    </div>
  </dl>
</div>
</div> -->

<!-- <h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">We’ll use your client’s name, date of birth and National Insurance number to check their benefit status with the Department for Work and Pensions (DWP).</p>

<br> -->



<div class="govuk-button-group">
  <a class="govuk-button" href="../merits/merits_tasklist" data-module="govuk-button">
    Save and continue
  </a>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Save and come back later
  </button>
</div>

</div>
</div>

{% endblock %}
