{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Statement of case
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="heard_as_an_alternative_to" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">Prohibited steps order</span>

            <h1 class="govuk-fieldset__heading">
            Will this proceeding be heard together with any of the core proceedings?
            </h1>
          </legend>
          
          <p class="govuk-body">These are:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Supervision order</li>
              <li>Emergency protection order - discharge</li>
            </ul>

          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="heard-together-with" name="heard-together-with" type="radio" value="no" data-aria-controls="conditional-heard-together-with">
              <label class="govuk-label govuk-radios__label" for="heard-together-with">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="heard-together-with-2" name="heard-together-with" type="radio" value="yes" data-aria-controls="conditional-heard-together-with-2">
              <label class="govuk-label govuk-radios__label" for="heard-together-with-2">
                No
              </label>
            </div>


            </div>

            <br><br>



          <button type="submit" class="govuk-button">
            Save and continue
          </button>

          <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>

        </form>
      </div>
    </div>

{% endblock %}
