
.dot{
 background-color:#005ea5;
}

.col_bespoke{
    width:15%;
}

.govuk-table {
    height: 40em;
    overflow-y: scroll;
    display: block
}

.govuk-table__header{
    color: #0b0c0c;
    background-color: #dee0e2;
    border: 1px solid #bfc1c3;
    box-shadow: 0 2px 0 #b5babe;
    padding-left: 10px;
    text-align: left;
}
.th_bespoke{
    padding-right: 15px;
    position: relative;
}
.th_bespoke::before{
    /*down*/
    content:" \25bc";
    position: absolute;
    right: -1px;
    top: 11px;
    font-size: 0.6em;
}
.th_bespoke::after{
    /*up*/
    content:" \25b2";
    position: absolute;
    right: -1px;
    top: 1px;
    font-size: 0.6em;
}
.th_bespoke_hover:hover{
    background-color: #c8cacb;
    cursor:pointer;
}
.govuk-table__head{
    position: relative;
}
.govuk-table__cell{
    padding-left: 10px;
}
