{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Homepage
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{% endblock %}

{% block content %}
<style media="screen">
.govuk-checkboxes--small .govuk-checkboxes__label::before{
  /*top: 10px;
  left: 9px;
  width: 24px;
  height: 24px;*/
}
.govuk-checkboxes--small .govuk-checkboxes__label{
  padding-left: 30px;
  padding-top: 4px;
  padding-bottom: 0px;
}

table .govuk-tag {
  white-space: nowrap;
  /*background-color: black;*/
  color: #005ea5;
  background-color: white;
  border: 2px solid #005ea5;
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
}
.dot{
  background-color:#005ea5;
}
.col_bespoke{
  width:auto;
}
.govuk-table__header{
  color: #0b0c0c;
  background-color: #dee0e2;
  border: 1px solid #bfc1c3;
  box-shadow: 0 2px 0 #b5babe;
  padding-left: 10px;
  text-align: left;
}
.th_bespoke{
  padding-right: 15px;
  position: relative;
}
.th_bespoke::before{
  /*down*/
  content:" \25bc";
  position: absolute;
  right: -1px;
  top: 11px;
  font-size: 0.6em;
}
.th_bespoke::after{
  /*up*/
  content:" \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.6em;
}
.th_bespoke_hover:hover{
  background-color: #c8cacb;
  cursor:pointer;
}
.govuk-table__head{
  position: relative;
}
.govuk-table__cell{
  padding-left: 10px;
}

</style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-padding-top-4"></div>

    <h1 class="govuk-heading-xl">Legal aid applications</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Make an application</h2>
    <p class="govuk-body">Tell us the basic case details and check if your client receives benefits that qualify for legal aid.</p>

    <a href="delegated_functions" class="govuk-button govuk-button__start ">
      Start application
    </a>

  </div>

</div>

<div class="govuk-!-padding-top-6"></div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m">Current applications
    </h3>
    <div class="govuk-checkboxes govuk-checkboxes--small" style="display:inline; padding-left:0px; margin-left:0px;">
      <div style="display:inline" class="govuk-body govuk-!-font-weight-normal">
        <span class="govuk-checkboxes__item" style="display:inline; margin-left:0px; padding:8px 20px">
          <input class="govuk-checkboxes__input" id="organisation-1" name="organisation" type="checkbox" value="hmrc">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-1">
            Show only 'notified of delegation'
          </label>
        </span>
      </div>
    </div>
    <a href="search" class="govuk-button govuk-button--secondary" style="background-color:#dee0e2; color:#0b0c0c; float:right">
      <img src="/public/images/search_icon.svg" alt="" style="height:20px; margin:-5px 5px -5px 0px !important; padding:0px !important" />
      Find an application</a>
    </div>

  </div>

  <!-- <div class="govuk-!-padding-top-3"></div> -->

  <table class="govuk-table">



    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header th_bespoke_hover col_bespoke" scope="col"><span class="th_bespoke">Name</span>
        </th>
        <th class="govuk-table__header th_bespoke_hover col_bespoke" scope="col">Date <img src="/public/images/filter_icon.svg" style=""></th>
        <th class="govuk-table__header th_bespoke_hover" style="width:auto" scope="col"><span class="th_bespoke">Reference</span></th>
        <th class="govuk-table__header col_bespoke govuk-table__cell--numeric govuk-!-font-weight-bold th_bespoke_hover col_bespoke"  scope="col"><span class="th_bespoke">Status</span></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="">David Francis</a></td>
        <td class="govuk-table__cell">19 Mar 2019</td>
        <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
        <td class="govuk-table__cell"><span class="dot" style="background-color:#005ea5;"></span> Application submitted</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="">Gwen McCrae</a></td>
        <td class="govuk-table__cell">19 Mar 2019</td>
        <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
        <td class="govuk-table__cell"><span class="dot" style="background-color:#f47738;"></span> Notified of delegation</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="">Patrice Sokda</a></td>
        <td class="govuk-table__cell">19 Mar 2019</td>
        <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
        <td class="govuk-table__cell"><span class="dot"></span> In progress</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="">Rita Patel</a></td>
        <td class="govuk-table__cell">18 Mar 2019</td>
        <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
        <td class="govuk-table__cell"><span class="dot"></span> Client details complete</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="">Steve Smith</a></td>
        <td class="govuk-table__cell">17 Mar 2019</td>
        <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
        <td class="govuk-table__cell"><span class="dot"></span> Means test complete</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="">Patty LaBelle</a></td>
        <td class="govuk-table__cell">17 Mar 2019</td>
        <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
        <td class="govuk-table__cell"><span class="dot"></span> Merits test complete</td>
      </tr>

    </tbody>
  </table>

  <div class="govuk-body pagination__summary">Showing 1 &ndash; 3 of 3 results</div>
  <ul class="govuk-body pagination">
    <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 1">1</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
    <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 3, current page">3</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
  </ul>


</div>

</div>

{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
    {
      href: "#",
      text: "Contact"
    },
    {
      href: "#",
      text: "Feedback"
    },
    {
      href: "https://www.gov.uk/help/cookies",
      text: "Cookies"
    },
    {
      href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
      text: "Terms and conditions"
    },
    {
      href: "https://mojdigital.blog.gov.uk/",
      text: "MOJ Digital Services"
    },
    {
      href: "/prototype-admin/clear-data",
      text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}
