{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Homepage
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
<style media="screen">
/*.govuk-checkboxes--small .govuk-checkboxes__label::before{
top: 9px;
left: 9px;
width: 24px;
height: 24px;
}
.govuk-checkboxes--small .govuk-checkboxes__label{
padding-left: 24px;
}*/

.hmcts-action-bar__filter:after {
  display: none;
}

.col_bespoke{
  width:auto;
}
.govuk-table__header{
  color: #0b0c0c;
  background-color: #dee0e2;
  border: 1px solid #bfc1c3;
  box-shadow: 0 2px 0 #b5babe;
  padding-left: 10px;
  text-align: left;
}
.th_bespoke{
  padding-right: 15px;
  position: relative;
}
.th_bespoke::before{
  /*down*/
  content:" \25bc";
  position: absolute;
  right: -1px;
  top: 11px;
  font-size: 0.6em;
}
.th_bespoke::after{
  /*up*/
  content:" \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.6em;
}
.th_bespoke_hover:hover{
  background-color: #c8cacb;
  cursor:pointer;
}
.govuk-table__head{
  position: relative;
}
.govuk-table__cell{
  padding-left: 10px;
}


</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-padding-top-4"></div>

    <h1 class="govuk-heading-xl">Legal aid applications</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Make an application</h2>
    <p class="govuk-body">Tell us the basic case details and check if your client receives benefits that qualify for legal aid.</p>

    <a href="delegated_functions" class="govuk-button govuk-button__start ">
      Start application
    </a>

  </div>

  <!-- <div class="govuk-grid-column-one-third">
  <h2 class="govuk-heading-m">Find an application</h2>
  <a href="search" class="govuk-button govuk-button--secondary" style="background-color:#dee0e2; color:#0b0c0c">
  Search applications
</a>
</div> -->

</div>

<div class="govuk-!-padding-top-6"></div>

<div class="app-example-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"><h3 class="govuk-heading-m ">Current applications</h3></div>
    <div class="govuk-grid-column-one-third">
      <!-- <a href="search" class="govuk-button govuk-button--secondary" style="background-color:#dee0e2; color:#0b0c0c; float:right;">Find an application</a> -->
    </div>
  </div>

  <div class="hmcts-filter-layout">

    <div class="hmcts-filter-layout__filter">



      <div class="hmcts-filter hmcts-hidden" tabindex="-1">

        <div class="hmcts-filter__header">

          <div class="hmcts-filter__header-title">
            <h2 class="govuk-heading-m">Filter</h2>
          </div>

          <div class="hmcts-filter__header-action">

          </div>

        </div>

        <div class="hmcts-filter__content">



          <!-- <div class="hmcts-filter__selected"> -->

          <!-- <div class="hmcts-filter__selected-heading"> -->

          <!-- <div class="hmcts-filter__heading-title">
          <h2 class="govuk-heading-m">Selected filters</h2>
        </div>

        <div class="hmcts-filter__heading-action">
        <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
      </div> -->

      <!-- </div> -->


      <!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Type</h3>

      <ul class="hmcts-filter-tags">

      <li><a class="hmcts-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Family law</a></li>

    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>

    <ul class="hmcts-filter-tags">

    <li><a class="hmcts-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Notified of delegation</a></li>

  </ul> -->


  <!-- </div> -->


  <div class="hmcts-filter__options">


    <!-- <button type="submit" class="govuk-button">
    Apply filters
  </button> -->
  <!--
  <div class="govuk-form-group">
  <label class="govuk-label govuk-label--m" for="keywords">
  Keywords
</label>


<input class="govuk-input" id="keywords" name="keywords" type="text">
</div> -->


<!-- <div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

Type

</legend>


<div class="govuk-checkboxes govuk-checkboxes--small">

<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="type-1" name="type" type="checkbox" value="1" checked="">
<label class="govuk-label govuk-checkboxes__label" for="type-1">
Family law (18)
</label>
</div>


</div>
</fieldset>


</div> -->


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

      Status
      <div class="hmcts-filter__heading-action" style="position:relative; left:10px; top: 10px">
        <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
      </div>

    </legend>


    <div class="govuk-checkboxes govuk-checkboxes--small">

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="status-1" name="status" type="checkbox" value="1" checked="">
        <label class="govuk-label govuk-checkboxes__label" for="status-1">
          Notified of delegation
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="2">
        <label class="govuk-label govuk-checkboxes__label" for="status-2">
          Means incomplete
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="2">
        <label class="govuk-label govuk-checkboxes__label" for="status-3">
          Merits incomplete
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="status-4" name="status" type="checkbox" value="magistrate">
        <label class="govuk-label govuk-checkboxes__label" for="status-4">
          Submitted
        </label>
      </div>


    </div>
  </fieldset>


</div>



</div>
</div>
<button type="submit" class="govuk-button" style="margin:20px">
  Apply filters
</button>
</div>

</div>
<!-- <h3 class="govuk-heading-m">Current applications</h3> -->
<div class="hmcts-filter-layout__content">
  <div class="hmcts-action-bar">
    <div class="hmcts-action-bar__filter"></div>
    <div class="hmcts-menu">
      <div class="hmcts-menu__wrapper">






        <!-- <button type="submit" class="govuk-button hmcts-menu__item hmcts-button--secondary ">
        Reassign
      </button> -->
      <a href="search" class="govuk-button govuk-button--secondary" style="background-color:#dee0e2; color:#0b0c0c;">
        <img src="/public/images/search_icon.svg" alt="" style="height:20px; margin:-5px 5px -5px 0px !important; padding:0px !important" />
         Find an application</a>







        <!-- <button type="submit" class="govuk-button hmcts-menu__item hmcts-button--secondary ">
        Archive
      </button> -->


    </div>
  </div>
<p class="govuk-body"style="margin-top:-20px">
  1 filter active
</p>


</div>

<div class="hmcts-scrollable-pane">

  <div class="hmcts-scrollable-pane__wrapper">

    <table class="govuk-table">



      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header th_bespoke_hover col_bespoke" scope="col"><span class="th_bespoke">Name</span>
        </th>
        <th class="govuk-table__header th_bespoke_hover col_bespoke" scope="col">Date <img src="/public/images/filter_icon.svg" style=""></th>
        <th class="govuk-table__header th_bespoke_hover" style="width:auto" scope="col"><span class="th_bespoke">Reference</span></th>
        <th class="govuk-table__header col_bespoke govuk-table__cell--numeric govuk-!-font-weight-bold th_bespoke_hover col_bespoke"  scope="col"><span class="th_bespoke">Status</span></th>
      </tr>
    </thead>

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">David Francis</a></td>
          <td class="govuk-table__cell">19 Mar 2019</td>
          <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell"><span class="dot" style="background-color:#005ea5;"></span> Application submitted</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Gwen McCrae</a></td>
          <td class="govuk-table__cell">19 Mar 2019</td>
          <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell"><span class="dot" style="background-color:#f47738;"></span> Notified of delegation</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Patrice Sokda</a></td>
          <td class="govuk-table__cell">19 Mar 2019</td>
          <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell"><span class="dot"></span> In progress</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Rita Patel</a></td>
          <td class="govuk-table__cell">18 Mar 2019</td>
          <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell"><span class="dot"></span> Client details complete</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Steve Smith</a></td>
          <td class="govuk-table__cell">17 Mar 2019</td>
          <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell"><span class="dot"></span> Means test complete</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Patty LaBelle</a></td>
          <td class="govuk-table__cell">17 Mar 2019</td>
          <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
          <td class="govuk-table__cell"><span class="dot"></span> Merits test complete</td>
        </tr>

      </tbody>
    </table>
    <div class="govuk-body pagination__summary">Showing 1 &ndash; 3 of 3 results</div>
    <ul class="govuk-body pagination">
      <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
      <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 1">1</a></li>
      <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
      <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 3, current page">3</a></li>
      <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
      <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
      <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
    </ul>


    </div>

  </div>

</div>
</div>

</div>



</div>

{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
    {
      href: "#",
      text: "Contact"
    },
    {
      href: "#",
      text: "Feedback"
    },
    {
      href: "https://www.gov.uk/help/cookies",
      text: "Cookies"
    },
    {
      href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
      text: "Terms and conditions"
    },
    {
      href: "https://mojdigital.blog.gov.uk/",
      text: "MOJ Digital Services"
    },
    {
      href: "/prototype-admin/clear-data",
      text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}

{% block pageScripts %}
<script>
new HMCTSFrontend.FilterToggleButton({
  bigModeMediaQuery: '(min-width: 48.063em)',
  startHidden: true,
  toggleButton: {
    container: $('.hmcts-action-bar__filter'),
    showText: 'Show filter',
    hideText: 'Hide filter',
    classes: 'hmcts-button--secondary'
  },
  closeButton: {
    container: $('.hmcts-filter__header-action'),
    text: 'Close'
  },
  filter: {
    container: $('.hmcts-filter')
  }
});
</script>
{% endblock %}
