{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Homepage
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
<style media="screen">
/*.govuk-checkboxes--small .govuk-checkboxes__label::before{
  top: 9px;
  left: 9px;
  width: 24px;
  height: 24px;
}
.govuk-checkboxes--small .govuk-checkboxes__label{
  padding-left: 24px;
}*/

.hmcts-action-bar__filter:after {
  display: none;
}

</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-padding-top-4"></div>

    <h1 class="govuk-heading-xl">Legal aid applications</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Make an application</h2>
    <p class="govuk-body">Tell us the basic case details and check if your client receives benefits that qualify for legal aid.</p>

    <a href="delegated_functions" class="govuk-button govuk-button__start ">
      Start application
    </a>

  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Find an application</h2>
    <!-- <p class="govuk-body">Search existing legal aid applications.</p> -->

    <a href="search" class="govuk-button govuk-button--secondary" style="background-color:#dee0e2; color:#0b0c0c">
      Search applications
    </a>

  </div>
</div>

<div class="govuk-!-padding-top-8"></div>

<div class="app-example-page">

<div class="hmcts-filter-layout">

  <div class="hmcts-filter-layout__filter">



<div class="hmcts-filter hmcts-hidden" tabindex="-1">

  <div class="hmcts-filter__header">

    <div class="hmcts-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>

    <div class="hmcts-filter__header-action">

</div>

  </div>

  <div class="hmcts-filter__content">



      <div class="hmcts-filter__selected">

        <div class="hmcts-filter__selected-heading">

          <div class="hmcts-filter__heading-title">
            <h2 class="govuk-heading-m">Selected filters</h2>
          </div>

          <div class="hmcts-filter__heading-action">
            <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
          </div>

        </div>


          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Type</h3>

          <ul class="hmcts-filter-tags">

              <li><a class="hmcts-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Family law</a></li>

          </ul>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>

          <ul class="hmcts-filter-tags">

              <li><a class="hmcts-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Notified of delegation</a></li>

          </ul>


      </div>


    <div class="hmcts-filter__options">


<button type="submit" class="govuk-button">
  Apply filters
</button>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--m" for="keywords">
    Keywords
  </label>


  <input class="govuk-input" id="keywords" name="keywords" type="text">
</div>


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

    Type

  </legend>


  <div class="govuk-checkboxes govuk-checkboxes--small">

    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="type-1" name="type" type="checkbox" value="1" checked="">
      <label class="govuk-label govuk-checkboxes__label" for="type-1">
        Family law (18)
      </label>
    </div>


  </div>
  </fieldset>


</div>


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

    Status

  </legend>


  <div class="govuk-checkboxes govuk-checkboxes--small">

    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="status-1" name="status" type="checkbox" value="1" checked="">
      <label class="govuk-label govuk-checkboxes__label" for="status-1">
        Notified of delegation
      </label>
    </div>

    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="2">
      <label class="govuk-label govuk-checkboxes__label" for="status-2">
        Means incomplete
      </label>
    </div>

    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="2">
      <label class="govuk-label govuk-checkboxes__label" for="status-3">
        Merits incomplete
      </label>
    </div>

    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="status-4" name="status" type="checkbox" value="magistrate">
      <label class="govuk-label govuk-checkboxes__label" for="status-4">
        Submitted
      </label>
    </div>


  </div>
  </fieldset>


</div>




    </div>

  </div>

</div>

  </div>
<h3 class="govuk-heading-m">Current applications</h3>
  <div class="hmcts-filter-layout__content">
  <div class="hmcts-action-bar">
    <div class="hmcts-action-bar__filter"></div>
<div class="hmcts-menu">
  <div class="hmcts-menu__wrapper">






<!-- <button type="submit" class="govuk-button hmcts-menu__item hmcts-button--secondary ">
  Reassign
</button>







<button type="submit" class="govuk-button hmcts-menu__item hmcts-button--secondary ">
  Archive
</button> -->


  </div>
</div>



  </div>

  <div class="hmcts-scrollable-pane">

    <div class="hmcts-scrollable-pane__wrapper">

      <table class="govuk-table">



  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th class="govuk-table__header" scope="col">Name</th>

      <th class="govuk-table__header" scope="col">Date</th>

      <th class="govuk-table__header" scope="col">Reference</th>

      <th class="govuk-table__header" scope="col">Status</th>

      <th class="govuk-table__header" scope="col">Action</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">David Francis</td>
      <td class="govuk-table__cell">19 Mar 2019</td>
      <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
      <td class="govuk-table__cell"><span class="dot" style="background-color:#005ea5;"></span> Application submitted</td>
      <td class="govuk-table__cell"><a href="read_only">View application</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Gwen McCrae</td>
      <td class="govuk-table__cell">19 Mar 2019</td>
      <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
      <td class="govuk-table__cell"><span class="dot" style="background-color:#f47738;"></span> Notified of delegation</td>
      <td class="govuk-table__cell"><a href="#">Complete application</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Patrice Sokda</td>
      <td class="govuk-table__cell">19 Mar 2019</td>
      <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
      <td class="govuk-table__cell"><span class="dot"></span> In progress</td>
      <td class="govuk-table__cell"><a href="#">Return to application</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Rita Patel</td>
      <td class="govuk-table__cell">18 Mar 2019</td>
      <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
      <td class="govuk-table__cell"><span class="dot"></span> Client details complete</td>
      <td class="govuk-table__cell"><a href='#'>Return to application</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Steve Smith</td>
      <td class="govuk-table__cell">17 Mar 2019</td>
      <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
      <td class="govuk-table__cell"><span class="dot"></span> Means test complete</td>
      <td class="govuk-table__cell"><a href="#">Return to application</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Patty LaBelle</td>
      <td class="govuk-table__cell">17 Mar 2019</td>
      <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
      <td class="govuk-table__cell"><span class="dot"></span> Merits test complete</td>
      <td class="govuk-table__cell"><a href="#">Return to application</a></td>
    </tr>

  </tbody>
</table>

    </div>

  </div>
</div>

  </div>



</div>

{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
    {
      href: "#",
      text: "Contact"
    },
    {
      href: "#",
      text: "Feedback"
    },
    {
      href: "https://www.gov.uk/help/cookies",
      text: "Cookies"
    },
    {
      href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
      text: "Terms and conditions"
    },
    {
      href: "https://mojdigital.blog.gov.uk/",
      text: "MOJ Digital Services"
    },
    {
      href: "/prototype-admin/clear-data",
      text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}

{% block pageScripts %}
<script>
  new HMCTSFrontend.FilterToggleButton({
    bigModeMediaQuery: '(min-width: 48.063em)',
    startHidden: true,
    toggleButton: {
      container: $('.hmcts-action-bar__filter'),
      showText: 'Show filter',
      hideText: 'Hide filter',
      classes: 'hmcts-button--secondary'
    },
    closeButton: {
      container: $('.hmcts-filter__header-action'),
      text: 'Close'
    },
    filter: {
      container: $('.hmcts-filter')
    }
  });
</script>
{% endblock %}
