{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check your answers - Merits
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "prospects_of_success"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

    <!--  <h2 class="govuk-heading-m">
        Scope of legal aid
      </h2>

    <dl class="app-check-your-answers app-check-your-answers--long" style="margin-bottom: 60px;">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Proceeding
        </dt>
        <dd class="app-check-your-answers__answer">
          Non-molestation order{{ data['...'] }}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="search#search">
            Change <span class="govuk-visually-hidden">proceeding</span>
          </a>
        </dd>
      </div>
   </dl>

        <h2 class="govuk-heading-m">
          Capital assessment
        </h2>

      <dl class="app-check-your-answers app-check-your-answers--long" style="margin-bottom: 60px;">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            House or mortgage
          </dt>
          <dd class="app-check-your-answers__answer">
            No{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Savings, bonds, stocks and shares
          </dt>
          <dd class="app-check-your-answers__answer">
            No{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Anything that can contribute to the legal costs
          </dt>
          <dd class="app-check-your-answers__answer">
            No{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change <span class="govuk-visually-hidden">blank</span>
            </a>
          </dd>
        </div>
     </dl> -->

     <h2 class="govuk-heading-m">
       Details of the latest incident
     </h2>

     <dl class="app-check-your-answers app-check-your-answers--long">
       <div class="app-check-your-answers__contents">

         <dt class="app-check-your-answers__question">
           When did your client tell you about the latest domestic abuse incident?
         </dt>
         <dd class="app-check-your-answers__answer">
           2 April 2019{{ data['...'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="#">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           When did the latest incident occur?
         </dt>
         <dd class="app-check-your-answers__answer">
           1 April 2019{{ data['...'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="#">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           What happened during the incident?
         </dt>
         <dd class="app-check-your-answers__answer">
          {{ data['...'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="#">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>
</dl>
<br><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">Respondent details</h2>
</div>
<div class="govuk-grid-column-one-third">
  <p><a class="govuk-link" style="float:right;" href="injunction_details">Change</a></p>
</div>
</div>

<table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row"><strong>Does the respondent have the mental capacity to understand the terms of a court order?</strong></th>
        <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>

        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row"><strong>Has a warning letter been sent to the respondent?</strong></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row"><strong>Have the police been notified?</strong></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row"><strong>Have bail conditions been set?</strong></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>
      </tbody>
    </table>

<!--
<h2 class="govuk-heading-m">
  Respondent details
</h2>
<dl class="app-check-your-answers app-check-your-answers--long">
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           Does the respondent have the mental capacity to understand the terms of a court order?
         </dt>
         <dd class="app-check-your-answers__answer">
           Yes{{ data['...'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="#">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           Has a warning letter been sent to the respondent?
         </dt>
         <dd class="app-check-your-answers__answer">
           Yes{{ data['...'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="#">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>

       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           Have the police been notified?
         </dt>
         <dd class="app-check-your-answers__answer">
           Yes{{ data['...'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="#">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           Have bail conditions been set?
         </dt>
         <dd class="app-check-your-answers__answer">
           Yes{{ data['...'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="#">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>
     </dl> -->
<br>


     <h2 class="govuk-heading-m">
       Case details
     </h2>
<dl class="app-check-your-answers app-check-your-answers--long">
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           Statement of case
         </dt>
         <dd class="app-check-your-answers__answer">
           {{ data['...'] }}

         </dd>
         <dd class="app-check-your-answers__change">
           <a href="#">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>

</dl>



     <dl class="app-check-your-answers app-check-your-answers--long">
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           What are the estimated legal costs of doing the work?
         </dt>
         <dd class="app-check-your-answers__answer">
           £5,000{{ data['...'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="#">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           Is the chance of a successful outcome 50% or better?
         </dt>
         <dd class="app-check-your-answers__answer">
           No{{ data['...'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="#">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           How likely is a successful outcome?
         </dt>
         <dd class="app-check-your-answers__answer">
           45% to 49%{{ data['...'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="#">
             Change <span class="govuk-visually-hidden">blank</span>
           </a>
         </dd>
       </div>


       </dl>
       <div class="govuk-grid-row">
       <div class="govuk-grid-column-full">
         <p>{{ data['statement'] }}</p>
      </div>
      </div>



  <!--  <h2 class="govuk-heading-m">Complete the application</h2>

      <p class="govuk-body">
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p> -->

      <a class="govuk-button" href="declaration" role="button">
        Save and continue
      </a>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
        Save and come back later
      </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
