{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Statement of case
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" novalidate>

          <h1 class="govuk-heading-xl">About the matter being challenged</h1>

      <div class="govuk-form-group">
        <!-- <span class="govuk-caption-xl">Proceeding name</span> -->
        <h2 class="govuk-label-wrapper">

          <label class="govuk-label govuk-label--m" for="more-detail">
            What matter is being challenged?
          </label>
        </h2>
        <div id="national-insurance-number-hint" class="govuk-hint">
          Include dates of any decisions
      </div>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>

      </div>
      <div class="govuk-form-group">
        <!-- <span class="govuk-caption-xl">Proceeding name</span> -->
        <h2 class="govuk-label-wrapper">

          <label class="govuk-label govuk-label--m" for="more-detail">
            What is the disagreement with the matter?
          </label>
        </h2>

        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>

      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and come back later
        </button>
      </div>

        </form>
      </div>
    </div>

{% endblock %}
