{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check your answers
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "types_of_outgoing"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Enter cash payments you received from family or friends in each of the past 3 months
      </h1>

      <label class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Total received 14 June 2020 to 14 July 2020
      </label>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <label class="govuk-label" for="width-10">
            Amount
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
        </div>
      </div>
      <br>
      <label class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Total received 13 May 2020 and 13 June 2020
      </label>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <label class="govuk-label" for="width-10">
            Amount
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
        </div>
        </div>
        <br>

        <label class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Total received 12 April 2020 and 12 May 2020
        </label>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <label class="govuk-label" for="width-10">
              Amount
            </label>
            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
          </div>
      <div>

      </div>
      </div>


    <br>


      <a class="govuk-button" href="types_of_outgoing" role="button">
        Continue
      </a>

    </div>
  </div>

  {% endblock %}

  
