{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
  Apply for legal aid - Proceedings
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/jquery.hideseek.min.js"></script>
<script>
$('#search').hideseek({
    highlight: true,
    min_chars: 3,
    nodata: "No results found.",
    hidden_mode: true
});
</script>
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "other_2"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl">What does your client want legal aid for?</h1>
      </div>
    </div>

    <div id="search-field" class="govuk-form-group">

      <label class="govuk-heading-m" for="search">
        Search for legal proceedings
      </label>
      <span class="govuk-hint">
        Add one domestic abuse or Section 8 proceeding at a time.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <input class="govuk-input" autocomplete="off" id="search" name="search" type="text" data-list="#proceedings-list">
        </div>
        <div class="govuk-grid-column-one-third clear-search">
          <p><a class="govuk-link" href="search">Clear search</a></p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div id="proceedings-list" class="govuk-grid-column-full ">
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-grid-column-two-thirds">
        {% for proceeding in proceedings -%}
        <div class="govuk-grid-row proceeding-list" id="offence-item-{{loop.index}}" >

          <div class="govuk-grid-row proceeding-list" id="offence-item-{{loop.index}}" >

          <ul class="proceeding-list" style="text">
              <div class="govuk-radios govuk-radios">
  <div class="govuk-radios__item">
  <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
  <label class="govuk-label govuk-radios__label"><strong>{{proceeding.proceedingtype | capitalize}}</strong><br>{{proceeding.categoryoflaw| capitalize}} ({{proceeding.mattertype | capitalize}})</label>

  </div>
  </div>
  </ul>
  </div>


        </div>
        {%- endfor %}
      </div>
      </div>

              </div>

    </div>

<br>
<a class="govuk-button" href="other_3" role="button">
  Save and continue
</a>

<a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
  Save and come back later
</a>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
