{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Homepage
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-!-padding-top-4"></div>

        <h1 class="govuk-heading-xl">Your applications</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Make a new application</h2>
        <p class="govuk-body">Tell us the basic case details and check if your client receives benefits that qualify for legal aid.</p>

        <a href="delegated_functions" class="govuk-button govuk-button--start">
          Start now
        </a>

      </div>
    </div>

    <div class="govuk-!-padding-top-6"></div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Existing applications</h3>

      </div>

      <div class="govuk-grid-column-one-third">

        <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="Search applications">
        <button type="submit" class="govuk-button" style="float:right;">
          Search
        </button>

      </div>
    </div>

    <div class="govuk-!-padding-top-4"></div>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Date</th>
              <th class="govuk-table__header" scope="col">Case reference</th>
              <th class="govuk-table__header" scope="col">Status</th>
              <th class="govuk-table__header" scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">David Francis</td>
              <td class="govuk-table__cell">19 Mar 2019</td>
              <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
              <td class="govuk-table__cell"><span class="dot" style="background-color:#005ea5;"></span> Application submitted</td>
              <td class="govuk-table__cell"><a href="read_only">View</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Gwen McCrae</td>
              <td class="govuk-table__cell">19 Mar 2019</td>
              <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
              <td class="govuk-table__cell"><span class="dot" style="background-color:#f47738;"></span> Delegated functions used</td>
              <td class="govuk-table__cell"><a href="#">Complete</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Patrice Sokda</td>
              <td class="govuk-table__cell">19 Mar 2019</td>
              <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
              <td class="govuk-table__cell"><span class="dot"></span> In progress</td>
              <td class="govuk-table__cell"><a href="#">Continue</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rita Patel</td>
              <td class="govuk-table__cell">18 Mar 2019</td>
              <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
              <td class="govuk-table__cell"><span class="dot"></span> Client details complete</td>
              <td class="govuk-table__cell"><a href=r#">Continue</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Steve Smith</td>
              <td class="govuk-table__cell">17 Mar 2019</td>
              <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
              <td class="govuk-table__cell"><span class="dot"></span> Means test complete</td>
              <td class="govuk-table__cell"><a href="#">Continue</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Patty LaBelle</td>
              <td class="govuk-table__cell">17 Mar 2019</td>
              <td class="govuk-table__cell">2018/LAA/4ewrgfdd</td>
              <td class="govuk-table__cell"><span class="dot"></span> Merits test complete</td>
              <td class="govuk-table__cell"><a href="#">Continue</a></td>
            </tr>
          </tbody>
        </table>

        <div class="govuk-body pagination__summary">Showing 1 &ndash; 3 of 3 results</div>
        <ul class="govuk-body pagination">
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 1">1</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
          <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 3, current page">3</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
        </ul>


    </div>

</div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
