{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
Apply for legal aid - Incoming transactions
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "outgoing_select"
  }) }}
{% endblock %}

{% block content %}
<style media="screen">

  .dot{
    background-color:#005ea5;
  }
  .col_bespoke{
    width:15%;
  }

  .govuk-table {
    height: 40em;
    overflow-y: scroll;
    display: block
  }
 
  .govuk-table__header{
    color: #0b0c0c;
    background-color: #dee0e2;
    border: 1px solid #bfc1c3;
    box-shadow: 0 2px 0 #b5babe;
    padding-left: 10px;
    text-align: left;
  }
  .th_bespoke{
    padding-right: 15px;
    position: relative;
  }
  .th_bespoke::before{
    /*down*/
    content:" \25bc";
    position: absolute;
    right: -1px;
    top: 11px;
    font-size: 0.6em;
  }
  .th_bespoke::after{
    /*up*/
    content:" \25b2";
    position: absolute;
    right: -1px;
    top: 1px;
    font-size: 0.6em;
  }
  .th_bespoke_hover:hover{
    background-color: #c8cacb;
    cursor:pointer;
  }
  .govuk-table__head{
    position: relative;
  }
  .govuk-table__cell{
    padding-left: 10px;
  }

</style>

<div class="moj-banner moj-banner--success">

  <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
    <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
  </svg>

  <div class="moj-banner__message">
    <span class="moj-banner__assistive">Success</span>You have succesfully assigned transactions to a category.
  </div>

</div>

<div class="moj-filter-layout">
  {% include "open_banking_process/Option_2/_filter.html" %}

  <div class="moj-filter-layout__content">

    <h1 class="govuk-heading-xl">
      Sort bank transactions into categories
    </h1>

    <div class="moj-action-bar">
      <div class="moj-action-bar__filter"></div>
    </div>

      <div class="govuk-!-padding-bottom-4"></div>


      <table class="govuk-table" style="height: 40em; overflow-y: scroll; display: block;">
        <caption class="govuk-table__caption" style="padding-bottom:10px;">8 December 2021 to 7 March 2022</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header th_bespoke_hover" style="width:12%"  scope="col" ><span >
              Select all
            </span>
          </th>
          <th class="govuk-table__header th_bespoke_hover col_bespoke" scope="col">Date <img src="/public/images/filter_icon.svg" style=""></th>
          <th class="govuk-table__header th_bespoke_hover" style="width:auto" scope="col"><span class="th_bespoke">Description</span></th>
          <th class="govuk-table__header" scope="col">Income</th>
          <th class="govuk-table__header" scope="col">Outgoing</th>
          <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold th_bespoke_hover" scope="col"><span class="th_bespoke">Category</span></th>
        </tr>
      </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">7 Jan 2021</td>
            <td class="govuk-table__cell">12345678A DWP DLA</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--blue moj-badge--large">BENEFITS</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-2" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-2"></label>
              </div></td>
            <td class="govuk-table__cell">7 Jan 2021</td>
            <td class="govuk-table__cell">12345678A DWP DLA</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--blue moj-badge--large">BENEFITS</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">7 Jan 2021</td>
            <td class="govuk-table__cell">WEST LONDON NURSERY FP 16/11/20 1234 1234567890987654321</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">- £59</td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--grey moj-badge--large">UNCATEGORISED</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">7 Jan 2021</td>
            <td class="govuk-table__cell">SALLY DOE FP 7/01/2021</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£500</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--blue moj-badge--large">FINANCIAL HELP</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">7 Jan 2021</td>
            <td class="govuk-table__cell">SALLY DOE FP 7/01/2021</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£500</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--blue moj-badge--large">FINANCIAL HELP</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">7 Jan 2021</td>
            <td class="govuk-table__cell">SALLY DOE FP 7/01/2021</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--blue moj-badge--large">FINANCIAL HELP</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">3 Jan 2021</td>
            <td class="govuk-table__cell">SKY DIGITAL REVERSAL OF 03-01</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£56.79</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--grey moj-badge--large">UNCATEGORISED</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">3 Jan 2021</td>
            <td class="govuk-table__cell">LANDLORD RENT PAYMENT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">-£450</td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--blue moj-badge--large">HOUSING</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">3 Dec 2020</td>
            <td class="govuk-table__cell">LANDLORD RENT PAYMENT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">-£450</td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--blue moj-badge--large">HOUSING</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">3 Nov 2020</td>
            <td class="govuk-table__cell">PENSION PAYMENT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£450</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--grey moj-badge--large">UNCATEGORISED</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">15 Jan 2019</td>
            <td class="govuk-table__cell">CASH IN NATIONWIDER 15JAN</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£250.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--grey moj-badge--large">UNCATEGORISED</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">11 Jan 2019</td>
            <td class="govuk-table__cell">WORK AND CHILD TC</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--blue moj-badge--large">BENEFITS</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">07 Jan 2019</td>
            <td class="govuk-table__cell">CHILD BENEFIT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£82.80</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--blue moj-badge--large">MAINTENANCE</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div></td>
            <td class="govuk-table__cell">07 Jan 2019</td>
            <td class="govuk-table__cell">GREENS NURSERIES LTD SALARY</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£174.77</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--grey moj-badge--large">UNCATEGORISED</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="income-1" name="income" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="income-1"></label>
              </div>
            <td class="govuk-table__cell">03 Jan 2019</td>
            <td class="govuk-table__cell">WORK AND CHILD TC</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell"><strong class="moj-badge moj-badge--blue moj-badge--large">BENEFITS</strong></td>
          </tr>
        </tbody>
      </table>

      <a href="sort_income" role="button" class="govuk-button">
        Save and continue
      </a>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
        Save and come back later
      </a>

  </div>
</div>

{% endblock %}
