{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Other capital
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – the <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "online_banking_question"
  }) }}
{% endblock %}

{% block content %}

<!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading" style="max-width:900px">the partner can share their bank statements with us through online banking.</p>
  </div>
</div> -->

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="email_address" method="post" class="form">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
  <span class="govuk-caption-l">Partner's means assessment</span>
  <h1 class="govuk-fieldset__heading">
    Share bank statements with online banking
  </h1>
</legend>
<br>

              <p>The partner can share their bank statements with us through online banking through a third party called TrueLayer.</p>

            <!--  <p>It’s a quicker and more accurate way to get a legal aid decision than uploading bank statements.</p> -->

              <p>It's a fast, safe and accurate way to access the partner's transactions and means the partner does not need to gather statements.</p>

                <br>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                                What is TrueLayer?
                                </span>
                                </summary>
                                <div class="govuk-details__text">


                                <p class="govuk-body"><a href="https://truelayer.com/" target=_blank>TrueLayer</a> is a trusted third-party financial service provider that acts as a messenger between the partner's bank and the Legal Aid Agency (LAA).</p>
                              <!--  <p class="govuk-body">TrueLayer will ask for one-time, read-only access to the partner's bank account information. With the partner's consent, TrueLayer collects 3 months of bank statements and shares them with us.</p>
                              <p class="govuk-body">With the partner's permission, TrueLayer has one-time, read-only access to their bank account information (including bank statements which TrueLayer shares with us).</p> -->
                              <p class="govuk-body">TrueLayer needs one-time, read-only access to the partner's bank account information. If the partner agrees, TrueLayer will securely collect 3 months of statements and share them with the LAA.</p>
                                <p class="govuk-body">They're regulated by the Financial Conduct Authority (FCA) and will <strong>not</strong>:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                <li>store the partner's bank account information</li>
                                <li>see the partner's online banking sign-in details</li>
                                <li>share the partner's data with anyone other than the LAA</li>
                                <li>have ongoing access to the partner's bank accounts</li>
                                </ul>
                                </div>
                                </details>

                                <br>

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    How it works
                  </h1>
                </legend>
                <br>


                <h3 class="govuk-heading-m">1. Get started</h3>

                <p class="govuk-body">The partner will receive an email clearly labelled from the Legal Aid Agency (LAA) asking them to share 3 months of bank statements.</p>

                <p class="govuk-body">There's a link in the email directing them to 'Apply for legal aid' to get started.


            <br>

                <h3 class="govuk-heading-m">2. Select a bank</h3>

                <p class="govuk-body">The partner selects their bank then signs in to their online banking website or app.
                </p>


                <img src="/public/images/truelayer/select_bank.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">


                <p></p>

                <h3 class="govuk-heading-m">3. Share bank accounts</h3>

                <p class="govuk-body">The partner must share all of their bank accounts, including joint accounts and accounts with no money in them. Bank statements from the last 3 months will be shared securely with the LAA.</p>
<br>

                <img src="/public/images/truelayer/sharing.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">

                <p></p>

                <h3 class="govuk-heading-m">4. Confirmation</h3>

              <p class="govuk-body">The partner will see a message confirming they’ve successfully shared their bank statements. They’ll be asked if they have any more bank accounts to share.
              </p>

                <img src="/public/images/truelayer/success.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">

                <p></p>

              <!--  <h3 class="govuk-heading-m">5. TrueLayer fetches bank details and verifies ownership</h3>

                <p class="govuk-body">TrueLayer’s name-matching engine compares the name to the name on file at the bank.</p>

                <img src="/public/images/truelayer/05.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">

                <p></p>

                <h3 class="govuk-heading-m">6. TrueLayer shares the partner’s bank statements with the LAA</h3>

                <img src="/public/images/truelayer/06.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie."> -->
                <p></p>

                <h3 class="govuk-heading-m">5. What happens next</h3>

                <p class="govuk-body">You need to sort the partner’s transactions into categories so we can understand their financial situation and process the application quickly.</p>

                <div class="govuk-!-padding-bottom-8"></div>
                <a role="button" href="downloaded_tlguidance" target="_blank" class="govuk-button draft-button">
                  Download this guidance
                </a>

                <div class="govuk-!-padding-bottom-2"></div>

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  <h1 class="govuk-fieldset__heading">
    Can the partner share their bank statements using online banking?
  </h1>
</legend>

<form action="search_2" method="post" class="form">


<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="how-contacted-conditional-1" name="attempts-to-settle" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-1" {{ checked("attempts-to-settle","yes") }}>
    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
      Yes
    </label>
  </div>


  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="how-contacted-conditional-2" name="attempts-to-settle" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("attempts-to-settle","no") }}>
    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
      No
    </label>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

<br>
<button type="submit" class="govuk-button">
  Save and continue
</button>

<a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
  Save and come back later
</a>

</form>
</div>
</div>





{% endblock %}
