{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Homepage
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

<style>
	@media (max-width: 475px) {
    .table-hidethirdcolumn .govuk-table__header:nth-of-type(3),
    .table-hidethirdcolumn .govuk-table__cell:nth-of-type(3) {
			position: absolute !important;
			width: 1px !important;
			height: 1px !important;
			margin: 0 !important;
			padding: 0 !important;
			overflow: hidden !important;
			clip: rect(0 0 0 0) !important;
			-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;
			border: 0 !important;
			white-space: nowrap !important;
		}
		.table-merge2ndcolumn td:nth-of-type(2),
		.table-merge2ndcolumn td:nth-of-type(1) {
			display: block;
			border-bottom:0px;
		}
		.table-merge2ndcolumn tr {
			border-bottom:1px solid #bfc1c3;
		}
		.table-merge2ndcolumn th:nth-of-type(2) {
			display: none;
		}
		.table-merge2ndcolumn th:nth-of-type(1)::after {
			content: " and case reference";
		}
	}
			
</style>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-padding-top-4"></div>

    <h1 class="govuk-heading-xl">Your legal aid applications</h1>
      <h3 class="govuk-heading-m">Make a new application</h3>
      <p>
        Tell us the basic case details and see if your client’s benefits or income qualifies for legal aid.
      </p>

      <a href="/search" class="govuk-button govuk-button--start">
        Start now
      </a>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-8"></div>

  <h3 class="govuk-heading-m">Current applications</h3>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <table class="govuk-table table-hidethirdcolumn">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Client's name</th>
          <th class="govuk-table__header" scope="col">Date started</th>
          <th class="govuk-table__header" scope="col">Case reference</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Billy the Kid</td>
            <td class="govuk-table__cell">Fri, 11 Jan 2019</td>
            <td class="govuk-table__cell table__cell-caseref">300000053575</td>
            <td class="govuk-table__cell">Checking answers</td>
            <td class="govuk-table__cell">
              <a href="/providers/applications/a54b0f76-e6d0-4135-a4f2-6043f4d5c9a7/proceedings_type">View</a>
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Undefined</td>
            <td class="govuk-table__cell">Thu, 17 Jan 2019</td>
            <td class="govuk-table__cell table__cell-caseref">300000053575</td>
            <td class="govuk-table__cell">In progress</td>
            <td class="govuk-table__cell">
              <a href="/providers/applications/d1b835c4-15e7-4715-a940-2f497c4abac0/proceedings_type">View</a>
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Undefined</td>
            <td class="govuk-table__cell">Fri, 01 Feb 2019</td>
            <td class="govuk-table__cell table__cell-caseref">300000053575</td>
            <td class="govuk-table__cell">In progress</td>
            <td class="govuk-table__cell">
              <a href="/providers/applications/f07ef918-99a9-4289-a5d2-7071e9b9efe0/proceedings_type">View</a>
            </td>
          </tr>
        </tbody>

    </table>
    <table class="govuk-table table-merge2ndcolumn">
			<thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Client's name</th>
          <th class="govuk-table__header" scope="col">Case reference</th>
          <th class="govuk-table__header" scope="col">Date started</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Billy the Kid</td>
            <td class="govuk-table__cell table__cell-caseref">300000053575</td>
            <td class="govuk-table__cell">Fri, 11 Jan 2019</td>
            <td class="govuk-table__cell">Checking answers</td>
            <td class="govuk-table__cell">
              <a href="/providers/applications/a54b0f76-e6d0-4135-a4f2-6043f4d5c9a7/proceedings_type">View</a>
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Undefined</td>
            <td class="govuk-table__cell table__cell-caseref">300000053575</td>
            <td class="govuk-table__cell">Fri, 01 Feb 2019</td>
            <td class="govuk-table__cell">In progress</td>
            <td class="govuk-table__cell">
              <a href="/providers/applications/f07ef918-99a9-4289-a5d2-7071e9b9efe0/proceedings_type">View</a>
            </td>
          </tr>
        </tbody>
       

    </table>
		
</div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
