Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@MoJ-Longbeard 
Single sign-on has been enabled for Ministry of Justice.

Single sign-on allows you to sign-in to access this organization using your company’s preferred identity provider. Learn more

 
8
0 0 ministryofjustice/apply-for-legal-aid-prototype Private
 Code  Issues 0  Pull requests 0  Actions  Projects 0  Wiki  Insights
apply-for-legal-aid-prototype/app/views/capital.html
@SimonCM SimonCM Add all files to repo
c499273 on 12 Feb
109 lines (96 sloc)  3.1 KB
    
{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Capital assets
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
  <style>
  .spinner {
    border: 12px solid #DEE0E2;
    border-radius: 50%;
    border-top-color: #005EA5;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin:100px;
    display:inline-block;
    /* line-height: initial; */
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  </style>
  <div class="worker-waiter" data-worker-id="c9badf06a5e21dd1a4874539" align="center">
    <div class="spinner"></div>
    <p class="govuk-body-l">Retrieving bank transactions</p>
  </div>
  
{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
