{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Client details
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="opponent_name" method="post" novalidate>

        <div class="govuk-form-group" style="margin-top:-40px">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading--xl">
              Is the opponent an individual or an organisation?
            </h1>
          </legend>
          <div class="govuk-hint">
            Tell us about one opponent at a time. You can add more later.
          </div>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="individual" name="individualororganisation" type="radio" value="individual">
              <label class="govuk-label govuk-radios__label" for="individual">
                An individual
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="organisation" name="individualororganisation" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="organisation">
                An organisation
              </label>
            </div>
          </div>
          </fieldset>
        </div>

        <div class="govuk-button-group">
          <a href="opponent_name" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Save and continue
          </a>
          <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save and go to task list
          </a>
        </div>

          <!-- <button type="submit" class="govuk-button">
            Save and continue
          </button>

         <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a> -->

          <!-- <p class="govuk-body">
            <a href="dashboard">Save and come back later</a></p> -->

        </form>

      </div>
    </div>

{% endblock %}
