{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
Apply for legal aid - Statement of case
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<div role="region" class="moj-alert moj-alert--warning moj-alert--with-heading" aria-label="warning: Some information could not be imported" data-module="moj-alert">
  <div>
    <svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M15 2.44922L28.75 26.1992H1.25L15 2.44922ZM13.5107 9.49579H16.4697L16.2431 17.7678H13.7461L13.5107 9.49579ZM13.1299 21.82C13.1299 21.5661 13.1787 21.3285 13.2764 21.1071C13.374 20.8793 13.5075 20.6807 13.6768 20.5114C13.8525 20.3421 14.0544 20.2087 14.2822 20.111C14.5101 20.0134 14.7542 19.9645 15.0146 19.9645C15.2686 19.9645 15.5062 20.0134 15.7275 20.111C15.9554 20.2087 16.154 20.3421 16.3232 20.5114C16.4925 20.6807 16.626 20.8793 16.7236 21.1071C16.8213 21.3285 16.8701 21.5661 16.8701 21.82C16.8701 22.0804 16.8213 22.3246 16.7236 22.5524C16.626 22.7803 16.4925 22.9789 16.3232 23.1481C16.154 23.3174 15.9554 23.4509 15.7275 23.5485C15.5062 23.6462 15.2686 23.695 15.0146 23.695C14.7542 23.695 14.5101 23.6462 14.2822 23.5485C14.0544 23.4509 13.8525 23.3174 13.6768 23.1481C13.5075 22.9789 13.374 22.7803 13.2764 22.5524C13.1787 22.3246 13.1299 22.0804 13.1299 21.82Z" fill="currentColor" />
    </svg>
  </div>
  <div class="moj-alert__content">
    <h2 class="moj-alert__heading">Check the list to see what documents to provide
    </h2>You will need to provide the evidence because you changed an answer.
  </div>

  <div class="moj-alert__action">
    <button class="moj-alert__dismiss" hidden>Dismiss</button>
  </div>
</div>


    <form action="check_answers_merits" method="post" class="form">


      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">

          <h1 class="govuk-heading-xl">Upload supporting evidence</h1>

          <!-- <p class="govuk-body">Use this page to upload gateway evidence for Section 8 proceedings (optional).</p> -->

        </label>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">

          <p class="govuk-body">Use this page to upload:</p>

          <ul class="govuk-list govuk-list--bullet">
            <!-- <li>the latest domestic abuse incident</li> -->
            <li>evidence of your client's employment</li>
            <li>the court order</li>
            <li>the grounds of appeal (optional)</li>
            <li>the counsel's opinion (optional)</li>
            <li>the judgement (optional)</li>
          </ul>

        </label>
      </div>


      <div class="dropzone__upload">
        <div class="govuk-form-group script" id="dropzone-form-group" aria-labelledby="dropzone-label">
          <label class="govuk-label govuk-label--m" id="dropzone-label">
            Attach a file
          </label>
          <div class="govuk-hint">The maximum file size is 7MB. Files must be a DOC, DOCX, RTF, ODT, JPG, BMP, PNG, TIF or PDF.</div>

          <span class="hidden" aria-hidden="true" id="application-id"></span>
          <span class="hidden" aria-hidden="true" id="dropzone-url" data-url="/v1/statement_of_cases"></span>
          <p id="dropzone-file-error" class="govuk-error-message dropzone-error hidden">
            <span class="govuk-visually-hidden">Error:</span>
          </p>
          <div class="dropzone dz-clickable" id="dropzone-form">
            <div class="dz-message" data-dz-message="">
              <span class="govuk-body govuk-!-padding-top-2 script">Drag and drop files here or</span>
              <button id="dz-upload-button" class="govuk-button govuk-button--secondary script" style="top:-5px" tabindex="0">Choose files</button>
            </div>
          </div>
        </div>
      </div>

      <table class="govuk-table ">
        <caption class="govuk-table__caption govuk-heading-m">
          Uploaded files
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Filename</th>
            <th class="govuk-table__header" scope="col">Select a category</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <input type="hidden" name="" value="" autocomplete="off">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">filename.doc</td>
            <td class="govuk-table__cell no-wrap">
              <div class="govuk-form-group govuk">
                <div class="govuk-form-group"><label for="uploaded-evidence-collection-field" class="govuk-label govuk-visually-hidden">Select a category for to do.rtf</label><select id="uploaded-evidence-collection-field" class="govuk-select" name="uploaded_evidence_collection">
                  <!-- <option selected="selected" value="gateway_evidence">Gateway evidence</option> -->
                  <option value="uncategorised" selected="selected">Uncategorised</option></select></div>
                </div>
              </td>
              <td class="govuk-table__cell">
                <a href="govuk-link">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="govuk-button-group">
          <a href="check_answers_merits" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Save and continue
          </a>
          <a href="../tasklists/tasklist_4B" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save and go to task list
          </a>
        </div>

        <!-- <div class="govuk-button-group">
          <button type="submit" class="govuk-button">
            Save and continue
          </button>
          <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>
        </div> -->

      </form>
    </div>

    {% endblock %}
