{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check your answers - Merits
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "prospects_of_success"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>


  <h2 class="govuk-heading-m">
  Dependants
  </h2>
<dl class="app-check-your-answers app-check-your-answers--long">
<div class="app-check-your-answers__contents">
 <dt class="app-check-your-answers__question">
   Do you have any dependants?
 </dt>
 <dd class="app-check-your-answers__answer">
   No{{ data['...'] }}
 </dd>
 <dd class="app-check-your-answers__change">
   <a href="/team_folders/jim/dependants/v4/dependants">
     Change <span class="govuk-visually-hidden">blank</span>
   </a>
 </dd>
</div>
</dl>
<div class="govuk-!-padding-bottom-6"></div>

      <a class="govuk-button" href="declaration" role="button">
        Save and Continue
      </a>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
         Save and come back later
       </a>

    </div>
  </div>


  {% endblock %}

  
