{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Does your client use online banking
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "means_assessment_required"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="delegated_functions_confirmation" method="post" class="form">


                <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
         Do you want to make a substantive application now?
          </h1>
        </legend>

        <p class="govuk-body">You told us you've used delegated functions. You can make a substantive application now or come back and do it later.</p>

    <!--    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What you need to make a substantive application
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">You’ll need to tell us about your client's:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>savings, investments and other capital</li>
      <li>income, outgoings and dependants (if they do not receive passporting benefits)</li>
      </ul>

      <p class="govuk-body">You'll also need to provide details of the case.</p>

  </div>
</details> -->



        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="onlinebank-1" name="property" type="radio" value="yes" {{ checked("online-banking","yes") }}>
                  <label class="govuk-label govuk-radios__label" for="onlinebank-1">
                    Yes
                  </label></div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="onlinebank-2" name="property" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("online-banking","no") }}>
            <label class="govuk-label govuk-radios__label" for="onlinebank-2">
              No, I'll do it later
            </label> </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2" style="padding-top:15px;">
            <div class="govuk-form-group">
              <label class="govuk-label" for="onlinebank-2">
              <p class="govuk-body">You must submit a substantive application by 11 October 2020.</p>


              </label>
            </div>

          </div>


          </div>
        </div>
      </fieldset>
    </div>


          </div>

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

          <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>


      </div>
    </div>

{% endblock %}


