{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "incoming/benefits"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Sort your client's income into categories
      </h1>
    </legend>

    <p class="gov-body">Your client told us they receive the following types of income.
    </p>
    <p class="gov-body">You need to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
    <li>view your client's bank statements</li>
    <li>add transactions to each income category</li>
    </ul>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Benefits
          <!--  <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">
                For example, Universal Credit or Child Benefit.
            </span> -->
          </h2>
          <ul class="app-task-list__items">
            <table class="govuk-table" style="margin-bottom:0px;">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Date</th>
                  <th class="govuk-table__header" scope="col">Description</th>
                  <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>
                  <th class="govuk-table__header" scope="col"></th>
                </tr>
              </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">29 Jan 2019</td>
                <td class="govuk-table__cell">Work and child TC</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">23 Jan 2019</td>
                <td class="govuk-table__cell">Work and child TC</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">17 Jan 2019</td>
                <td class="govuk-table__cell">Work and child TC</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">11 Jan 2019</td>
                <td class="govuk-table__cell">Work and child TC</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">7 Jan 2019</td>
                <td class="govuk-table__cell">Child benefit</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£82.80</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">3 Jan 2018</td>
                <td class="govuk-table__cell">Work and child TC</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£165.65</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              </tbody>
              </table>
            <li class="app-task-list__item">
              <a class="govuk-body" href="benefits_list" aria-describedby="eligibility-completed">
                View statements and add transactions
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Universal Credit advance payments
          <!--  <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">
                This benefit is excluded from the gross income calculation, but you still need to select each payment.
            </span> -->
          </h2>
          <ul class="app-task-list__items">
            <table class="govuk-table" style="margin-bottom:0px;">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Date</th>
                  <th class="govuk-table__header" scope="col">Description</th>
                  <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>
                  <th class="govuk-table__header" scope="col"></th>
                </tr>
              </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">25 Jan 2019</td>
                <td class="govuk-table__cell">Universal Credit advance</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£144.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                  Remove
                </a></td>
              </tr>
              </tbody>
              </table>
            <li class="app-task-list__item">
              <a class="govuk-body" href="ucap" aria-describedby="eligibility-completed">
                View statements and add transactions
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Financial help from friends or family
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="govuk-body" href="financial_help_list" aria-describedby="eligibility-completed">
                View statements and add transactions
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"> <img src="/public/images/plus_icon.svg"> </span> <a class="govuk-body" href="types_of_income2" aria-describedby="eligibility-completed">
              Add another type of income
            </a>
          </h2>
        </li>
        <!-- <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">  <img src="/public/images/plus_icon.svg"> </span> <a  href="#" aria-describedby="eligibility-completed">
              Add another type of income
            </a>
          </h2>
        </li> -->
      </ol>

      <!-- <p class="govuk-body">
          <a href="types_of_income3" class="govuk-link">Add another type of income</a>
        </p> -->

        <div class="govuk-!-padding-bottom-6"></div>

        <a href="dependants" role="button" class="govuk-button">
          Save and continue
        </a>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

    </div>
  </div>

  {% endblock %}

  
