{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Alternative funding
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "incident_details_oo"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="prospects_oo" method="post" class="form">


        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
      Opponent details <!-- About the opponent -->
      </h1>
    </legend>
    <!-- <span id="how-contacted-conditional-hint" class="govuk-hint">
      Select one option
    </span> -->
<div class="govuk-!-padding-bottom-3"></div>

  <!--  <h2 class="govuk-heading-m">H2</h2> -->

<h2 class="govuk-heading-m">Does the opponent have the mental capacity to understand the terms of a court order?</h2>
    <div class="govuk-radios govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="mental" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-1" {{ checked("attempts-to-settle","yes") }}>
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="mental" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("attempts-to-settle","no") }}>
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Tell us why you think the court would enforce a breach of an order
          </label>
          <textarea class="govuk-textarea" id="no-more-detail" name="no-more-detail" rows="5" aria-describedby="more-detail-hint">{{ data['no-more-detail'] }}</textarea>
        </div>
      </div>
      </div>
<div class="govuk-!-padding-bottom-3"></div>


      <h2 class="govuk-heading-m">Has a warning letter been sent to the opponent?</h2>
      <div class="govuk-radios govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="how-contacted-conditional-3" name="warning" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-3" {{ checked("attempts-to-settle","yes") }}>
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="how-contacted-conditional-4" name="warning" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-4" {{ checked("attempts-to-settle","no") }}>
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-4">
            No
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-4">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
              Tell us why a warning letter has not been sent
            </label>
            <textarea class="govuk-textarea" id="no-more-detail" name="no-more-detail" rows="5" aria-describedby="more-detail-hint">{{ data['no-more-detail'] }}</textarea>
          </div>
        </div>
      </div>

<div class="govuk-!-padding-bottom-3"></div>
      <h2 class="govuk-heading-m">Have the police been notified?</h2>

      <div class="govuk-radios govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="how-contacted-conditional-5" name="police" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-5" {{ checked("attempts-to-settle","yes") }}>
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-5">
            Yes
          </label>
        </div>

        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-5">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
              Tell us what action they've taken (if any), including dates and the outcome
            </label>
            <textarea class="govuk-textarea" id="no-more-detail" name="no-more-detail" rows="5" aria-describedby="more-detail-hint">{{ data['no-more-detail'] }}</textarea>
          </div>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="how-contacted-conditional-6" name="police" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-6" {{ checked("attempts-to-settle","no") }}>
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-6">
            No
          </label>
        </div>

        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-6">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
              Tell us why the police have not been notified
            </label>
            <textarea class="govuk-textarea" id="no-more-detail" name="no-more-detail" rows="5" aria-describedby="more-detail-hint">{{ data['no-more-detail'] }}</textarea>
          </div>
        </div>
      </div>


      <div class="govuk-!-padding-bottom-3"></div>
        <h2 class="govuk-heading-m">Have bail conditions been set?</h2>
        <div class="govuk-radios govuk-radios" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-7" name="bail" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-7" {{ checked("attempts-to-settle","yes") }}>
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-7">
              Yes
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-7">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
              Give details of the bail conditions, including the date they're likely to end
              </label>
              <textarea class="govuk-textarea" id="no-more-detail" name="no-more-detail" rows="5" aria-describedby="more-detail-hint">{{ data['no-more-detail'] }}</textarea>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-8" name="bail" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-8" {{ checked("attempts-to-settle","no") }}>
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-8">
              No
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-8">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
              Tell us why bail conditions have not been set
              </label>
              <textarea class="govuk-textarea" id="no-more-detail" name="no-more-detail" rows="5" aria-describedby="more-detail-hint">{{ data['no-more-detail'] }}</textarea>
            </div>
          </div>


</div>

<div class="govuk-!-padding-bottom-3"></div>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
        Save and come back later
      </a>

      </form>
    </div>
  </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
