{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "types_of_income"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <!--  <p class="gov-body">
    <a href="outgoings">Go to outgoings</a>
    </p> -->
    <h1 class="govuk-heading-xl">Your client's income</h1>

<!-- <p class="gov-body">
  Add payments your client received in the past 3 months to each category below. Select only the payments relevant to that category.
</p> -->

<p class="gov-body">You need to:
</p>
<ul class="govuk-list govuk-list--bullet">
<li>view your client's bank statements</li>
<li>add transactions to each category</li>
</ul>

<h2 class="govuk-heading-l">Benefits</h2>

     <h2 class="app-task-list__section">
Bank transactions
  <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">
      Add transactions that have not been automatically identified here.
       </span>
     </h2>

       <table class="govuk-table" style="margin-bottom:0px;">
         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="col">Date</th>
             <th class="govuk-table__header" scope="col">Description</th>
             <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>
             <th class="govuk-table__header" scope="col"></th>
           </tr>
         </thead>
       <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">25 Nov 2020</td>
           <td class="govuk-table__cell">Child Benefit</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£225.00</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
             Remove
           </a></td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">25 Oct 2020</td>
           <td class="govuk-table__cell">Child Benefit</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£225.00</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
             Remove
           </a></td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">25 Sep 2020</td>
           <td class="govuk-table__cell">Child Benefit</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£225.00</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
             Remove
           </a></td>
         </tr>
         </tbody>
         </table>

                 <div class="govuk-!-padding-bottom-2"></div>



         <a class="govuk-body" href="benefits_list" aria-describedby="eligibility-completed">
           View statements and add transactions
         </a>

                 <div class="govuk-!-padding-bottom-6"></div>

                 <h2 class="govuk-heading-l">Disregarded benefits</h2>


     <h2 class="app-task-list__section">
Bank transactions
     <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">
           Add transactions that have not been automatically identified here.
       </span>
     </h2>

       <table class="govuk-table" style="margin-bottom:0px;">
         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="col">Date</th>
             <th class="govuk-table__header" scope="col">Description</th>
             <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>
             <th class="govuk-table__header" scope="col"></th>
           </tr>
         </thead>
       <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">4 Nov 2020</td>
           <td class="govuk-table__cell">Carer’s Allowance</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£118.00</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
             Remove
           </a></td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">4 Oct 2020</td>
           <td class="govuk-table__cell">Carer’s Allowance</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£118.00</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
             Remove
           </a></td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">4 Sep 2020</td>
           <td class="govuk-table__cell">Carer’s Allowance</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">£118.00</td>
           <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
             Remove
           </a></td>
         </tr>
         </tbody>
         </table>

                 <div class="govuk-!-padding-bottom-2"></div>

         <a class="govuk-body" href="disregardard_benefits_list" aria-describedby="eligibility-completed">
           View statements and add transactions
         </a>

                 <div class="govuk-!-padding-bottom-6"></div>

                <h2 class="govuk-heading-l">Financial help from friends or family</h2>

     <h2 class="app-task-list__section">
Bank transactions
     </h2>

    

       <div class="govuk-!-padding-bottom-2"></div>

         <a class="govuk-body" href="financial_help_list" aria-describedby="eligibility-completed">
           View statements and add transactions <!-- Select payments from your bank statement -->
         </a>

         <div class="govuk-!-padding-bottom-6"></div>

         <h2 class="app-task-list__section">
    Cash payments
         </h2>
         <span id="changed-name-hint" class="govuk-hint">Your client told us they received these cash payments in the past 3 months.</span>

         <table class="govuk-table" style="margin-bottom:0px;">
           <thead class="govuk-table__head">
             <tr class="govuk-table__row">
               <th class="govuk-table__header" scope="col">Calendar month</th>
               <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>

             </tr>
           </thead>
         <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
             <td class="govuk-table__cell">6 Dec 2020 to 6 Jan 2021</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>

           </tr>
           <tr class="govuk-table__row">
             <td class="govuk-table__cell">5 Nov to 5 Dec 2020</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">£200.00</td>

           </tr>
           <tr class="govuk-table__row">
             <td class="govuk-table__cell">4 Oct to 4 Nov 2020</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>

           </tr>
           </tbody>
           </table>

           <div class="govuk-!-padding-bottom-6"></div>

     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number"> <img src="/public/images/plus_icon.svg"> </span> <a class="govuk-body" href="types_of_income" aria-describedby="eligibility-completed">
         Add another income category
       </a>
     </h2>

<div class="govuk-!-padding-bottom-6"></div>


        <h3 class="govuk-heading-l">Student finance</h3>

              <p class="gov-body">Your client also told us they'll get £9,800 in student finance this academic year.
              </p>

        <a href="dependants" role="button" class="govuk-button">
          Save and continue
        </a>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
