{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Property and mortgage
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "dwp_check"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="upload" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  We need to check your client's income
                </h1>
              </legend>
              <br>

              <p class="govuk-body-l">To help us do this, we need your client’s bank statements from the last 3 months.</p>

            <!--  <p class="govuk-body">The fastest and easiest for your client to share their bank statements with us is online.</p> -->
              <p class="govuk-body">Your client can share their statements with us quickly and securely via a third-party called TrueLayer.</p>

              <details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
              What is TrueLayer?
              </span>
              </summary>
              <div class="govuk-details__text">


              <p class="govuk-body">TrueLayer is a trusted third-party financial service provider that acts as a messenger between your client's bank and the LAA.</p>
              <p class="govuk-body">It allows your client to quickly and securely share their bank statements without having to gather physical bank statements.</p>
              <p class="govuk-body">They’re regulated by the Financial Conduct Authority (FCA) and will:</p>
              <ul class="govuk-list govuk-list--bullet">
              <li>not store your client's bank account details</li>
              <li>not see your client's online banking sign-in details</li>
              <li>not share your client's data with anyone other than the LAA</li>
              <li>not have ongoing access to your client's bank accounts</li>
              </ul>
              </div>
              </details>



              <p class="govuk-body">Your client will need to:</p>

              <ol class="govuk-list govuk-list--number">
  <li>Access 'Apply for legal aid' using a link we'll send them in an email.</li>
  <li>Select all the banks they use online banking for.</li>
  <li>Allow TrueLayer to collect 3 months of bank statements after we redirect your client to their bank's website or app.</li>

</ol>




<p class="govuk-body">Once they've shared their bank statements, you'll be able to view their transactions and sort them into categories.</p>




              <h2 class="govuk-heading-m">
                Is your client happy to share their bank statements with us via TrueLayer?
              </h2>

              <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="open_banking" name="share" type="radio" value="yes" data-aria-controls="open_banking" >
                <label class="govuk-label govuk-radios__label" for="open_banking">
                  Yes
                </label>

              </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="upload" name="share" type="radio" value="no" data-aria-controls="upload" >
                  <label class="govuk-label govuk-radios__label" for="upload">
                    No, I want to upload bank statements instead
                    <div id="hint-2" class="govuk-hint">Your application may take longer to process as a caseworker will need to check your client's bank statements.</div>
                  </label>
                </div>
                </div>
                </div>




        <!--  <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why does my client need to do this?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">We'll give your client access to the service and ask them to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>sign in to online banking using a secure third-party service</li>
    <li>give us one-time access to their bank accounts so we can download 3 months of bank statements</li>
    <li>tell us about their income and outgoings</li>
    </ul>

    <p class="govuk-body">Once they've done this, you'll need to categorise their bank transactions so we can calculate their disposable income.</p>
  </div>
</details> -->

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

          <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>

        </form>
      </div>
    </div>


{% endblock %}
