]{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Statement of case
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "share_statements"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="income" method="post" class="form">


          <div class="govuk-form-group">
            <label class="govuk-label" for="more-detail">

              <h1 class="govuk-heading-xl">Upload bank statements</h1>

              <p class="govuk-body-l">We need bank statements from the last 3 months for all of your client's bank accounts.</p>

            </label>
          </div>


      <!-- <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              You must upload all supporting evidence now. You cannot do it after submitting your application.
            </strong>
          </div> -->


          <div class="document-upload">

              <div class="moj-multi-file-upload">
                <div class="moj-multi-file__uploaded-files">
                  <h2 class="govuk-heading-m">Files added</h2>
                  <div class="govuk-summary-list moj-multi-file-upload__list">

                  </div>
                </div>

                <div class="moj-multi-file-upload__upload">

                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="documents">
                      Attach a file
                      <span id="more-detail-hint" class="govuk-hint">
                        The maximum file size is 8MB. Files must be a DOC, DOCX, RTF, ODT, JPG, BMP, PNG, TIF or PDF.</span>
                    </label>

                    <input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents" type="file" multiple="">
                  </div>

                  <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
                    Upload file
                  </button>

                </div>
              </div>


          </div>




          <button type="submit" class="govuk-button">
            Save and continue
          </button>

          <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>

        <!--  <p class="govuk-body"><a href="check_answers">I do not need to upload evidence</a></p> -->

        </form>
      </div>
    </div>



</div>

</div>

{% endblock %}
