{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid -
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<!-- <main class="govuk-main-wrapper " id="main-content" role="main"> -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Your client's home</h1>
      <form action="vehicles" method="post" novalidate>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="passport-number">
            How much is the home they usually live in worth?
          </label>
          <div id="passport-number-hint" class="govuk-hint">
            You can use property websites to find the estimated value.
          </div>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
          </div>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
             How much is left to pay on the mortgage?
            </legend>
            <div id="expiry-hint" class="govuk-hint">
              Check the statement from your client's mortgage provider or lender.
            </div>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
             Does your client own the home with anyone else?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label">
                  Yes, an ex-partner
                </label>
                <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  This includes anyone your client was previously married to, in a civil partnership with, or living with as if they were.
                </span>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="interview-needs" name="interview-needs" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="interview-needs">
                 Yes, a housing association or landlord
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="interview-needs" name="interview-needs" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="interview-needs">
                  Yes, a friend, family member or other individual
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="interview-needs-2" name="interview-needs" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="interview-needs-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
             What percentage of the home does your client legally own?
            </legend>
            <div id="expiry-hint" class="govuk-hint">
              Your client’s name must be on the property deeds, lease, freehold or mortgage.
            </div>
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">%</div>
            </div>
          </fieldset>
        </div>




        <br>
        <button type="submit" class="govuk-button">
          Save and continue
        </button>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>
      </form>
    </div>
  </div>
</main>

{% endblock %}
