<form class="" action="index.html" method="post">

</form>{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check your answers - Merits
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<style media="screen">
.govuk-summary-list__key {
  width: 40%;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-notification-banner" role="alert"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Some answers have been copied from A-BCD-E1F
        </h3>
      </div>
    </div>

    <span class="govuk-caption-xl">Client details and what they are applying for</span>

    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    <h2 class="govuk-heading-l">
      Client details
    </h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Client details</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
              Sam
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> first name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last name
            </dt>
            <dd class="govuk-summary-list__value">
              Doe
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> last name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              1 Jan 1980
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Main Street</br>London</br> SE15 5NP
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Correspondence address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              QQ 12 34 56 C
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> National Insurance number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does your client have a partner?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Does your client have a partner?</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Linking and copying</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want to copy an application to your current application?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Application copied
            </dt>
            <dd class="govuk-summary-list__value">
              Client Name, A-BCD-E1F
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want to link an application to your current application?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="link_case">
                Change<span class="govuk-visually-hidden"> link applicaion answer</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Family link
            </dt>
            <dd class="govuk-summary-list__value">
                Client Name, A-BCD-E1F
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="search_result_link_case">
                Change<span class="govuk-visually-hidden"> application linked to answer</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <h2 class="govuk-heading-l">
      What you are applying for
    </h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Proceedings</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> proceedings</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Proceeding 1
          </dt>
          <dd class="govuk-summary-list__value">
            Child arrangements order (contact)
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Proceeding 2
          </dt>
          <dd class="govuk-summary-list__value">
            Non-molestation order
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">CAO Contact</h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> CAO Contact details</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Client role
        </dt>
        <dd class="govuk-summary-list__value">
          Applicant, claimant or petitioner
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Delegated functions
        </dt>
        <dd class="govuk-summary-list__value">
          3 July 2022
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Emergency level of service
        </dt>
        <dd class="govuk-summary-list__value">
          Family help (higher)
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Emergency scope limits
        </dt>
        <dd class="govuk-summary-list__value">
          Interim order inc. return date</br>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum lectus aliquet sem efficitur maximus et quis tellus. Quisque in enim urna.
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Substantive level of service
        </dt>
        <dd class="govuk-summary-list__value">
          Family help (higher)
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__key">
          Substantive scope limits
        </dt>
        <dd class="govuk-summary-list__value">
          FHH Children
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Non-molestation order</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> non-molestation order details</span>
      </a>
    </li>
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Client role
      </dt>
      <dd class="govuk-summary-list__value">
        Defendant or respondent
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Delegated functions
      </dt>
      <dd class="govuk-summary-list__value">
        3 July 2022
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Emergency level of service
      </dt>
      <dd class="govuk-summary-list__value">
        Full representation
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Emergency scope limits
      </dt>
      <dd class="govuk-summary-list__value">
        Hearing</br>Date: DD Month YYYY
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Substantive level of service
      </dt>
      <dd class="govuk-summary-list__value">
        Full representation)
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Substantive scope limits
      </dt>
      <dd class="govuk-summary-list__value">
        Injunction FLA-to final hearing
      </dd>
    </div>
  </dl>
</div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Emergency cost limit</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> emergency cost limit</span>
      </a>
    </li>
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Higher cost limit requested
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Amount requested
      </dt>
      <dd class="govuk-summary-list__value">
        £4,000
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Reason
      </dt>
      <dd class="govuk-summary-list__value">
        Lorem ipsum dolor sit amet, consectetur adipiscing
      </dd>
    </div>
  </dl>
</div>
</div>

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">We’ll use your client’s name, date of birth and National Insurance number to check their benefit status with the Department for Work and Pensions (DWP).</p>

<br>



<div class="govuk-button-group">
  <a class="govuk-button" href="/DWP_outcomes/links_DWP_outcomes" data-module="govuk-button">
    Save and continue
  </a>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Save and come back later
  </button>
</div>

</div>
</div>

{% endblock %}
