{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Client details
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="search_link_case" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you want to link an application to your current application?
            </h1>
          </legend>
          <p class="govuk-body">If you do not, we may wrongly grant funding for 2 applications that should have been reviewed as one.
          </p>
          <p class="govuk-body">You cannot link applications created in CCMS. </p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="linkcase" name="linkcase" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="linkcase">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="linkcase-2" name="linkcase" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="linkcase-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button">
          Save and continue
        </button>
        <a role="button" class="govuk-button govuk-button--secondary">
          Save and come back later
        </a>
      </div>

    </form>

  </div>
</div>

{% endblock %}
