{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Alternative funding
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "search_2"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="search" method="post" class="form">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you want to remove proceeding name?<!-- About the respondent -->
            </h1>
          </legend>

          <div class="govuk-radios govuk-radios--conditional" data-module="radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="onlinebank-1" name="remove_proceeding" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-1" {{ checked("online-banking","yes") }}>
              <label class="govuk-label govuk-radios__label" for="remove_proceeding-1">
                Yes
              </label></div>


              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="remove_proceeding-2" name="remove_proceeding" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("online-banking","no") }}>
                <label class="govuk-label govuk-radios__label" for="onlinebank-2">
                  No
                </label> </div>
              </div>
            </div>

            <button type="submit" class="govuk-button">
              Save and continue
            </button>

            <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
              Save and come back later
            </a>

          </form>
        </div>
      </div>

      {% endblock %}
