{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check client financial assessment
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "provider_means_summary"
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation" style="background-color:	#005ea5;">
          <div class="govuk-panel__body">
            <!-- If the case qaulifies: -->
          </div>
          <br>
          <h1 class="govuk-panel__title">
            Your client is unlikely to qualify for legal aid
          </h1>
          <div class="govuk-panel__body">
            based on their financial situation
          </div>
        </div>

        <div class="govuk-!-padding-bottom-4"></div>

        <p>Client: <strong>John Doe</strong>
          <br>Case reference: <strong>2018/LAA/4ewrqfdd</strong>






              <div class="govuk-!-padding-bottom-6"></div>



            </div>
          </div>

              <form action="merits_start_page" method="post" novalidate>

                <input type="hidden" name="answers-checked" value="true">

                <button type="submit" class="govuk-button">
                  Save and continue
                </button>

              </form>


  {% endblock %}

  
