{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check client financial assessment
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{% endblock %}

{% block content %}

<style media="screen">
td:first-child {
  font-weight: bold !important;
}
th {
  /*font-weight: normal !important;*/
}
dt:first-child{
  font-weight: bold;
}
th:first-child {
  font-weight: bold;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Application for civil legal aid certificate
    </h1>

    <p>Client: <strong>John Doe</strong>
      <br>LAA reference: <strong>L-23A-56D</strong>
      <br>CCMS reference: <strong>123456789012</strong>
    </p>
    <a href="application_print_placeholder_02" role="button" class="govuk-button">
      Print application
    </a>

    <h2 class="govuk-heading-l">
      Basic case details
    </h2>

    <h2 class="govuk-heading-m">
    Client details
    </h2>

    <table class="govuk-table" style="margin-bottom: 15px;">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">First name</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">John</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Last name</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Doe</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Date of birth</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1 January 1980</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">National Insurance number</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">JA293483A</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Email address</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">john.doe@email.com</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Correspondence address</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1 Main Street<br>London<br>SE1 5XO</td>
      </tr>
      </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

     <h2 class="govuk-heading-m">
       Proceedings
     </h2>

     <table class="govuk-table" style="margin-bottom: 15px;">
     <tbody class="govuk-table__body">
       <tr class="govuk-table__row">
         <td class="govuk-table__cell">Proceeding 1</td>
         <td class="govuk-table__cell govuk-table__cell--numeric">Non-molestation order</td>
       </tr>
       <tr class="govuk-table__row">
         <td class="govuk-table__cell">Proceeding 2</td>
         <td class="govuk-table__cell govuk-table__cell--numeric">Prohibited steps order</td>
       </tr>
       <tr class="govuk-table__row">
         <td class="govuk-table__cell">Proceeding 3</td>
         <td class="govuk-table__cell govuk-table__cell--numeric">Child arrangements order (residence)</td>
       </tr>
       </tbody>
       </table>

    <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-m">
      Delegated functions
    </h2>

    <table class="govuk-table" style="margin-bottom: 15px;">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Non-molestation order</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">3 Mar 2021</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Prohibited steps order</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">3 Mar 2021</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Child arrangements order (residence)</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Not used</td>
      </tr>
      </tbody>
      </table>

    <div class="govuk-!-padding-bottom-6"></div>

      <h2 class="govuk-heading-m">
        Emergency cost limit
      </h2>

      <table class="govuk-table" style="margin-bottom: 15px;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Do you want to request a higher cost limit?</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">New emergency cost limit</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£3,000</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Why you need a higher cost limit</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Reasons</td>
        </tr>
        </tbody>
        </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <h2 class="govuk-heading-l">
        Your client's income and outgoings
      </h2>

      <div class="govuk-grid-column-two-thirds" style="padding-left:0px">
        <h2 class="govuk-heading-m">Income</h2>
      </div>

      <table class="govuk-table" style="margin-bottom: 15px;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Benefits</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£164</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Financial help from friends or family</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£150</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Maintenance payments</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Income from a property or lodger</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Pension</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Student finance</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-!-padding-bottom-6"></div>

    <table class="govuk-table" style="margin-bottom: 15px;">
      <h2 class="govuk-heading-m">Outgoings</h2>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Housing payments</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£980</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Childcare payments</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£368</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Maintenance payments</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Payments towards legal aid in a criminal case</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-l">
      Your client's capital
    </h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Property</h2>
      </div>
    </div>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Property owned</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes, owned outright</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Estimated value</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£145,000</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Outstanding mortgage amount</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£127,345</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Owned with anyone else</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes, a friend, family member or other person</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Percentage owned</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">40%</td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-!-padding-bottom-6"></div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Vehicles</h2>
      </div>
    </div>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Vehicle owned</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Estimated value</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£4,000</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Outstanding payments</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">Date of purchase</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">19 April 2008</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">In regular use</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
        </tr>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Savings and investments</h2>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Money not in a bank account</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£745</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Money in another person's bank account</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1,280.72</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">ISAs, National Savings Certificates and Premium Bonds</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£2,657</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Shares in a PLC</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1,345</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">PEPs, unit trusts, capital bonds and government stocks</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£256</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Life assurance and endowment policies</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£45,687</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Other assets</h2>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Items worth more than £500</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£656</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home: value</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£67,535.72</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home: outstanding mortgage</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£745</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home: percentage owned</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">12%</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Timeshare</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£2,657</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Land</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1,345</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Money or assets from the estate of a person who has died</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Money owed to your client</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£45,687</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Interest in a trust</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Payments from schemes or charities</h2>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">England Infected Blood Support Scheme</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£656</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Vaccine Damage Payments Scheme</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£67,535.72</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Variant Creutzfeldt-Jakob disease (vCJD) Trust</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£745</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Criminal Injuries Compensation Scheme</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">National Emergencies Trust (NET)</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£2,657</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">We Love Manchester Emergency Fund</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1,345</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">The London Emergencies Trust</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Money owed to your client</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£45,687</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Interest in a trust</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Restrictions</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <!-- <p><a class="govuk-link" style="float:right;" href="capital_restrictions_select">Change</a></p> -->
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Your client cannot sell or borrow against their assets </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

<h2 class="govuk-heading-l">
  Merits
</h2>

<h2 class="govuk-heading-m">Latest domestic abuse incident details</h2>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Date your client told you about the incident</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">2 April 2021</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Date the incident occurred</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">2 April 2021</td>
    </tr>
  </tbody>
</table>

<div class="govuk-!-padding-bottom-6"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Opponent details</h2>
  </div>
  <div class="govuk-grid-column-one-third">
    <!-- <p><a class="govuk-link" style="float:right;" href="injunction_details">Change</a></p> -->
  </div>
</div>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Opponent's name</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Trevor</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Can they understand the terms of a court order?</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Has a warning letter been sent?</th>
      <td class="govuk-table__cell govuk-table__cell--numeric" >Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Have the police been notified?</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Have bail conditions been set?</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
  </tbody>
</table>

<div class="govuk-!-padding-bottom-6"></div>

<h2 class="govuk-heading-m">
  Statement of case
</h2>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Provide a statement of case</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">statement_of_case_1.pdf (100kb)</a></td>
    </tr>
  </tbody>
</table>

<div class="govuk-!-padding-bottom-6"></div>

<h2 class="govuk-heading-m">
 Chances of success
</h2>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Chances of a successful outcome</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">50% or better</td>
    </tr>
  </tbody>
</table>
</div>

<div class="govuk-!-padding-bottom-6"></div>

<div class="govuk-grid-column-two-thirds">
  <a href="application_print_placeholder_02" role="button" class="govuk-button">
    Print application
  </a>
  <a href="dashboard_2" role="button" class="govuk-button govuk-button--secondary" style="background-color:#dee0e2; color:#0b0c0c; margin-left:10px;">
    Back to your applications
  </a>
</div>




{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
    {
      href: "#",
      text: "Help"
    },
    {
      href: "https://www.gov.uk/help/cookies",
      text: "Cookies"
    },
    {
      href: "#",
      text: "Contact"
    },
    {
      href: "#",
      text: "Feedback"
    },
    {
      href: "#",
      text: "Terms and conditions"
    },
    {
      href: "https://mojdigital.blog.gov.uk/",
      text: "MOJ Digital Services"
    },
    {
      href: "/prototype-admin/clear-data",
      text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}
