{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Other capital
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "consent"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="email_address" method="post" class="form">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  What your client needs to do
                </h1>
              </legend>

              <p class="govuk-body">Your client needs to access 'Apply for legal aid' using a link we'll send them in an email.</p>

              <p class="govuk-body">They'll then be redirected to their bank’s website or app where they can:</p>

              <ul class="govuk-list govuk-list--bullet">
                   <li>sign in to their online banking</li>
                  <li>give TrueLayer permission to collect 3 months of bank statements on behalf of the LAA</li>
                   </ul>

              <p class="govuk-body">Once they've done this, your client will be returned to 'Apply for legal aid' so they can answer questions about their income and outgoings.</p>

          <button type="submit" class="govuk-button">
            Continue
          </button>


        </form>
      </div>
    </div>



{% endblock %}


