{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check your answers
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "capital_restrictions_select"
}) }}
{% endblock %}

{% block content %}
<style media="screen">
.app-check-your-answers__question{
  /*font-weight: normal;*/
}
th:first-child {
  font-weight: bold;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

  <!--  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Client details
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['firstname'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="client_details#firstname">
              Change <span class="govuk-visually-hidden">first name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['lastname'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="client_details#firstname">
              Change <span class="govuk-visually-hidden">last name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="client_details#firstname">
              Change <span class="govuk-visually-hidden">dob</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['national-insurance-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="client_details#firstname">
              Change <span class="govuk-visually-hidden">national insurance number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email-address'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="client_details#firstname">
              Change <span class="govuk-visually-hidden">email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correspondence address
          </dt>
          <dd class="govuk-summary-list__value">
            1 Main Street<br/>London<br/>{{ data['postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="client_details#firstname">
              Change <span class="govuk-visually-hidden">correspondance address</span>
            </a>
          </dd>
        </div>
     </dl>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          What you're applying for
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Proceeding
          </dt>
          <dd class="govuk-summary-list__value">
            Non-molestation order{{ data['...'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="search#search">
              Change <span class="govuk-visually-hidden">proceeding</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Form of service
          </dt>
          <dd class="govuk-summary-list__value">
          Full representation{{ data['...'] }}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Costs you can incur
          </dt>
          <dd class="govuk-summary-list__value">
            £5,000{{ data['...'] }}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Work you can do
          </dt>
          <dd class="govuk-summary-list__value">
            As to proceedings under Part IV Family Law Act 1996 limited to all steps up to and including obtaining and serving a final order and in the event of breach leading to the exercise of a power of arrest to representation on the consideration 	of the breach by the court (but excluding applying for a warrant of arrest, if not attached, and representation in contempt proceedings).
    {{ data['...'] }}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
     </dl>
    </div>
  </div>
  </div> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Client income</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <p><a class="govuk-link" style="float:right;" href="income">Change</a></p>
    </div>
  </div>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Salary or wages</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">£3,412</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Benefits</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Financial help</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">£1,000</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Maintenance payments</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Income from a property or lodger</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Student loan or grant</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__cell govuk-body" scope="row">Pension</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">£442</td>
      </tr>
    </tbody>
  </table>

  <div class="govuk-!-padding-bottom-3"></div>


    <h1 class="govuk-heading-l">
      Dependants
    </h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Dependant 1</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <p><a class="govuk-link" style="float:right;" href="#">Remove dependant</a></p>
    </div>
    </div>

    <!-- <dl class="app-check-your-answers app-check-your-answers--long">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Do you have any dependants?
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes{{ data['...'] }}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="/jim/dependants/v4/dependants">
            Change <span class="govuk-visually-hidden">blank</span>
          </a>
        </dd>
      </div>
           </dl>

           <dl class="govuk-summary-list govuk-!-margin-bottom-9">
               <div class="govuk-summary-list__row">
                 <dt class="govuk-summary-list__key">
               Name
             </dt>
             <dd class="govuk-summary-list__value">
               Jane Doe
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change <span class="govuk-visually-hidden">blank</span>
               </a>
             </dd>
           </div>

           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Date of birth
             </dt>
            <dd class="govuk-summary-list__value">
               12 October 2001
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change <span class="govuk-visually-hidden">blank</span>
               </a>
             </dd>
           </div>

           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Relationship to client
             </dt>
             <dd class="govuk-summary-list__value">
               Child relative{{ data['...'] }}
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change <span class="govuk-visually-hidden">blank</span>
               </a>
             </dd>
           </div>

           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               In full-time education or training
             </dt>
            <dd class="govuk-summary-list__value">
               No{{ data['...'] }}
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change <span class="govuk-visually-hidden">blank</span>
               </a>
             </dd>
           </div>

           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Income
             </dt>
             <dd class="govuk-summary-list__value">
               None
             </dd>
             <dd class="govuk-summary-list__actions">
               <a href="#">
                 Change <span class="govuk-visually-hidden">blank</span>
               </a>
             </dd>
           </div>
        </dl>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Dependant 2</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a class="govuk-link" style="float:right;" href="#">Remove dependant</a></p>
        </div>
        </div>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
             Name
           </dt>
          <dd class="govuk-summary-list__value">
             Joe Doe
           </dd>
           <dd class="govuk-summary-list__actions">
             <a href="#">
               Change <span class="govuk-visually-hidden">blank</span>
             </a>
           </dd>
         </div>

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Date of birth
           </dt>
          <dd class="govuk-summary-list__value">
             10 May 1967
           </dd>
            <dd class="govuk-summary-list__actions">
             <a href="#">
               Change <span class="govuk-visually-hidden">blank</span>
             </a>
           </dd>
         </div>

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
            Relationship to client
           </dt>
          <dd class="govuk-summary-list__value">
             Adult relative{{ data['...'] }}
           </dd>
           <dd class="govuk-summary-list__actions">
             <a href="#">
               Change <span class="govuk-visually-hidden">blank</span>
             </a>
           </dd>
         </div>

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Income
           </dt>
          <dd class="govuk-summary-list__value">
            £1,100
           </dd>
           <dd class="govuk-summary-list__actions">
             <a href="#">
               Change <span class="govuk-visually-hidden">blank</span>
             </a>
           </dd>
         </div>

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Assets worth more than £8,000
           </dt>
          <dd class="govuk-summary-list__value">
             £9,210{{ data['...'] }}
           </dd>
           <dd class="govuk-summary-list__actions">
             <a href="#">
               Change <span class="govuk-visually-hidden">blank</span>
             </a>
           </dd>
         </div>
      </dl>
      <p class="govuk-body"><a href="#">Add another dependant</a></p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Client outgoings</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a class="govuk-link" style="float:right;" href="outgoings">Change</a></p>
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Housing costs</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£1,945</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Childcare costs</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Maintenance payments</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-body" scope="row">Payments towards legal aid in a criminal case</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
          </tr>
        </tbody>
      </table>

      <h1 class="govuk-heading-l">
      Client capital
      </h1>

<h2 class="govuk-heading-m">
  Property
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Owns the home they live in
            </dt>
            <dd class="govuk-summary-list__value">
              Yes, owned outright
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Estimated value
            </dt>
            <dd class="govuk-summary-list__value">
              £250,000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Outstanding mortgage
            </dt>
            <dd class="govuk-summary-list__value">
              £180,000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Owns home with anyone else
            </dt>
            <dd class="govuk-summary-list__value">
              Yes, with a partner or ex-partner
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Share your client owns
            </dt>
            <dd class="govuk-summary-list__value">
              50%
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">
        Vehicles
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Owns a vehicle
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> name</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Estimated value
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £6,000
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> date of birth</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Outstanding payments
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £3,000
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> address</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Vehicle older than 3 years
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> contact details</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Vehicle in regular use
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> contact details</span>
                      </a>
                    </dd>
                  </div>
                </dl>

            <!--    <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m">Bank accounts</h2>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <p><a class="govuk-link" style="float:right;" href="savings_investments_select">Change</a></p>
                  </div>
                </div>

                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__cell govuk-body" scope="row">Current account</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£800</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th class="govuk-table__cell govuk-body" scope="row">Savings account</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£400</td>
                    </tr>
                  </tbody>
                </table>

                <div class="govuk-!-padding-bottom-3"></div> -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Savings and investments</h2>
  </div>
  <div class="govuk-grid-column-one-third">
    <p><a class="govuk-link" style="float:right;" href="savings_investments_select">Change</a></p>
  </div>
</div>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Cash kept at home or another location</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£745</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Access to another person's bank account</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1,280.72</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">National Savings Certificates and Premium Bonds</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£2,657</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Shares in a PLC</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1,345</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Unit trust</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1,256</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Fixed interest security</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£556</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Life assurance or endowment policies</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£45,687</td>
    </tr>
  </tbody>
</table>

<div class="govuk-!-padding-bottom-3"></div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Other assets</h2>
  </div>
  <div class="govuk-grid-column-one-third">
    <p><a class="govuk-link" style="float:right;" href="other_capital_select">Change</a></p>
  </div>
</div>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Valuable items worth more than £500</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£756</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home estimated value</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£67,535.72</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home outstanding mortgage amount</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£745</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Second property or holiday home percentage owned</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">12%</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Timeshare</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£2,657</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Land</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1,345</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Money or assets from the estate of a person who has died</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Money owed to you, including from a private mortgage</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£45,687</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Interest in a trust</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1</td>
    </tr>
  </tbody>
</table>

<div class="govuk-!-padding-bottom-3"></div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m">Restrictions on your client's assets</h2>
</div>
</div>

<dl class="govuk-summary-list govuk-!-margin-bottom-0">
<div class="govuk-summary-list__row govuk-summary-list--no-border normal-word-break" id="app-check-your-answers__restrictions">
 <dt class="govuk-summary-list__key govuk-!-width-one-half">
  Restrictions that prevent selling or borrowing against assets
 </dt>
 <dd class="govuk-summary-list__value">
   Yes
 </dd>
   <dd class="govuk-summary-list__actions">
       <a class="govuk-link change-link" href="capital_restrictions_select">
         Change<span class="govuk-visually-hidden"> Restrictions on your client's assets</span></a>
       </dd>
     </div>
   </dl>

 <div class="govuk-body wrap-text govuk-!-margin-bottom-0">
   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 </div>

   <h2 class="govuk-heading-m">What happens next</h2>

   <p>We'll use your answers to calculate if your client's financial eligibility for legal aid.</p>


<a href="nonpassported_meansresults" class="govuk-button" href="#" role="button">
  Save and continue
</a>

<a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
   Save and come back later
 </a>


</div>
</div>

{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
    {
      href: "#",
      text: "Contact"
    },
    {
      href: "#",
      text: "Feedback"
    },
    {
      href: "https://www.gov.uk/help/cookies",
      text: "Cookies"
    },
    {
      href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
      text: "Terms and conditions"
    },
    {
      href: "https://mojdigital.blog.gov.uk/",
      text: "MOJ Digital Services"
    },
    {
      href: "/prototype-admin/clear-data",
      text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}
