{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Check your answers
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "types_of_outgoing"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

     <h2 class="govuk-heading-l">
       Your bank accounts
     </h2>

     <h2 class="govuk-heading-m">
       Account 1
     </h2>

     <table class="govuk-table">
       <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
           <th class="govuk-table__cell govuk-body" scope="row">Bank</th>
           <td class="govuk-table__cell govuk-table__cell--numeric">Mock Bank</td>
         </tr>
         <tr class="govuk-table__row">
           <th class="govuk-table__cell govuk-body" scope="row">Account holder</th>
           <td class="govuk-table__cell govuk-table__cell--numeric">John Doe</td>
         </tr>
         <tr class="govuk-table__row">
           <th class="govuk-table__cell govuk-body" scope="row">Account number</th>
           <td class="govuk-table__cell govuk-table__cell--numeric">12345678</td>
         </tr>
         <tr class="govuk-table__row">
           <th class="govuk-table__cell govuk-body" scope="row">Sort code</th>
           <td class="govuk-table__cell govuk-table__cell--numeric">01-21-31</td>
         </tr>
         <tr class="govuk-table__row">
           <th class="govuk-table__cell govuk-body" scope="row">Balance</th>
           <td class="govuk-table__cell govuk-table__cell--numeric">£205.79</td>
         </tr>
       </tbody>
     </table>

     <h2 class="govuk-heading-m">
       Account 2
     </h2>

     <table class="govuk-table">
       <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
           <th class="govuk-table__cell govuk-body" scope="row">Bank</th>
           <td class="govuk-table__cell govuk-table__cell--numeric">Lloyds</td>
         </tr>
         <tr class="govuk-table__row">
           <th class="govuk-table__cell govuk-body" scope="row">Account holder</th>
           <td class="govuk-table__cell govuk-table__cell--numeric">John Doe and Jane Doe</td>
         </tr>
         <tr class="govuk-table__row">
           <th class="govuk-table__cell govuk-body" scope="row">Account number</th>
           <td class="govuk-table__cell govuk-table__cell--numeric">87654321</td>
         </tr>
         <tr class="govuk-table__row">
           <th class="govuk-table__cell govuk-body" scope="row">Sort code</th>
           <td class="govuk-table__cell govuk-table__cell--numeric">33-31-33</td>
         </tr>
         <tr class="govuk-table__row">
           <th class="govuk-table__cell govuk-body" scope="row">Balance</th>
           <td class="govuk-table__cell govuk-table__cell--numeric">£450.00</td>
         </tr>
         <tr><td style="padding-top:10px"><a class="govuk-link" href="bank_select_03">Add another bank account</a></td> </tr>
       </tbody>
     </table>

<h2 class="govuk-heading-l">
  Income and outgoings
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Income you receive</h2>
  </div>
  <div class="govuk-grid-column-one-third">
    <p><a class="govuk-link" style="float:right;" href="types_of_income">Change</a></p>
  </div>
</div>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Salary or wages</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Benefits</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Financial help from friends or family</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Maintenance payments</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Income from a property or lodger</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Student loan or grant</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Pension</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
    </tr>
  </tbody>
</table>

<div class="govuk-!-padding-bottom-3"></div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Regular payments you make</h2>
  </div>
  <div class="govuk-grid-column-one-third">
    <p><a class="govuk-link" style="float:right;" href="types_of_outgoing">Change</a></p>
  </div>
</div>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Housing costs</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Childcare costs</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Maintenance payments</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell govuk-body" scope="row">Payments towards legal aid in a criminal case</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
    </tr>
  </tbody>
</table>

      <a class="govuk-button" href="citizen_declaration" role="button">
        Save and continue
      </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
