{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Alternative funding
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "types_of_income"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="income" method="post" class="form">


        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">

      <!--  Have you exercised delegated functions for this application?
      Did you start work on this case in the last 5 days?
      Did you start work on this case within the 5 days before starting this application?
      Did you use delegated functions for this case in the last 5 days?
      Are you applying within 5 days of using delegated functions?
      Have you already started work because your client needed urgent representation?
      Have you already started proceedings because your client needs urgent representation?
       -->
       Does your client recieve any disregarded benefits?
      </h1>
    </legend>
    <!-- <p class="govuk-body">
    If yes the date must be within 5 days of submission.
    </p> -->
    <span id="how-contacted-conditional-hint" class="govuk-hint">
      <!-- If yes the date must be within 5 days of submission.
      For example, you've already started work because your client needed emergency representation. -->
    </span>



    <div class="govuk-!-padding-bottom-4"></div>

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="attempts-to-settle" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-1" {{ checked("attempts-to-settle","yes") }}>
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
          Yes
        </label>
      </div>


      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="attempts-to-settle" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("attempts-to-settle","no") }}>
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
          No
        </label>
        </fieldset>
      </div>


      <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    What are disregarded benefits?
    </span>
    </summary>
    <div class="govuk-details__text">
    These types of benefits are excluded from the financial eligibility calculation.  If your client receives any of these benefits, you’ll need to select the payments from their bank transactions so we’ll know what to exclude from the calculation. These include:
<ul>
<li>Attendance Allowance</li>
<li>Armed forces independence payment</li>
<li>Carer’s Allowance</li>
<li>Council Tax Benefit</li>
<li>Disability living allowance</li>
<li>Exceptionally Severe Disablement Allowance</li>
<li>Housing benefit</li>
<li>Personal Independence Payment</li>
<li> Payment on Account of Benefit</li> 
<li>Severe Disablement Allowance</li>
<li>Social Fund</li>
<li> Social Fund Funeral Payment</li>  
<li>War Widows Pension </li>
<li>Widow’s Pension </li>
</ul>

    </div>
    </details>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>

      <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
        Save and come back later
      </a>

      </form>
    </div>
  </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
