{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
  Apply for legal aid -
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "checklist"
}) }}

{% endblock %}

{% block content %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
          Give your client temporary access to the service
         </h1>

         <p class="govuk-body">We'll send your client a link to our service so they can:</p>

          <ul class="govuk-list govuk-list--bullet">
           <li>share their bank transactions</li>
           <li>tell us about their income and regular payments</li>
           </ul>

<!--
         <div class="govuk-form-group">
         <label class="govuk-label" for="email">
         Email address
         </label>
         <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
         </div>

          <p class="govuk-body">Your client will need to:</p>

            <p class="govuk-body">They'll need to:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>sign in to online banking</li>
            <li>give us temporary access to all of their bank accounts</li>
            <li>agree to share 3 months of their bank transactions with us</li>
            <li>share their bank transactions from the past 3 months with us</li>
            <li>answer questions about their income, regular costs and assets</li>
            <li>share all bank accounts, including any in joint names or with no money</li>
            </ul>

            <h2 class="govuk-heading-m">How we use your client's details</h2>


        <!-- <p class="govuk-body">We:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>download 3 months of bank transactions</li>
                <Li>only use the information for the legal aid application</Li>
              <li>automatically end the bank connection after one hour</li>
                <li>do not save any sign in details</li>
              </ul> -->

  <!--  <p class="govuk-body">When you click 'Send link' we'll send your client a secure link to the assessment to this email address:</p> -->
<h2 class="govuk-heading-m">
  Your client's email address
  </h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                johndoe@gmail.com
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="client_email_address">
                  Change <span class="govuk-visually-hidden">first name</span>
                </a>
              </dd>
            </div>
            </dl>

            <a href="confirmation_page" role="button" class="govuk-button">
              Send link
            </a>

            <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
              Save and come back later
            </a>

        </div>
      </div>




{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
