{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Proceedings
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "searchresults_v3"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-xl">Your client will be applying for the following legal proceedings</h2>
<form action="search_v3" method="post" class="form">
<div class="govuk-grid-row">
</div>


<div class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dd class="govuk-summary-list__value">Non-molestation order</dd>
<dd class="govuk-summary-list__actions">
<a class="govuk-link" href="client_details"><span class="govuk-visually-hidden"> name</span></a></dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="remove">
        Remove<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>


      <dd class="govuk-summary-list__value">
        Child assessment order
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="remove_3">
          Remove<span class="govuk-visually-hidden"> name</span>
        </a>
      </dd>
    </div>


<div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2>Does your client want to apply for any other legal proceedings?
                  <!--  Does anyone depend on you for financial support? -->
                    </h2>
                  </legend>

                <!--  <p class="govuk-body">A dependant is be a child or adult who lives with your client and depends on them for financial support.</p>
                   This includes anyone who depends on you for financial support.

                  <p class="govuk-body">A dependant is a child or adult who:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>lives with your client</li>
                        <li>depends on your client for financial support</li>
                        </ul>

                  <div class="govuk-inset-text">Do not include your client's partner (if they have one).</div> -->

                  <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                    <div class="govuk-radios__item">

                      <input class="govuk-radios__input" id="how-contacted-conditional-1" name="attempts-to-settle" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-1" {{ checked("attempts-to-settle","yes") }}>
                      <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                        Yes
                      </label>
                    </div>


                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="how-contacted-conditional-2" name="attempts-to-settle" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("attempts-to-settle","no") }}>
                      <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                        No
                      </label>

                    </fieldset>
                  </div>

                  <button type="submit" class="govuk-button">
                    Save and continue
                  </button>

                  <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
                    Save and come back later
                  </a>


                </form>
                </div>
                </div>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
