{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Confirmation page
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "check_answers"
}) }}

{% endblock %}

{% block content %}


  <div class="flash-card">
    <header>
      <h1 class="govuk-heading-l">We need to check if John Doe can get legal aid</h1>
    </header>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ul class="how-to-renew" data-id="how-to-renew-uk">
          <li>

          <!--  <h2 class="govuk-heading-m">Your client's benefits status</h2> -->
            <p style="color: #fff;">
            You told us legal restrictions prevent your client from selling or borrowing against their assets.</p>

            <p style="color: #fff;">
Your client has too much disposable capital to get legal aid, but they may still qualify depending on the restrictions.</p>

<p style="color: #fff;">
We'll check the details you provided and let you know our decision.</p>

          <!--  <ul class="govuk-list govuk-list--bullet">
            <li style="color: #fff;">bank accounts</li>
            <li style="color: #fff;">savings, investments and other capital</li>
            </ul> -->
          </li>

        </ul>

      <!--   <div class="govuk-!-padding-bottom-4"></div>

        <a href="continue_with_application" role="button" class="govuk-button white-button right">
          Continue</a>
       <a href=#" role="button" class="govuk-button draft-button">
          Save and come back later
        </a> -->

      </div>
    </div>
  </div>
  <br><br>

  <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How we calculated your client's eligibility
          </span>
        </summary>
        <br>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Your client's capital</h2>
          </div>
        </div>

        <table class="govuk-table">
            <tbody>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Home equity
                <!--  <span class="govuk-hint">
                  You can upload your receipt as a scanned copy or photo of the original
                  </span> -->
                </th>
                <td class="govuk-table__cell">£317.82</td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Vehicle equity</th>
                <td class="govuk-table__cell">£968.06</td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Savings and investments</th>
                <td class="govuk-table__cell">£277.08</td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Other assets</th>
                <td class="govuk-table__cell">£156.45</td>
              </tr>
  </tbody>
  <tfoot style="border-top: 2px solid #000">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total disposable capital</th>
      <td class="govuk-table__cell">£1,719.41</td>
    </tr>
  </tfoot>
  </table>
      </details>

  <button type="submit" class="govuk-button">
    Continue
  </button>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
