{% extends "layout.html" %}
{% from "govuk/components/breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}


{% block pageTitle %}
  Apply for legal aid - Citizen start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}


{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Start Sam Doe's financial assessment</h1>

        <p class="govuk-body-l">Your client has shared their financial information. You need to do the following:</p>
      <!--  <ul class="govuk-list govuk-list--bullet">
          <li>3 months of bank statements</li>
          <li>the types of payments they receive and make</li>
        </ul> -->


        <h1 class="govuk-heading-m">1. Check their employment income</h1>

        <p class="govuk-body">Check if the details HMRC shared with us are correct.</p>

        <h1 class="govuk-heading-m">2. Sort their bank transactions</h1>

        <p class="govuk-body">View their bank statements and assign payment types to bank transactions.
        </p>

  <h1 class="govuk-heading-m">3. Tell us about any dependants</h1>

        <p class="govuk-body">Provide details of your client's dependants (if they have any).</p>

        <h1 class="govuk-heading-m">3. Tell us about their capital</h1>

        <p class="govuk-body">Provide details of your client's savings, investments and other assets.
        </p>

        <!-- <p class="govuk-body">Your client:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li>shared 3 months of bank statements with us</li>
        <li>told us about their income and outgoings</li>
        </ul>

        <p class="govuk-body">You need to:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li>check if the employment details HMRC shared with us are correct</li>
        <li>sort your client's bank transactions into categories</li>
        <li>tell us about your client's dependants (if they have any) and capital</li>
        </ul>

      <!--  <p class="govuk-body">Your answers will help us check if your client qualifies financially for legal aid.</p> -->

<br>

<a class="govuk-button" href="employment" role="button">
  Continue
</a>

<!-- <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
  Save and come back later
</a> -->

</div>


      </div>

    </div>

{% endblock %}


