{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Agree bank access
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Apply for legal aid",
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "bank_access_information"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Do you agree to share your bank transactions with us?</h1>

    <p class="govuk-body govuk-inset-text">
      We only use your bank transactions to support your legal aid application. We do not use the information for anything else.
    </p>

    <!-- <h2 class="govuk-heading-m">We need your permission to view the following details from your online banking:</h2> -->

    <p class="govuk-body">We need your permission to view your:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>personal details (for example, your name and date of birth)<!-- <br><span class="govuk-hint">We will retrieve your Full Name, Date of Birth, Address, Email and Phone Number</span> --></li>
      <li>current and savings accounts<!-- <br><span class="govuk-hint">We will retrieve a list of your current and saving accounts</span> --></li>
      <li>bank transactions from the past 3 months<!-- <br><span class="govuk-hint">We will retrieve your account transactions' amounts and details</span> --></li>
      <li>bank balance<!-- <br><span class="govuk-hint">We will retrieve your account's current balance</span> --></li>
    <!--  <li>Your Card(s)<br><span class="govuk-hint">We will retrieve your card's info, balance, transactions and details</span></li>
      <li>Your Direct Debits<br><span class="govuk-hint">We will retrieve your account's direct debits</span></li>
      <li>Your Standing Orders<br><span class="govuk-hint">We will retrieve your account's standing orders</span></li> -->
    </ul>
    <div class="govuk-checkboxes" data-module="checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="bank-consent-1" name="bank-consent" type="checkbox" value="yes" data-aria-controls="conditional-bank-consent-1" {{ checked("bank-consent","yes") }}>
        <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold" for="bank-consent-1">
          <p><strong> I agree for you to check 3 months of bank transactions</strong> <br> using temporary access to my online banking</p>
        </label>
      </div>

    </div>
<!--
<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">
  We'll hand over to a secure service for you to sign in to your online banking.</p> -->

<!-- <a href="https://auth.truelayer.com/?response_type=code&client_id=applyforlegalaidtest-uxqw&nonce=2546921908&scope=info%20accounts%20balance%20transactions%20cards%20direct_debits%20standing_orders%20products%20beneficiaries%20offline_access&redirect_uri=https://apply-for-legal-aid-prototype.herokuapp.com/apply_for_legal_aid_prototype_non_passported_v3/citizen_accounts&enable_mock=true&enable_oauth_providers=true&enable_open_banking_providers=false&enable_credentials_sharing_providers=true" role="button" class="govuk-button">

  Save and continue
</a> -->

<a href="bank_select_03" role="button" class="govuk-button">

  Save and continue
</a>



</div>
</div>


{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
    {
      href: "#",
      text: "Contact"
    },
    {
      href: "#",
      text: "Feedback"
    },
    {
      href: "https://www.gov.uk/help/cookies",
      text: "Cookies"
    },
    {
      href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
      text: "Terms and conditions"
    },
    {
      href: "https://mojdigital.blog.gov.uk/",
      text: "MOJ Digital Services"
    },
    {
      href: "/prototype-admin/clear-data",
      text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}
