{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Other capital
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "capital_restrictions"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="check_answers_capital_full" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  <!-- What restrictions apply to your property or other assets? // property, savings or investments, or valuable items
                  Restrictions on your property or other assets
                  Are your assets subject to the following restrictions?
                Do any of the following restrictions apply to you or your partner's assets? -->
                  Select any restrictions that apply to your assets


                </h1>
              </legend>

              <div class="govuk-!-padding-bottom-6"></div>


<!-- <p class="govuk-body">We need to know if there is any reason why you cannot sell your assets to help pay for your legal aid.</p>

              <span id="citizenship-conditional-hint" class="govuk-body">
                We will consider any restrictions when assessing your client's financial situation.
              </span>

              <div class="govuk-!-padding-bottom-4"></div>

     <h2 class="govuk-heading-m">Select all that apply</h2> -->


              <div class="govuk-checkboxes" data-module="checkboxes">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-5" name="premium-bonds" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-5" {{ checked("premium-bonds","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-5">
                  Bankruptcy
                  <span id="dob-hint" class="govuk-hint">
                    <!--  For example, <!-- an officer of the court has taken control of // a court has ordered you to hand over your assets to be shared among people you owe money to. // you've applied to go bankrupt because you cannot afford to pay your debts. -->
                    Your <!--non-essential--> assets <!--and disposable income--> are being used to pay off those you owe money to.
                    </span>
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="second-property" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-1" {{ checked("second-property","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
                    Repossession order<!-- Repossession or deferred interest in a property <!-- or I'm paying 'deferred interest' on a property -->
                    <span id="dob-hint" class="govuk-hint">
                        For example, your mortgage lender has taken back your home because you have not kept up <!-- to date --> with repayments.
                      </span>
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="investments" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-2" {{ checked("investments","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                    Subject matter of dispute in other legal proceedings
                    <span id="dob-hint" class="govuk-hint">
                        For example, a court is deciding what happens to your assets as part of divorce proceedings.
                      </span>
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="second-property" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-1" {{ checked("second-property","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
                    Order for deferred sale (or 'Mesher Order')<!-- Repossession or deferred interest in a property <!-- or I'm paying 'deferred interest' on a property -->
                    <span id="dob-hint" class="govuk-hint">
                        A court has ordered that you cannot sell your home after a divorce until after a certain date or event<!-- (such as children finishing school)-->.
                      </span>
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-4" name="classic-car" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-4" {{ checked("classic-car","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-4">
                    Restraint order
                    <span id="dob-hint" class="govuk-hint">
                        A court has frozen your bank accounts or assets so you cannot use them.
                      </span>
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="antiques" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-3" {{ checked("antiques","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                    Foreign exchange controls
                    <span id="dob-hint" class="govuk-hint">
                        You have money or assets in a foreign country whose laws or political situation mean they cannot be transferred.
                      </span>
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-6" name="policies" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-6" {{ checked("policies","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-6">
                    They're held overseas
                    <span id="dob-hint" class="govuk-hint">
                        For example... IS THIS DIFFERENT TO FOREIGN EXCHANGE CONTROLS?
                      </span>
                  </label>
                </div>

                <p class="govuk-body">or</p>


                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-7" name="estates" type="checkbox" value="yes">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-7">
                    None of these apply
                  </label>
                </div>

              </div>

            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

        <!--  <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a> -->

        </form>
      </div>
    </div>

{% endblock %}


