
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Prototype testing
      <span class="govuk-caption-xl"></span>
    </h1>
  </div>
</div>

<p class="govuk-body">Section 8:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="section8/other_3" class="govuk-link">Client involvement type, level of service and scope limits</a></li>
</ul>


{% endblock %}
