
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Prototype testing
      <span class="govuk-caption-xl"></span>
    </h1>
  </div>
</div>

<p class="govuk-body">Check your answers - spike to update using summary list or summary card</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="justin/CYA/check_answers_merits_summary_list_01" class="govuk-link">Option 01 (Merits)</a></br><span class="govuk-hint">Using summary lists</span></li>
    <li><a href="justin/CYA/check_answers_merits_summary_list_02" class="govuk-link">Option 02 (Merits)</a></br><span class="govuk-hint">Using summary cards</span></li>
</ul>

<p class="govuk-body">Multiple opponents</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="justin/multiple_opponents/merits_tasklist" class="govuk-link">Multiple opponents</a></br><span class="govuk-hint">Opponent can be an individual or an organisation</span></li>
</ul>

<p class="govuk-body">Section 8:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="justin/section8_refined/other_3" class="govuk-link">Client involvement type, level of service and scope limits</a></li>
</ul>

<p class="govuk-body">Partner</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="justin/partner/check_answers_financial_means_BSU" class="govuk-link">Check your answers financial means using bank statement upload </a></li>
    <li><a href="justin/partner/check_answers_financial_means_truelayer" class="govuk-link">Check your answers financial means using truelayer</a></li>
</ul>


{% endblock %}
