{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Property and mortgage
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "dwp_check"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="steps" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  We need your client's bank statements from the last 3 months
                </h1>
              </legend>

              <p class="govuk-body-l">Your client can quickly and safely share their bank statements with us online through a third-party provider called TrueLayer.</p>

              <details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
              What is TrueLayer?
              </span>
              </summary>
              <div class="govuk-details__text">


              <p class="govuk-body"><a href="https://truelayer.com/" target=_blank>TrueLayer</a> is a trusted third-party financial service provider that acts as a messenger between your client's bank and the LAA.</p>
            <!--  <p class="govuk-body">TrueLayer will ask for one-time, read-only access to your client's bank account information. If your client consents, TrueLayer will share 3 months of bank statements with us.</p> -->
            <p class="govuk-body">With your client's permission, TrueLayer has one-time, read-only access to your client's bank account information, including their bank statements.</p>

              <p class="govuk-body">TrueLayer shares the bank statements with us so your client does not have to gather physical statements.</p>
              <p class="govuk-body">TrueLayer is regulated by the Financial Conduct Authority (FCA) and will <strong>not</strong>:</p>
              <ul class="govuk-list govuk-list--bullet">
              <li>store your client's bank account information</li>
              <li>see your client's online banking sign-in details</li>
              <li>share your client's data with anyone other than the LAA</li>
              <li>have ongoing access to your client's bank accounts</li>
              </ul>
              </div>
              </details>

              <h2 class="govuk-heading-m">
                Does your client use online banking?
              </h2>

              <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="open_banking" name="share" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="open_banking">
                  Yes</label>
              </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="open_banking-2" name="share" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="open_banking-2">
                    No
                    </label>
                </div>
                </div>

                <br><br>

                <h2 class="govuk-heading-m">
                  Does your client have an email address?
                </h2>

                <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="open_banking-3" name="share-2" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="open_banking-3">
                    Yes</label>
                </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="open_banking-4" name="share-2" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="open_banking-4">
                      No
                      </label>
                  </div>
                  </div>

                <!--  <br><br>

                  <h2 class="govuk-heading-m">
                    Is your client happy to share their bank statements with us via TrueLayer?
                  </h2>

                  <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="open_banking-5" name="share-3" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="open_banking-5">
                      Yes</label>
                  </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="open_banking-6" name="share-3" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="open_banking-6">
                        No
                        </label>
                    </div>
                    </div> -->
                </div>

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

          <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>

        </form>
      </div>
    </div>

    <p class="govuk-body"><a href="upload" style="color: #b7b7b7;">If one or more 'No' radios are selected the provider has to upload bank statements</p>


{% endblock %}
