{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Other capital
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "start_page"
  }) }}
{% endblock %}

{% block content %}

<!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading" style="max-width:900px">Your client can share their bank statements with us through online banking.</p>
  </div>
</div> -->

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="bank_select" method="post" class="form">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
  <h1 class="govuk-fieldset__heading">
    Share your bank statements using online banking
  </h1>
</legend>
<br>


                <h3 class="govuk-heading-m">1. Select your bank</h3>

                <p class="govuk-body">You can do this on the next page.</p>

                <h3 class="govuk-heading-m">2. Sign in to online banking</h3>

                  <p class="govuk-body">We’ll redirect you to your bank’s website or app after you select your bank.</p>

                    <h3 class="govuk-heading-m">3. Share your bank account information</h3>

                      <p class="govuk-body">You’ll be asked to give a trusted third party called TrueLayer one-time,  read-only access to your account details.</p>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                                What is TrueLayer?
                                </span>
                                </summary>
                                <div class="govuk-details__text">
                                <p class="govuk-body"><a href="https://truelayer.com/" target=_blank>TrueLayer</a> is a third-party financial service provider that acts as a
                                  messenger between your bank and the LAA.

                                  <p class="govuk-body">With your consent, they’ll have secure, temporary access to your account details including:</p>

                                  <ul class="govuk-list govuk-list--bullet">

                                  <li>bank statements and transaction details</li>
                                  <li>account number and sort code</li>
                                  <li>account balances</li>
                                  <li> Direct Debits and standing orders</li>
                                  </ul>

                                <p class="govuk-body">They're regulated by the Financial Conduct Authority (FCA) and will:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                <li>not store your bank account information</li>
                                <li>not see your online banking sign-in details</li>
                                <li>not share your data with anyone other than the LAA</li>
                                <li>not have ongoing access to your bank accounts</li>
                                </ul>
                                </div>
                                </details>

              <h3 class="govuk-heading-m">4. TrueLayer shares your bank statements with us</h3>

        <p class="govuk-body">We’ll share these with your solicitor who’ll sort your transactions
into categories to help us understand your financial situation.</p>


<br>
<button type="submit" class="govuk-button">
  Continue
</button>


</form>
</div>
</div>





{% endblock %}
