{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Other capital
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "start_page"
  }) }}
{% endblock %}

{% block content %}

<!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading" style="max-width:900px">Your client can share their bank statements with us through online banking.</p>
  </div>
</div> -->

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="bank_select" method="post" class="form">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
  <h1 class="govuk-fieldset__heading">
    Share your bank statements using online banking
  </h1>
</legend>
<br>
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    How it works
                  </h1>
                </legend>

                <p class="govuk-body">1. Select your bank on the next page.</p>

                  <p class="govuk-body">2. We’ll then redirect you to your bank’s website or app.</p>

                    <p class="govuk-body">3. Sign in to online banking.</p>

                      <p class="govuk-body">4. Your bank will ask you to give a trusted third party called TrueLayer access to your bank account
information. You must do this for all of your bank accounts.</p>



                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                                What is TrueLayer?
                                </span>
                                </summary>
                                <div class="govuk-details__text">
                                <p class="govuk-body"><a href="https://truelayer.com/" target=_blank>TrueLayer</a>  is a third-party financial service provider that acts as a
                                  messenger between your bank and the LAA.

                                  <p class="govuk-body">With your consent, they’ll have one-off, read-only access to your account details including:</p>

                                  <ul class="govuk-list govuk-list--bullet">

                                  <li>bank statements and transaction details</li>
                                  <li>account number and sort code</li>
                                  <li>account balances</li>
                                  <li> Direct Debits and standing orders</li>
                                  </ul>

                                <p class="govuk-body">They're regulated by the Financial Conduct Authority (FCA) and will not:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                <li>store your bank account information</li>
                                <li>see your online banking sign-in details</li>
                                <li>share your data with anyone other than the LAA</li>
                                <li>have ongoing access to your bank accounts</li>
                                </ul>
                                </div>
                                </details>

                <p class="govuk-body">5. TrueLayer shares 3 months of your bank statements with us.</p>

                  <p class="govuk-body">6. You’ll be returned to this service to complete your part of the application.</p>


<br>
<button type="submit" class="govuk-button">
  Continue
</button>


</form>
</div>
</div>





{% endblock %}
