{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Client details
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="children_2" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">


<h1 class="govuk-heading-xl">You have added 1 child</h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Date of birth</th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Billy Doe</td>
      <td class="govuk-table__cell">1 Jan 2013</td>
      <td class="govuk-table__cell"><a href="children_1">Change</a></td>
      <td class="govuk-table__cell"><a href="remove_child_1">Remove</a></td>
    </tr>
  </tbody>
</table>

<!-- <div class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dd class="govuk-summary-list__value">Name: <strong>Sarah Doe</strong><br>Date of birth: <strong>1 January 2010</strong><br>Proceedings: <strong>Prohibited steps order; Child arrangements order (contact)</strong></dd>
<dd class="govuk-summary-list__actions">
<a class="govuk-link" href="dependant_add">Change<span class="govuk-visually-hidden"> name</span></a></dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="remove_2">
        Remove<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
    </div> -->

<form method="post" action="">

<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--l">
Do you need to add another child?
</legend>
<!-- <div id="add-another-hint" class="govuk-hint">
You must tell us about all your directors.
</div> -->
<div class="govuk-radios govuk-radios">
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
<label class="govuk-label govuk-radios__label" for="add-another">
  Yes
</label>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
<label class="govuk-label govuk-radios__label" for="add-another-2">
  No
</label>
</div>
</div>

</fieldset>
</div>

</form>


          <div></div>

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

         <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>

          <!-- <p class="govuk-body">
            <a href="dashboard">Save and come back later</a></p> -->

        </form>

      </div>
    </div>

{% endblock %}
