{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Other capital
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "/passported_v2/savings_investments"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="types_of_outgoing" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                <!--  Does your client have any of the following?
                Other assets - select any that apply to your client -->
                About your dependants aged 19 or over
                </h1>
              </legend>

              <div class="govuk-!-padding-bottom-8"></div>

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Dependant 1 <!-- born 22 January 1956 -->
                   </legend>
                     <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Select all that apply
                      </legend>
                  <div class="govuk-checkboxes" data-module="checkboxes">


                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="antiques" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-1" {{ checked("antiques","yes") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
                        Has their own source of income
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-1">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="antiques-value">
                          How much do they get each month?
                        </label>
                        <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                        <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                      </div>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="antiques" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-2" {{ checked("antiques","yes") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                        Has capital assets worth over £8,000
                      </label>
                    </div>
                  <!--  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-2">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="antiques-value">
                          How much do they have?
                        </label>
                        <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                        <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                      </div>
                    </div> -->



                    <p class="govuk-body">or</p>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-7" name="estates" type="checkbox" value="yes">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-7">
                        None of these
                      </label>
                    </div>



                <div class="govuk-!-padding-bottom-6"></div>

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Dependant 2 <!-- born 30 December 1961 -->
                 </legend>
                   <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Select all that apply
                    </legend>
                <div class="govuk-checkboxes" data-module="checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="antiques" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-3" {{ checked("antiques","yes") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                      Has their own source of income
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="antiques-value">
                        How much do they get each month?
                      </label>
                      <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                      <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                    </div>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-4" name="antiques" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-4" {{ checked("antiques","yes") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-4">
                      Has capital assets worth over £8,000
                    </label>
                  </div>
                <!--  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-4">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="antiques-value">
                        How much do they have?
                      </label>
                      <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                      <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                    </div>
                  </div> -->



                  <p class="govuk-body">or</p>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-7" name="estates" type="checkbox" value="yes">
                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-7">
                      None of these
                    </label>
                  </div>



              </div>

            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

        <!--  <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a> -->

        </form>
      </div>
    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
