{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
  Apply for legal aid
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "/proceedings"
}) }}

{% endblock %}

{% block content %}

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      Enter your client's details
    </h1>
  </legend>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-!-padding-bottom-8"></div>

  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="first-name">
    First name
  </label>
    <!-- <input class="govuk-input govuk-!-width-one-half" id="first-name" name="first-name" type="text"> -->
    <input class="govuk-input govuk-!-width-one-half" id="registration-number" name="vehicle-registration" type="text">
  </div>

<div class="govuk-!-padding-bottom-2"></div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="last-name">
  Last name
</label>
  <input class="govuk-input govuk-!-width-one-half" id="last-name" name="last-name" type="text">
</div>

<div class="govuk-!-padding-bottom-2"></div>

  <label class="govuk-label govuk-!-font-weight-bold" for="full-name">
  Date of birth
  </label>
  <span id="dob-hint" class="govuk-hint">
     For example, 31 3 1980
   </span>
     <div class="govuk-date-input" id="dob">

       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="dob-day">
           Day
         </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
         </div>
       </div>

       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="dob-month">
           Month
         </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
         </div>
       </div>

       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="dob-year">
           Year
         </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
         </div>
       </div>
     </div>

<div class="govuk-!-padding-bottom-2"></div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="address-postcode">
    Postcode
  </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">

  </div>

  </div>
  </div>

</fieldset>

<a href="/find_address" role="button" class="govuk-button">
  Find address
</a>

<details class="govuk-details">
  <summary class="govuk-details__summary ">
    <span class="govuk-details__summary-text">
    Enter address manually
    </span>
  </summary>
  <div class="govuk-!-padding-bottom-4"></div>

  <div class="govuk-form-group">
<label class="govuk-label" for="address-line-1">
Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
</label>
<input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="two-thirds" type="text">
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="address-line-2">
<span class="govuk-visually-hidden">Building and street line 2 of 2</span>
</label>
<input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="two-thirds" type="text">
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="address-town">
Town or city
</label>
<input class="govuk-input govuk-!-width-one-third" id="one-third" name="one-third" type="text">
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="address-county">
County
</label>
<input class="govuk-input govuk-!-width-one-third" id="one-third" name="one-third" type="text">
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="address-postcode">
Postcode
</label>
<input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
</div>

</details>

<div class="govuk-!-padding-bottom-6"></div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with completing this application
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>For any queries about your application, contact the following:
      <br><br>
          Case enquires (Monday to Friday, 09:00 - 17:00) <br>
                Phone: 0300 200 2020
		    <br><br>
		        Technical support (Monday to Friday, 09:00 - 17:00) <br>
		           Email: <a href="#noop">online-support@justice.gov.uk</a> <br>
		              Phone: 0300 200 2020
		</p>
  </div>
</details>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            }
          ]
        }
      }) }}
    {% endblock %}
