{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Property and mortgage
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "property"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="savings_investments_select" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Does your client have any savings or investments?
                </h1>
              </legend>

                <div class="govuk-!-padding-bottom-4"></div>
                <span class="govuk-hint">
For example, bank or building society accounts, cash savings or shares.</span>
<div class="govuk-!-padding-bottom-4"></div>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="property-1" name="property" type="radio" value="yes" {{ checked("property","yes") }}>
                  <label class="govuk-label govuk-radios__label" for="capital-1">
                    Yes
                  </label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="property-3" name="property" type="radio" value="no" {{ checked("property","no") }}>
                  <label class="govuk-label govuk-radios__label" for="property-3">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

        <!--  <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What counts as savings or investments?
              </span>
            </summary>
            <div class="govuk-details__text">
               <p class="govuk-body">We need to know if your client has:</p>
                 <ul class="govuk-list govuk-list--bullet">
               <li>bank, building society, Post Office or ISA accounts</li>
               <li>cash savings</li>
               <li>power of attorney, for example over a Junior ISA</li>
               <li>National Savings Certificates or Premium Bonds</li>
               <li>shares in a public limited company (PLC)</li>
               <li>personal equity plans (PEPs), unit trusts, capital bonds or government stocks</li>
               <li>life assurance or endowment policies not linked to a mortgage</li>
            </div>
          </details> -->

          <button type="submit" class="govuk-button">
            Continue
          </button>

          <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save as draft
          </a>
        </form>
      </div>
    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
