{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "merits_start_page"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <!--  <p class="gov-body">
    <a href="outgoings">Go to outgoings</a>
    </p> -->
    <h1 class="govuk-heading-xl">Continue Sam Doe's financial assessment</h1>

 <ol class="app-task-list">
   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">1. </span>Employment details
       <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">
         </span>
     </h2>
     <ul class="app-task-list__items">
       <li class="app-task-list__item">
         <a class="govuk-body" href="employment_income" aria-describedby="eligibility-completed">
           Review employment income
         </a>
         <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
       </li>
     </ul>
   </li>

  

   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">2. </span> Income and outgoings
       <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">

         </span>
     </h2>
     <ul class="app-task-list__items">

       <li class="app-task-list__item">
         <a class="govuk-body" href="sort_income" aria-describedby="eligibility-completed">
           Review and sort incoming transactions into categories
         </a>
         <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
       </li>
       <li class="app-task-list__item">
        <a class="govuk-body" href="sort_outgoings" aria-describedby="eligibility-completed">
          Review and sort outgoing transactions into categories
        </a>
        <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
      </li>
      <li class="app-task-list__item">
        <a class="govuk-body" href="dependants" aria-describedby="eligibility-completed">
          Dependants
        </a>
        <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
      </li>
     </ul>
   </li>

   <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">3. </span> Capital
      <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">

        </span>
    </h2>
    <ul class="app-task-list__items">

      <li class="app-task-list__item">
        <a class="govuk-body" href="property" aria-describedby="eligibility-completed">
          Property
        <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
      </li>
      <li class="app-task-list__item">
       <a class="govuk-body" href="vehicles" aria-describedby="eligibility-completed">
         Vehicle
       </a>
       <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
     </li>
     <li class="app-task-list__item">
       <a class="govuk-body" href="#" aria-describedby="eligibility-completed">
         Offline bank accounts
       </a>
       <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
     </li>
     <li class="app-task-list__item">
       <a class="govuk-body" href="#" aria-describedby="eligibility-completed">
         Savings and investments
       </a>
       <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
     </li>
     <li class="app-task-list__item">
      <a class="govuk-body" href="#" aria-describedby="eligibility-completed">
        Other assets
      </a>
      <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
    </li>
    <li class="app-task-list__item">
      <a class="govuk-body" href="#" aria-describedby="eligibility-completed">
        Scheme or charity payments
      </a>
      <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
    </li>
    </ul>
  </li>

 </ol>

        <a href="employment_income.html" role="button" class="govuk-button">
          Save and continue
        </a>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

    </div>
  </div>

  {% endblock %}

  
