{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "PROTOTYPE"
    },
    html: 'This is a prototype. Some things may not work as expected.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "employment_income"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Review regular incoming bank transactions
          </h1>
        </legend><br>

        <p class="gov-body">
          We've guessed income categories for the following transactions:</p>

     </ul>
     </li>

    <br>
    <br>
       
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
      
            <h2 class="govuk-heading-m"> Help from family and friends</h2>
          </div>
          <div class="govuk-grid-column-one-third">
            <p class="govuk-heading-m" style="float: right;"> Total:  £1,500.75 </p>
          </div>
        </div>

      
   
         <table class="govuk-table" style="margin-bottom:0px;">
               <thead class="govuk-table__head">
                 <tr class="govuk-table__row">
                   <th class="govuk-table__header" scope="col">Date</th>
                   <th class="govuk-table__header" scope="col">Description</th>
                   <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>
                   <th class="govuk-table__header" scope="col"></th>
                   <th class="govuk-table__header" scope="col"></th>
                 </tr>
               </thead>
             <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell">7 Jan 2021</td>
                 <td class="govuk-table__cell">SALLY DOE FP 7/01/2021</td>
                 <td class="govuk-table__cell govuk-table__cell--numeric">£50</td>
                 <td class="govuk-table__cell">
                  <strong class="govuk-tag">
            AUTOMATED
          </strong>
          
                </td>
                 <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                   Remove
                 </a></td>
               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell">9 Dec 2020</td>
                 <td class="govuk-table__cell">SALLY DOE FP 9/12/2020</td>
                 <td class="govuk-table__cell govuk-table__cell--numeric">£50</td>
                 <td class="govuk-table__cell">
                  <strong class="govuk-tag">
            AUTOMATED
          </strong>
          
                </td>
                 <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                   Remove
                 </a></td>
               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell">12 Oct 2020</td>
                 <td class="govuk-table__cell">12345678A SAL DOE</td>
                 <td class="govuk-table__cell govuk-table__cell--numeric">£80</td>
                 <td class="govuk-table__cell">
                  <strong class="govuk-tag">
            AUTOMATED
          </strong>
          
                </td>
                 <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                   Remove
                 </a></td>
               </tr>
               </tbody>
               </table>
              
               
         <div class="govuk-!-padding-bottom-9"></div>
    
    
         <br>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
        
              <h2 class="govuk-heading-m">Benefits</h2>
            </div>
            <div class="govuk-grid-column-one-third">
              <p class="govuk-heading-m" style="float: right;"> Total:  £1,500.75 </p>
            </div>
          </div>
     
          <table class="govuk-table" style="margin-bottom:0px;">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Date</th>
                <th class="govuk-table__header" scope="col">Description</th>
                <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>
                <th class="govuk-table__header" scope="col"></th>
                <th class="govuk-table__header" scope="col"></th>
              </tr>
            </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">7 Jan 2021</td>
              <td class="govuk-table__cell">12345678A DWP DLA</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
              <td class="govuk-table__cell">
               <strong class="govuk-tag">
         AUTOMATED
       </strong>
       
             </td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                Remove
              </a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">9 Dec 2020</td>
              <td class="govuk-table__cell">12345678A DWP DLA</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
              <td class="govuk-table__cell">
               <strong class="govuk-tag">
         AUTOMATED
       </strong>
       
             </td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                Remove
              </a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">12 Oct 2020</td>
              <td class="govuk-table__cell">12345678A DWP DLA</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
              <td class="govuk-table__cell">
               <strong class="govuk-tag">
         AUTOMATED
       </strong>
       
             </td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                Remove
              </a></td>
            </tr>
            </tbody>
            </table>


            <div class="govuk-!-padding-bottom-9"></div>


    <br>
     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
   
         <h2 class="govuk-heading-m">Pension</h2>
       </div>
       <div class="govuk-grid-column-one-third">
         <p class="govuk-heading-m" style="float: right;"> Total:  £1,500.75 </p>
       </div>
     </div>

      <table class="govuk-table" style="margin-bottom:0px;">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Date</th>
                <th class="govuk-table__header" scope="col">Description</th>
                <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>
                <th class="govuk-table__header" scope="col"></th>
                <th class="govuk-table__header" scope="col"></th>
              </tr>
            </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">10 Dec 2020</td>
              <td class="govuk-table__cell">WORK PENSION 10/12/2020</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£50</td>
              <td class="govuk-table__cell">
               <strong class="govuk-tag">
         AUTOMATED
       </strong>
       
             </td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                Remove
              </a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">9 Nov 2020</td>
              <td class="govuk-table__cell">WORK PENSION 09/11/2020</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£50</td>
              <td class="govuk-table__cell">
               <strong class="govuk-tag">
         AUTOMATED
       </strong>
       
             </td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                Remove
              </a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">12 Oct 2020</td>
              <td class="govuk-table__cell">WORK PENSION 12/10/2020</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£80</td>
              <td class="govuk-table__cell">
               <strong class="govuk-tag">
         AUTOMATED
       </strong>
       
             </td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">
                Remove
              </a></td>
            </tr>
            </tbody>
            </table>
          <br>

          <br>

          <div class="govuk-!-padding-bottom-"></div>
    

 </ol>
 <div class="govuk-!-padding-bottom-6"></div>
 <h2 class="govuk-heading-l">What happens next</h2>

 <p class="gov-body">
   You must review the uncategorised transactions and add any regular payments to their associated category.</p>

  

 <div class="govuk-!-padding-bottom-6"></div>

        <a href="transactions" role="button" class="govuk-button">
          Save and continue
        </a>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

    </div>
  </div>

  {% endblock %}

  
