{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  Details about the expense - Apply for legal aid
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: { text: "Prototype" },
  html: 'This is a prototype. Some things may not work as expected.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="upload_empty" method="post" novalidate>

        <h1 class="govuk-heading-xl">
          Details about the {{ data['expense-choice'] | default("expense") }}
        </h1>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="expense-provider">
            Organisation providing the service
          </label>
          <div id="expense-provider-hint" class="govuk-hint">
            For example, an agency, hotel, transport provider, or clinic
          </div>
          <input class="govuk-input" id="expense-provider" name="expenseProvider" type="text" aria-describedby="expense-provider-hint">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="expense-reason">
            Why is this expense needed?
          </label>
          <div id="expense-provider-justification-hint" class="govuk-hint">
            Briefly explain what it’s for and justify the cost
          </div>
          <textarea class="govuk-textarea" id="expense-reason" name="expenseReason" rows="5" aria-describedby="expense-reason-hint"></textarea>
        </div>

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save and come back later
          </button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}