{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  Details about the expert - Apply for legal aid
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: { text: "Prototype" },
  html: 'This is a prototype. Some things may not work as expected.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="upload_empty" method="post" novalidate>

        <h1 class="govuk-heading-xl">
          Details about the {{ data['expert-choice'] | default("expert") }}
        </h1>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="expert-full-name">
            Full name
          </label>
          <input class="govuk-input" id="expert-full-name" name="expertFullName" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="expert-reason">
            Why is this expert needed?
          </label>
          <div id="expert-reason-hint" class="govuk-hint">
            Briefly explain the work they’ll do and justify any extra time or cost
          </div>
          <textarea class="govuk-textarea" id="expert-reason" name="expertReason" rows="5" aria-describedby="expert-reason-hint"></textarea>
        </div>

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save and come back later
          </button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}