{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid -
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "/old/passported_v2/delegated_functions"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="check_answers" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What is your client's involvement in the case?
              </h1>
            </legend>

            <div class="govuk-!-padding-bottom-4"></div>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="clients-involvement-1" name="clients-involvement" type="radio" value="better" {{ checked("prospects","better") }}>
                <label class="govuk-label govuk-radios__label" for="clients-involvement-1">
                  Applicant
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="clients-involvement-2" name="clients-involvement" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="clients-involvement-2">
                  Defendant
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="wclients-involvement-3" name="clients-involvement" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="clients-involvement-3">
                  Intervenor
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="clients-involvement-4" name="clients-involvement" type="radio" value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="clients-involvement-4">
                  Subject to proceedings (child)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="clients-involvement-5" name="clients-involvement" type="radio" value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="clients-involvement-5">
                  Joined party
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>



{% endblock %}


