{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "prospects_non_mol"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <!--  <p class="gov-body">
    <a href="outgoings">Go to outgoings</a>
    </p> -->
    <h1 class="govuk-heading-xl">Provide details of the case</h1>

<h1 class="govuk-heading-l">Enter general case details</h1>

 <ol class="app-task-list">

   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">1. </span>Case details
       <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">

         </span>
     <!--  <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">

       </span> -->
     </h2>
     <ul class="app-task-list__items">

       <li class="app-task-list__item">
         <a class="govuk-body" href="incident_details" aria-describedby="eligibility-completed">
           Latest incident details
         </a>
         <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li>
       <li class="app-task-list__item">
         <a class="govuk-body" href="opponent_details" aria-describedby="eligibility-completed">
           Opponent details
         </a>
         <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li>
       <li class="app-task-list__item">
         <a class="govuk-body" href="children_1" aria-describedby="eligibility-completed">
           Children involved in this application
         </a>
         <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li>
       <li class="app-task-list__item">
         <a class="govuk-body" href="statement" aria-describedby="eligibility-completed">
           Statement of case
         </a>
         <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li>
     </ul>
   </li>

   <h1 class="govuk-heading-l">Enter details for each proceeding</h1>
   <br>

   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">2. </span> Non-molestation order
       <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">

         </span>
     <!--  <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">

       </span> -->
     </h2>
     <ul class="app-task-list__items">

    <!--   <li class="app-task-list__item">
         <a class="govuk-body" href="incident_details" aria-describedby="eligibility-completed">
           Latest incident details
         </a>
         <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li>
       <li class="app-task-list__item">
         <a class="govuk-body" href="opponent_details" aria-describedby="eligibility-completed">
           Opponent details
         </a>
         <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li> -->
       <li class="app-task-list__item">
         <a class="govuk-body" href="prospects_non_mol" aria-describedby="eligibility-completed">
           Chances of success
         </a>
         <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li>
     </ul>
   </li>



   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">3. </span> Prohibited steps order
     </h2>
     <ul class="app-task-list__items">
      <!-- <li class="app-task-list__item">
         <a class="govuk-body" href="laspo_pso" aria-describedby="eligibility-completed">
           In scope of LASPO
         </a>
         <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
       </li> -->
       <li class="app-task-list__item">
         <a class="govuk-body" href="children_pso" aria-describedby="eligibility-completed">
           Children covered by proceeding
         </a>
         <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
       </li>
       <li class="app-task-list__item">
         <a class="govuk-body" href="resolve_pso" aria-describedby="eligibility-completed">
           Attempts to settle
         </a>
         <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
       </li>
    <!--   <li class="app-task-list__item">
         <a class="govuk-body" href="specific_details_pso" aria-describedby="eligibility-completed">
           Specific details
         </a>
         <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
       </li> -->
       <li class="app-task-list__item">
         <a class="govuk-body" href="prospects_pso" aria-describedby="eligibility-completed">
           Chances of success
         </a>
         <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
       </li>
     </ul>
   </li>

   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">4. </span> Child arrangements order (residence)
     </h2>
     <ul class="app-task-list__items">
      <!-- <li class="app-task-list__item">
         <a class="govuk-body" href="laspo_cao" aria-describedby="eligibility-completed">
           In scope of LASPO
         </a>
         <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
       </li> -->
       <li class="app-task-list__item">
         <a class="govuk-body" href="children_cao" aria-describedby="eligibility-completed">
           Children covered by proceeding
         </a>
         <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
       </li>
       <li class="app-task-list__item">
         <a class="govuk-body" href="resolve_cao" aria-describedby="eligibility-completed">
           Attempts to settle
         </a>
         <strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
       </li>
       <li class="app-task-list__item">
         <a class="govuk-body" href="prospects_cao" aria-describedby="eligibility-completed">
           Chances of success
         </a><strong class="govuk-tag moj-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
       </li>
     </ul>
   </li>

 </ol>

        <a href="#" role="button" class="govuk-button">
          Save and continue
        </a>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
