{% extends "layout.html" %}

{% block pageTitle %}
Apply for legal aid - Your applications
{% endblock %}

{% block serviceNavigation %}
    {{ govukServiceNavigation({
      serviceName: "Apply for civil legal aid",
      serviceUrl: "/new_app_to_DWP/dashboard",
      navigation: [
    {
      href: "dashboard_SCA_application_inprogress",
      text: "Special children act applications",
      active: true
    },
    {
      href: "dashboard_non_SCA_application_inprogress",
      text: "Other applications"
    },
    {
      href: "#",
      text: "Search"
    }
  ]
    }) }}
  {% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: { text: "Prototype" },
  html: 'This is a prototype. Some things may not work as expected.'
}) }}

{{ govukBackLink({
    text: "Back",
    href: "apply_sca_and_other"
  }) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Special children act applications</h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Make a new application
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Make a claim
  </button>
</div>

  </div>

</div>


<nav class="moj-sub-navigation" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="dashboard_SCA_application_inprogress.html">
        In progress
        <span class="moj-notification-badge">
          <span aria-hidden="true">1</span>
          <span class="govuk-visually-hidden">1 item in progress</span>
        </span>
      </a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" aria-current="page" href="#submitted">Submitted</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="dashboard_SCA_application_decided.html">Decided</a>
    </li>

  </ul>
</nav>



<table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Start date</th>
      <th scope="col" class="govuk-table__header">LAA reference</th>
      <th scope="col" class="govuk-table__header"> Action</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#7">Vincent George</a></td>
      <td class="govuk-table__cell" data-sort-value="4897">29 Aug 2024</td>
      <td class="govuk-table__cell">L-RE7-VU7</td>
      <td class="govuk-table__cell"><a href="#">Manage</a></td>
    </tr>

  </tbody>
</table>







        {% endblock %}
