{% extends "layout.html" %}
{% from "govuk/components/breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}


{% block pageTitle %}
  Apply for legal aid - Citizen start page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: { text: "Prototype" },
  html: 'This is a prototype. Some things may not work as expected.'
}) }}

{{ govukBackLink({
    text: "Back",
    href: "dashboard_SCA_application_decided"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Manage your application</h1>

    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Client</dt>
        <dd class="govuk-summary-list__value">Louise Bevan</dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">LAA reference</dt>
        <dd class="govuk-summary-list__value">
          <div style="display: flex; align-items: center; gap: 15px;">
            <span id="laa-reference-code">L-YU5-UY3</span>
            <button type="button" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">
              Copy
            </button>
          </div>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Matter type</dt>
        <dd class="govuk-summary-list__value">Special children act</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green">Granted</strong>
        </dd>
      </div>
    </dl>
    </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-grid-row card-group">
      
      <li class="govuk-grid-column-one-half card-group__item">
        <div class="card card--clickable" data-test="card-five">
          <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link card__link govuk-link--no-visited-state" href="#details">View full application</a>
          </h2>
          <p class="govuk-body card__description">Review the information that was submitted for your client.</p>
        </div>
      </li>

      <li class="govuk-grid-column-one-half card-group__item">
        <div class="card card--clickable" data-test="card-six">
          <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link card__link govuk-link--no-visited-state" href="#history">View application history</a>
          </h2>
          <p class="govuk-body card__description">See a timeline of past decisions, submissions, and case events</p>
        </div>
      </li>
      
      <li class="govuk-grid-column-one-half card-group__item">
        <div class="card card--clickable" data-test="sca-applications">
          <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link card__link govuk-link--no-visited-state" href="../pa_form/start_page_pa">Apply for prior authority</a>
          </h2>
          <p class="govuk-body card__description">Request permission for expenses or to use experts</p>
        </div>
      </li>
      
      <li class="govuk-grid-column-one-half card-group__item">
        <div class="card card--clickable" data-test="non-sca-applications">
          <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Make an amendment</a>
          </h2>
          <p class="govuk-body card__description">Add proceedings and scope limits or increase cost limitations</p>
        </div>
      </li>

      <li class="govuk-grid-column-one-half card-group__item">
        <div class="card card--clickable" data-test="card-three">
          <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Transfer to another provider</a>
          </h2>
          <p class="govuk-body card__description">Tell us which provider a case is being moved to</p>
        </div>
      </li>

      <li class="govuk-grid-column-one-half card-group__item">
        <div class="card card--clickable" data-test="card-four">
          <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Appeal</a>
          </h2>
          <p class="govuk-body card__description">Ask for a decision to be reviewed and reconsidered</p>
        </div>
      </li>

    </ul>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <h2 class="govuk-heading-l govuk-!-margin-top-6" id="requests-section">Status of additional requests</h2>

    <nav class="moj-sub-navigation" aria-label="Requests sub navigation">
      <ul class="moj-sub-navigation__list">
        
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="manage_SCA_inprogress#requests-section">
            In progress
            <span class="moj-notification-badge">
              <span aria-hidden="true">1</span>
              <span class="govuk-visually-hidden">1 item in progress</span>
            </span>
          </a>
        </li>
        
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="#submitted">Submitted</a>
        </li>
        
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="manage_SCA_decided#requests-section">Decided</a>
        </li>
        
      </ul>
    </nav>

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Details</th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Start date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#7">Prior Authority</a></td>
          <td class="govuk-table__cell" data-sort-value="4897">Drugs rehabilitation report</td>
          <td class="govuk-table__cell">17 February 2026</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}