{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Property and mortgage
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "consent"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="check" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  How will you share your client’s bank statements with the LAA?
                </h1>
              </legend>

              <p class="govuk-body">We need to see your client’s bank statements from the last 3 months as part of their income assessment.</p>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="share-online-2" name="share-online" type="radio" value="no" data-aria-controls="share-online-2" {{ checked("share-online","no") }}>
                <label class="govuk-label govuk-radios__label" for="share-online-2">
                  My client will share their bank statements online
                  <div id="hint-2" class="govuk-hint">They'll need to authorise a trusted third-party financial service provider called TrueLayer
                  to collect 3 months of bank statements on our behalf.</div>
                </label>

                <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              What is TrueLayer?
              </span>
              </summary>
              <div class="govuk-details__text">

              <p class="govuk-body">TrueLayer is a third-party service that acts as a messenger between your client's bank and the LAA.</p>
              <p class="govuk-body">It allows your client to quickly and securely share their bank statements without having to gather physical bank statements.</p>
              <p class="govuk-body">They’re regulated by the Financial Conduct Authority (FCA) and will not:</p>
              <ul class="govuk-list govuk-list--bullet">
              <li>store your client's bank account details</li>
              <li>see your client's online banking sign-in details</li>
              <li>share your client's data with anyone other than the LAA</li>
              <li>have ongoing access to your client's bank accounts</li>
              </ul>
              </div>
              </details>



              </div>


              <div class="govuk-radios govuk-radios">
                <div class="govuk-radios__item">

                  <input class="govuk-radios__input" id="share-online-1" name="share-online" type="radio" value="yes" data-aria-controls="share-online-1" {{ checked("share-online","yes") }}>
                  <label class="govuk-label govuk-radios__label" for="share-online-1">
                    I’ll upload bank statements
                      <!--  <div id="hint-1" class="govuk-hint">
 Files must be a CSV, QIF, OFC or OFX.
                        </div> -->

                    </label>
                </div>
<p></p>


        <!--  <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why does my client need to do this?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">We'll give your client access to the service and ask them to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>sign in to online banking using a secure third-party service</li>
    <li>give us one-time access to their bank accounts so we can download 3 months of bank statements</li>
    <li>tell us about their income and outgoings</li>
    </ul>

    <p class="govuk-body">Once they've done this, you'll need to categorise their bank transactions so we can calculate their disposable income.</p>
  </div>
</details> -->

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

          <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>

        </form>
      </div>
    </div>

<p><a href="upload" class="govuk-link">If you want to go to 'I’ll upload bank statements'</a></p>

{% endblock %}
