{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Statement of case
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "consent"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="provider_continue_application_2" method="post" >

          <div class="govuk-form-group">
            <label class="govuk-label" for="more-detail">

              <h1 class="govuk-heading-xl">Upload your client’s bank statements</h1>

              <p class="govuk-body">You need to upload 3 months of bank statements for all of your client’s bank accounts.
</p>
<p class="govuk-body">Bank statements must be in the following format:</p>

                  <ol class="govuk-list govuk-list--number">

                    <li>Date</li>
                    <li>Transaction description</li>
                    <li>Amount</li>
              </ol>

<p>Any other columns must be removed before uploading.</p>

            </label>
          </div>



          <div class="document-upload">

              <div class="moj-multi-file-upload">
                <div class="moj-multi-file__uploaded-files">

                  <div class="govuk-summary-list moj-multi-file-upload__list">

                  </div>
                </div>







                <div class="moj-multi-file-upload__upload">

                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="documents">
                      Upload a file
                      <span id="more-detail-hint" class="govuk-hint">
                        The maximum file size is 8MB. Files must be a DOC, DOCX, RTF, ODT, JPG, BMP, PNG, TIF or PDF.</span>
                    </label>

                    <input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents" type="file" multiple="">
                  </div>

                  <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
                    Upload file
                  </button>

                </div>
              </div>

            </form>
          </div>


          <h2 class="govuk-heading-m">Uploaded files</h2>

                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Filename
                      </dt>
                      <dt class="govuk-summary-list__key">
                        Size
                      </dt>
                      <dd class="govuk-summary-list__actions">

                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        <a href="#" class="govuk-link">feb-bank-statment.csv</a>
                      </dt>
                      <dd class="govuk-summary-list__value">
                        2MB
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Delete<span class="govuk-visually-hidden"> licence type</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        <a href="#" class="govuk-link">mar-bank-statment.csv</a>
                      </dt>
                      <dd class="govuk-summary-list__value">
                      2MB
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Delete<span class="govuk-visually-hidden"> home address</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        <a href="#" class="govuk-link">apr-bank-statment.csv</a>
                      </dt>
                      <dd class="govuk-summary-list__value">
                        2MB
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Delete<span class="govuk-visually-hidden"> licence period</span>
                        </a>
                      </dd>
                    </div>
                  </dl>




                            <a href="provider_continue_application_2" role="button" class="govuk-button">
                              Save and continue
                            </a>

                            <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
                              Save and come back later
                            </a>


                          </form>
                        </div>
                      </div>

{% endblock %}
