{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Other capital
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "partner_bank_accounts"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="other_capital_select" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                Which savings or investments does your client or their partner have?
                </h1>
              </legend>

              <span id="changed-name-hint" class="govuk-hint">Select all that apply.</span>

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="antiques" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-1" {{ checked("antiques","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
                    Money not in a bank account
                  </label>
               <span id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">
                      For example, cash kept at home.
                  </span>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-1">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="antiques-value">
                      Enter the total amount
                    </label>
                  <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                  </div>
                  </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="bank-account-access" name="bank-account-access" type="checkbox" value="yes" data-aria-controls="conditional-bank-account-access" {{ checked("bank-account-access","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="bank-account-access">
                    Access to another person's bank account
                  </label>
               <span id="bank-account-access-item-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">
                      For example, your client or their partner is the signatory on a child's account.
                  </span>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-bank-account-access">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="bank-account-access-value">
                      Enter the estimated total in all accounts
                    </label>
                      <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="bank-account-access-value" name="bank-account-access-value" type="text">
                      </div>
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="classic-car" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-3" {{ checked("classic-car","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                     ISAs, National Savings Certificates and Premium Bonds
                  </label>
                  <span id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">
                         For example, Premium Bonds or Savings Certificates.
                     </span>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="car-value">
                      Enter the total value of all owned
                    </label>
                     <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="car-value" name="car-value" type="text">
                     </div>
                  </div>

                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-4" name="premium-bonds" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-4" {{ checked("premium-bonds","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-4">
                    Shares in a public limited company (PLC)
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-4">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="bonds-value">
                      Enter the total value of all owned
                    </label>
                     <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="bonds-value" name="bonds-value" type="text">
                     </div>
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-6" name="policies" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-6" {{ checked("policies","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-6">
                  PEPs, unit trusts, capital bonds and government stocks
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-6">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="policies-value">
                      Enter the total value
                    </label>
                    <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="policies-value" name="policies-value" type="text">
                    </div>
                  </div>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-8" name="estates" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-8" {{ checked("estates","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-8">
                    Life assurance or endowment policies not linked to a mortgage
                  </label>
                  <span id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">
                      Do not include policies that only pay out on death.
                  </span>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-8">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="estates-value">
                      Enter the total value of all owned
                    </label>
                    <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="estates-value" name="estates-value" type="text">
                    </div>
                  </div>
                </div>

               <p class="govuk-body">or</p>

               <div class="govuk-checkboxes__item">
                 <input class="govuk-checkboxes__input" id="citizenship-conditional-7" name="estates" type="checkbox" value="yes">
                 <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-7">
                   None of these savings or investments
                 </label>
               </div>

              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

          <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>
        </form>
      </div>
    </div>

{% endblock %}
