{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "employment_status"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>

        <p>We could not connect to HMRC to check your client's employment details.</p>

        <p>We need this to calculate your client's financial eligibility.</p>

 <p>You can:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>try again later</li>
    <li><a href="#">use CCMS for this application</a></li>
</ul>

<p><a href="dashboard">Back to your applications</a</p>



      <!--  <span id="citizenship-conditional-hint" class="govuk-body">
          <a href="#">Request another link</a>
        </span> -->

    </div>
</div>

{% endblock %}


