{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Confirmation page
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "laspo_pso"
}) }}

{% endblock %}

{% block content %}


  <div class="flash-card">
    <header>
      <h1 class="govuk-heading-l">You need to use CCMS for this application<!-- needs to answer some questions about their financial situation / We need to ask your client some questions about their financial situation --></h1>
    </header>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <ul class="how-to-renew" data-id="how-to-renew-uk">
          <li>

            <p style="color: #fff;">
            This is because a Section 8 proceeding you're applying for is not within the scope of LASPO.</p>


          </li>

        </ul>

        <div class="govuk-!-padding-bottom-4"></div>

        <a href="#" role="button" class="govuk-button white-button right">
          Apply in CCMS</a>

          <p style="color: #fff;"><a href="#">Back to my applications</a></p>

      <!--  <a href="#" role="button" class="govuk-button draft-button">
          Save and come back later
        </a> -->

      </div>
    </div>
  </div>


{% endblock %}

