<form class="" action="index.html" method="post">

</form>{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check your answers - Merits
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<style media="screen">
.govuk-summary-list__key {
  width: 40%;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if (data['copycase'] == "yes") %}
    <div class="govuk-notification-banner" role="alert"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        The proceedings information was copied from A-BCD-E1F. You can check the merits information later.
      </h3>
    </div>
  </div>
  {% endif %}

  <span class="govuk-caption-xl">Client details and what they are applying for</span>

  <h1 class="govuk-heading-xl">
    Check your answers
  </h1>

  <h2 class="govuk-heading-l">
    Client details
  </h2>

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Client details</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['firstname'] or "Sam" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="client_details">
              Change<span class="govuk-visually-hidden"> first name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['lastname'] or "Jones" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="client_details">
              Change<span class="govuk-visually-hidden"> last name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['dob-day'] or "11" }} / {{ data['dob-month'] or "9" }} / {{ data['dob-year'] or "1980" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="client_details">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correspondence address
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- {{ data['address-select'] }} -->
            1 Salisbury Road, Harpenden, AL5 5AR
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="postcode_finder">
              Change<span class="govuk-visually-hidden"> Correspondence address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            Barrio de San Roque
            09692 Canicosa De La Sierra
            Burgos
            Spain
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="postcode_finder">
              Change<span class="govuk-visually-hidden"> Correspondence address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['NINO-yes'] or "None provided" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="NINO">
              Change<span class="govuk-visually-hidden"> National Insurance number</span>
            </a>
          </dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your client have a partner?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Does your client have a partner?</span>
            </a>
          </dd>
        </div> -->
      </dl>
    </div>
  </div>

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Linking</h2>
    </div>

    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you want to link this application with another one?
          </dt>

          {% if (data['linkcase'] != "no" and data['linkcase_result'] != "no") %}
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="link_case">
              Change<span class="govuk-visually-hidden"> link applicaion answer</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ data['linkcase'] or 'Link type' }}
          </dt>
          <dd class="govuk-summary-list__value">
            Client Name, A-BCD-E1F, Child Arrangements Order.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="link_case">
              Change<span class="govuk-visually-hidden"> application linked to answer</span>
            </a>
          </dd>
          </div>
          {% endif %}

          {% if (data['linkcase'] == "Family link") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              All applications with a family link to this one
            </dt>
            <dd class="govuk-summary-list__value">
              Client Name, A-BCD-E1F, Child Arrangements Order.</br>
              Client Name 2, A-BCD-E1F, Child Arrangements Order.<br>
              Client Name 3, A-BCD-E1F, Child Arrangements Order.
            </dd>
          </div>
          {% endif %}

          {% if (data['linkcase'] == "no" or data['linkcase_result'] == "no") %}
          <div class="govuk-summary-list__row"></div>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="link_case">
              Change<span class="govuk-visually-hidden"> link applicaion answer</span>
            </a>
          </dd>
        </div>
          {% endif %}


        {% if (data['copycase'] == "yes") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you want to copy the proceedings and merits information from A-BCD-E1F to this one?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application copied
          </dt>
          <dd class="govuk-summary-list__value">
            Client Name, A-BCD-E1F, Proceeding name 1.
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      {% endif %}


    </dl>
  </div>
</div>

<h2 class="govuk-heading-l">
  What you are applying for
</h2>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Proceedings</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="other">
        Change<span class="govuk-visually-hidden"> proceedings</span>
      </a>
    </li>
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Proceeding 1
      </dt>
      {% if (data['linkcase'] == "Family link") %}
      <dd class="govuk-summary-list__value">
        Child Arrangements Order
      </dd>
      {% endif %}
      {% if (data['linkcase'] == "Legal link") %}
      <dd class="govuk-summary-list__value">
        Prohibited Steps Order
      </dd>
      {% endif %}
    </div>
  </dl>
</div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    {% if (data['linkcase'] == "Family link") %}
    <h2 class="govuk-summary-card__title">Child Arrangements Order</h2>
    {% endif %}
    {% if (data['linkcase'] == "Legal link") %}
    <h2 class="govuk-summary-card__title">Prohibited Steps Order</h2>
    {% endif %}
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="client_involvement_type">
        Change<span class="govuk-visually-hidden"> care order details</span>
      </a>
    </li>
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Client role
      </dt>
      <dd class="govuk-summary-list__value">
        Applicant, claimant or petitioner
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Delegated functions
      </dt>
      <dd class="govuk-summary-list__value">
        3 July 2022
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Emergency level of service
      </dt>
      <dd class="govuk-summary-list__value">
        Family help (higher)
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Emergency scope limits
      </dt>
      <dd class="govuk-summary-list__value">
        Interim order inc. return date</br>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum lectus aliquet sem efficitur maximus et quis tellus. Quisque in enim urna.
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Substantive level of service
      </dt>
      <dd class="govuk-summary-list__value">
        Family help (higher)
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Substantive scope limits
      </dt>
      <dd class="govuk-summary-list__value">
        FHH Children
      </dd>
    </div>
  </dl>
</div>
</div>

<!-- <div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
<h2 class="govuk-summary-card__title">Non-molestation order</h2>
<ul class="govuk-summary-card__actions">
<li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
Change<span class="govuk-visually-hidden"> non-molestation order details</span>
</a>
</li>
</ul>
</div>
<div class="govuk-summary-card__content">
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Client role
</dt>
<dd class="govuk-summary-list__value">
Defendant or respondent
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Delegated functions
</dt>
<dd class="govuk-summary-list__value">
3 July 2022
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Emergency level of service
</dt>
<dd class="govuk-summary-list__value">
Full representation
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Emergency scope limits
</dt>
<dd class="govuk-summary-list__value">
Hearing</br>Date: DD Month YYYY
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Substantive level of service
</dt>
<dd class="govuk-summary-list__value">
Full representation)
</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
<dt class="govuk-summary-list__key">
Substantive scope limits
</dt>
<dd class="govuk-summary-list__value">
Injunction FLA-to final hearing
</dd>
</div>
</dl>
</div>
</div> -->

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Emergency cost limit</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> emergency cost limit</span>
      </a>
    </li>
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Higher cost limit requested
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Amount requested
      </dt>
      <dd class="govuk-summary-list__value">
        £4,000
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Reason
      </dt>
      <dd class="govuk-summary-list__value">
        Lorem ipsum dolor sit amet, consectetur adipiscing
      </dd>
    </div>
  </dl>
</div>
</div>


{% if (data['linkcase'] === "Family link") %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Family linked applications will share one cost limit
  </strong>
</div>
{% endif %}

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">We’ll use your client’s name, date of birth and National Insurance number to check their benefit status with the Department for Work and Pensions (DWP).</p>

<br>



<div class="govuk-button-group">
  <a class="govuk-button" href="/DWP_outcomes/links_DWP_outcomes" data-module="govuk-button">
    Save and continue
  </a>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Save and come back later
  </button>
</div>

</div>
</div>

{% endblock %}
