{% extends "layouts/main.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="check_who_your_client_is_parent" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">Supervision order</span>
            <h1 class="govuk-fieldset__heading">
              Is your client the biological parent of any children involved?
            </h1>


          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="biological_parent_second" name="biological_parent_second" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="biological_parent_second">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="biological_parent_second_2" name="biological_parent_second" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="biological_parent_second_2">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button">
          Save and continue
        </button>
        <a role="button" class="govuk-button govuk-button--secondary">
          Save and come back later
        </a>
      </div>

    </form>
  </div>
</div>

{% endblock %}
