{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check your answers - Merits
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<style media="screen">
.govuk-summary-list__key {
  width: 40%;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">Merits assessment</span>

    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    <h1 class="govuk-heading-l">
      Case details
    </h1>



    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Opponents</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="opponent_individual_or_org">
            Change<span class="govuk-visually-hidden"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Opponent 1
          </dt>
          <dd class="govuk-summary-list__value">
            Joe Bloggs<br>Individual
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Opponent 2
          </dt>
          <dd class="govuk-summary-list__value">
            Hertfordshire council<br>Local authority
          </dd>
        </div>
      </dl>
    </div>
  </div>


  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Children involved in this application</h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action"> <a class="govuk-link" href="children_1">
          Change<span class="govuk-visually-hidden"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Child 1
        </dt>
        <dd class="govuk-summary-list__value">
          Billy Doe</br>born 1 Jan 2013
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__key">
          Child 2
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Doe</br>born 20 Mar 2015
        </dd>
      </div>
    </dl>
  </div>
</div>

<!-- <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">The outcome</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="outcome">
        Change<span class="govuk-visually-hidden"></span>
      </a>
    </li>
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Does your client want a different outcome to anyone else?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Tell us why your client wants a different outcome.
      </dt>
      <dd class="govuk-summary-list__value">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque lacus sed laoreet faucibus.
      </dd>
    </div>
  </dl>
</div>
</div> -->


<h2 class="govuk-heading-l">
  Supervision order
</h2>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Children covered in this proceeding</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="children_supervision">
        Change<span class="govuk-visually-hidden"></span>
      </a>
    </li>
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Which children are covered under this proceeding?
      </dt>
      <dd class="govuk-summary-list__value">
        Billy Doe
      </dd>
    </div>
  </dl>
</div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Who your client is in the proceeding</h2>
    <ul class="govuk-summary-card__actions">
      <!-- <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"></span>
      </a>
    </li> -->
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Is your client the biological parent of any children involved?
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="client_role_supervision">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Does your client have parental responsibility for any children involved?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes, under a court order
      </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="client_parental_responsibility">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
    </div>
  </dl>
</div>
</div>


  </dl>
</div>
</div>

<h2 class="govuk-heading-l">
  Prohibited steps order
</h2>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Children covered in this proceeding</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="children_prohibited">
        Change<span class="govuk-visually-hidden"></span>
      </a>
    </li>
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Which children are covered under this proceeding?
      </dt>
      <dd class="govuk-summary-list__value">
        Billy Doe
      </dd>
    </div>
  </dl>
</div>
</div>


<!-- <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">About this proceeding</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"></span>
      </a>
    </li>
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Will this proceeding be heard at the same as the supervision order proceeding?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="prohibited_steps_hearing">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Will this order replace proceedings issued by the local authority?
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="prohibited_steps_local_authority">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
    </div>
  </dl>
</div>
</div> -->



{% if (data['parental_responsibility'] or ['parental_responsibility_second']) == "yes" %}
<h2 class="govuk-heading-l">
  Supporting evidence
</h2>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Supporting evidence</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="upload_01_no_files">
        Change<span class="govuk-visually-hidden"></span>
      </a>
    </li>
  </ul>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Parental responsibility
      </dt>
      <dd class="govuk-summary-list__value">
        filename.doc</br>
        filename_02.doc
      </dd>
    </div>
  </dl>
</div>
</div>
{% endif %}

<div class="govuk-checkboxes" data-module="govuk-checkboxes">
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
    <label class="govuk-label govuk-checkboxes__label" for="waste">
      I confirm my client wants separate representation.
    </label>
  </div>
  </div>
  <br>
  <br>

<a class="govuk-button" href="/sara/sign_and_submit/confirm_the_following" role="button">
  Save and continue
</a>

<a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
  Save and come back later
</a>


</div>
</div>

{% endblock %}
