{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Income start page
{% endblock %}



{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <!--  <p class="gov-body">
    <a href="outgoings">Go to outgoings</a>
    </p> -->
    <h1 class="govuk-heading-xl">Provide details of the case</h1>

 <ol class="app-task-list">
   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">1. </span>About the application
       <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">
         </span>
     </h2>
     <ul class="app-task-list__items">
       <li class="app-task-list__item">
         <a class="govuk-body" href="opponent_name" aria-describedby="eligibility-completed">
           Opponents
         </a>
         <strong class="govuk-tag govuk-tag--green app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li>
       <li class="app-task-list__item">
         <a class="govuk-body" href="children_add_2" aria-describedby="eligibility-completed">
           Children involved in this application
         </a>
         <strong class="govuk-tag govuk-tag--green app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li>
       <!-- <li class="app-task-list__item">
         <a class="govuk-body" href="outcome" aria-describedby="eligibility-completed">
           The outcome
         </a>
         <strong class="govuk-tag govuk-tag--green app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li> -->
     </ul>
   </li>



   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">2. </span> About the supervision order
  </h2>
     <ul class="app-task-list__items">
       <li class="app-task-list__item">
         <a class="govuk-body" href="SCA_children_supervision" aria-describedby="eligibility-completed">
           Children covered by proceeding
         </a>
         <strong class="govuk-tag govuk-tag--green app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li>
       <li class="app-task-list__item">
         <a class="govuk-body" href="SCA_check_who_your_client_is_pr" aria-describedby="eligibility-completed">
           Who your client is in the proceeding
         </a>
         <strong class="govuk-tag govuk-tag--green app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li>
     </ul>
   </li>

   <li>
     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">3. </span> About the prohibited steps order
       <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px"></span>
     </h2>
     <ul class="app-task-list__items">

       <li class="app-task-list__item">
         <a class="govuk-body" href="SCA_children_prohibited" aria-describedby="eligibility-completed">
           Children covered by proceeding
         </a>
         <strong class="govuk-tag govuk-tag--green app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li>
       <!-- <li class="app-task-list__item">
         <a class="govuk-body" href="prohibited_steps_hearing" aria-describedby="eligibility-completed">
           The hearing
         </a>
         <strong class="govuk-tag govuk-tag--green app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li> -->
       <!-- <li class="app-task-list__item">
         <a class="govuk-body" href="prohibited_steps_local_authority" aria-describedby="eligibility-completed">
           The local authority's proceedings
         </a>
         <strong class="govuk-tag govuk-tag--green app-task-list__task-completed" id="eligibility-completed">COMPLETED</strong>
       </li> -->
     </ul>
   </li>

 </ol>

        <a href="SCA_which_client_role_upload_files" role="button" class="govuk-button">
          Save and continue
        </a>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

    </div>
  </div>

  {% endblock %}
