{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Client details
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "/delegated_functions"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Enter your client's details</h1>

      <form action="postcode_finder" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> Full name
            </legend>

            <div class="govuk-form-group">
                <label class="govuk-label" for="firstname">
                First name
                </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="firstname" name="firstname" type="text" value="{{ data['firstname'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="lastname">
                Last name
                </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="lastname" name="lastname" type="text" value="{{ data['lastname'] }}">
            </div>

          </fieldset>
        </div>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> Date of birth
              </legend>
              <span id="dob-hint" class="govuk-hint">
                For example, 31 3 1980.
              </span>
              <div class="govuk-date-input" id="dob">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" value="{{ data['dob-day'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" value="{{ data['dob-month'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" value="{{ data['dob-year'] }}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-!-padding-bottom-2"></div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="national-insurance-number">
              National Insurance number
            </label>
            <span id="national-insurance-number-hint" class="govuk-hint">
              For example, ‘QQ 12 34 56 C’.
            </span>
            <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text" aria-describedby="national-insurance-number-hint" value="{{ data['national-insurance-number'] }}">
          </div>

           <div class="govuk-!-padding-bottom-2"></div>

           <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="email-address">
              Email address
            </label>
            <span id="email-hint" class="govuk-hint">
            <!--  We’ll only use this to send your client a secure link. -->
            We'll email your client a secure link to enter their bank details.
            </span>
            <input class="govuk-input govuk-!-width-three-quarters" id="email-address" name="email-address" type="email" aria-describedby="email-hint" value="{{ data['email-address'] }}">
          </div>

          <!-- <div class="govuk-!-padding-bottom-2"></div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="email">
              Client respresentation
            </label>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Application completed by a person acting in a professional capacity.
                </label>
              </div>
          </div> -->

          <div class="govuk-!-padding-bottom-4"></div>

        <!--  <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I do not have my client's details
              </span>
            </summary>
            <div class="govuk-details__text">
              Space for copy on process if solicitor does not have their clients National Insurace number.
            </div>
          </details> -->

          <button type="submit" class="govuk-button">
            Continue
          </button>

          <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>

        </form>

      </div>
    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
