
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Prototypes and explorations
      <span class="govuk-caption-xl"></span>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Prototypes</h2>
  <!--  <h2 class="govuk-heading-s">Current version</h2> -->
  <ul class="govuk-list govuk-list--bullet">
  <li><a href="/passported_v2/start_page">Passported</a></li>
</ul>
    <ul class="govuk-list govuk-list--bullet">
    <li><a href="/apply_for_legal_aid_prototype_non_passported_provider_means/dashboard">Non-passported</a></li>
    </ul>
  <!--  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/applicant_flow/start_page">Applicant journey</a></li>
    </ul>
 -->
<br>
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <strong>Earlier versions</strong></span></summary>

        <div class="panel panel-border-narrow">

          <br>
          <h2 class="govuk-heading-s">Non-passported</h2>

            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/non_passported_v1/start_page">Version 1</a></li>
              <li><a href="/apply_for_legal_aid_prototype/start_page">Version 2</a></li>
              <li><a href="/apply_for_legal_aid_prototype_non_passported_v3/start_page">Version 3</a></li>
              <li><a href="/apply_for_legal_aid_prototype_non_passported_v3/citizen_start_page">Skip to citizen start page</a></li>
              <li><a href="/apply_for_legal_aid_prototype_non_passported_v3/citizen_accounts">Skip to citizen accounts</a></li>
              <li><a href="/apply_for_legal_aid_prototype_non_passported_v3/provider_means_summary">Skip to provider means summary</a></li>
            </ul>

            <h2 class="govuk-heading-s">Passported</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/start_page">Version 1</a>: proceedings at the start of flow, capital questions, first attempt at simple merits</li>
              </ul>


        </div>
      </details>

      </div>

  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Explorations</h2>

    <h3 class="govuk-heading-s">Multiple proceedings</h3>

    <ul class="govuk-list govuk-list--bullet">
        <!--  <li><a href="multiple_proceedings/v1/search">V1 (add to a list)</a></li>
          <li><a href="multiple_proceedings/what">Limitations</a></li> -->
          <!-- <li><a href="multiple_proceedings/merits_da/home">Merits tasklist (DA)</a></li> -->

          <li><a href="multiple_proceedings/proceedings_merits/search">Adding proceedings</a></li>
        <!--  <li><a href="multiple_proceedings/proceedings_merits_grouped/search">Add proceedings + tasklist (grouped)</a></li>
          <li><a href="multiple_proceedings/proceedings_merits/home">Tasklist (1 thing pp)</a></li>
          <li><a href="multiple_proceedings/proceedings_merits_grouped/home">Tasklist (grouped)</a>
          <li><a href="multiple_proceedings/version_3/home">Tasklist (1 thing pp + one link under proceeding)</a> -->
          <li><a href="multiple_proceedings/proceedings_merits_v2/home">Merits task list</a></li>
          <li>Delegated functions: <a href="multiple_proceedings/df/v1/proceedings">nested</a> / <a href="multiple_proceedings/df/v2/proceedings">1TPP</a></li>
        <li><a href="multiple_proceedings/gateway/v1/tasklist">Gateway evidence</a> <!-- <a href="multiple_proceedings/merits_unlawful_removal/home">unlawful removal</a> --></li>


        </ul>

        <h3 class="govuk-heading-s">DWP check fail</h3>

        <ul class="govuk-list govuk-list--bullet">
              <li><a href="jim/dwp_check/radios/non_passported">radios</a> / <a href="jim/dwp_check/cta/non_passported">CTA</a> /  <a href="jim/dwp_check/confirmation/non_passported">confirmation page</a></li>
              <li><a href="jim/dwp_check/v2/non_passported">CCMS route</a></li>
            </ul>


    <h3 class="govuk-heading-s">Employment details</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Provider - <a href="employment-details/provider/employment_status/checklist">confirm employment status</a></li>
      <li>Applicant - <a href="employment-details/applicant/confirm">upload payslips</a></li>
      <li>Provider - <a href="employment-details/provider/employment_details/income_summary">enter employment details</a></li>
    </ul>

    <h3 class="govuk-heading-s">Stevey's explorations</h3>
    <ul class="govuk-list govuk-list--bullet">
          <li>Dashboard - Delete applications: <a href="stevey/dashboard/single-delete/01_dashboard">option1</a> |  <a href="stevey/dashboard/multi-delete/04_dashboard">option2</a>
          <li>Dashboard - Remove applications: <a href="stevey/dashboard/01_dashboard">v1</a> |  <a href="stevey/dashboard/02_dashboard">v2</a> |  <a href="stevey/dashboard/03_dashboard">v3</a> |  <a href="stevey/dashboard/04_dashboard">v4</a>
          <li>Proceeding types: <a href="stevey/search/search">v1</a> |  <a href="stevey/search/search_v2">v2</a> |  <a href="stevey/search/search_v3">v3</a>
          <li>Bank accounts (Amends): <a href="stevey/provider_bankaccounts_amends/v1/citizen_accounts_offline">Provider v1</a> / <a href="stevey/provider_bankaccounts_amends/v2/citizen_accounts">Provider v2</a> / <a href="stevey/provider_bankaccounts_amends/v2_1/citizen_accounts">Provider v2_1</a> / <a href="stevey/provider_bankaccounts_amends/v2_2/vehicles_date">Provider v2_2</a> / <a href="stevey/provider_bankaccounts_amends/v2_3/vehicles_date">Provider v2_3</a> / <a href="stevey/provider_bankaccounts_amends/v2_4/vehicles_date">Provider v2_4</a> / <a href="stevey/provider_bankaccounts_amends/v3/citizen_accounts">Provider v3</a>  / <a href="stevey/provider_bankaccounts_amends/v4/citizen_accounts">Provider v4</a>
          <li>Bank accounts: <a href="stevey/provider_bankaccounts/citizen_accounts">Applicant</a> / <a href="stevey/provider_bankaccounts/citizen_accounts_provider">Provider</a>

          <li>Dependants - <a href="stevey/addtoalist/dependants">Add To A List</a>
          <li>Dependants - Add Another: <a href="stevey/dependants/exploration_1/dependants">v1</a> / <a href="stevey/dependants/exploration_2/dependants">v2</a>
          <li>Disregarded benefits (NP): <a href="stevey/disregarded_benefits/option1/types_of_income">v1</a> / <a href="stevey/disregarded_benefits/option2/types_of_income">v2</a>/ <a href="stevey/disregarded_benefits/option2-1/types_of_income">v2.1</a> / <a href="stevey/disregarded_benefits/option3/types_of_income">v3</a>
          <li>Results: <a href="stevey/passported_meansresults">Passported</a> / <a href="stevey/nonpassported_meansresults">Non Passported</a></li>
          <li>Results Panel: <a href="stevey/meansresults_panel">Non Passported</a>
      </ul>

      <h3 class="govuk-heading-s">Jim's miscellany</h3>

          <ul class="govuk-list govuk-list--bullet">
            <li>Capital improvements: NP <a href="/jim/capital/non_passported/v1/accounts">v1</a> / <a href="/jim/capital/non_passported/v2/savings">v2</a> / <a href="/jim/capital/non_passported/v3/capital">v3 (one page)</a> / P <a href="/jim/capital/passported/v1/bank_accounts">v1</a> / <a href="/jim/capital/passported/v2/bank_accounts">v2</a></li>
            <li>Client reports no income: <a href="/jim/client_no_income/v1/income">v1</a> / <a href="/jim/client_no_income/v2/income">v2</a></li>
            <li>Delegated functions "warning": <a href="/delegated_functions/warning/v1/delegated_functions">v1</a></li>
            <li>Employment: <a href="/jim/applicant_employed/means_assessment_required">provider check</a></li>
            <li>Income summary page error: <a href="/jim/income_summary_error/income">uncategorised transaction</a></li>
            <li>Non-passported edits: <a href="/jim/np_edits/v1/means_assessment_required">v1</a> / <a href="/jim/np_edits/v2/means_assessment_required">v2</a> / <a href="/jim/np_edits/v3/means_assessment_required">v3</a> / <a href="/jim/np_edits/v4/means_assessment_required">v4</a></li>
            <li>Online banking questions: <a href="/jim/online_banking/online_banking">v1</a> / <a href="/jim/online_banking/online_banking2">v2</a></li>
            <li>Opponent details: <a href="/jim/opponent_details/incident_date">new flow</a> / <a href="/jim/opponent_details/statement">statement page</a></li>
            <li>Provider gateway: <a href="/jim/check_use_service/online">1 thing per page</a></li>
            <li>Statement: <a href="/jim/statement/split/statement_select">2 separate questions</a> / <a href="/jim/statement/statement_split/statement_reveal">text box reveal</a></li>
            <li>Substantive: <a href="/jim/substantive/current/delegated_functions">current</a> / <a href="/jim/substantive/v1/delegated_functions">v1</a> / <a href="/jim/substantive/v2/delegated_functions">v2</a></li>
            <li>Tasklist: <a href="/jim/tasklist_passported/start_page">passported</a> / <a href="/jim/tasklist_non_passported/start_page">non-passported</a></li>
            <li>Transaction selection: <a href="/jim/transactions/income">incoming</a> / <a href="/jim/transactions/outgoings">outgoing</a></li>
            <li>Truelayer detail: <a href="/jim/provider_applicant_expanded/means_assessment_required">Provider > applicant flow</a></li>
            <li>Truelayer errors: <a href="/error_pages/truelayer/agree_bank_access">pre-Truelayer authorisation</a></li>
          </ul>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <strong>Stevey's miscellany (archived)</strong></span></summary>

                <div class="panel panel-border-narrow">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Disregarded benefits (Non passported): <a href="stevey/benefits/types_of_income"> archive v1</a> / <a href="stevey/disregarded_benefits/demo/step">archive v2</a></li>
                    <li>Student finance - Provider: <a href="stevey/studentfinance_provider/income_00">Recommendation</a> / <a href="stevey/studentfinance_provider/income_01">v1</a> / <a href="stevey/studentfinance_provider/income_02">v2</a> / <a href="stevey/studentfinance_provider/income_03_1">v3</a>  / <a href="stevey/studentfinance_provider/meansresults">Means assessment results</a> / <a href="stevey/studentfinance_provider/checkyouranswers">Check your answers</a>
                    <li>Student finance - Applicant: <a href="stevey/studentloan/types_of_income">v1</a> / <a href="stevey/studentloan/v2/types_of_income">v2</a>
                  </ul>
                </div>
              </details>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <strong>Jim's miscellany (archived)</strong></span></summary>

                <div class="panel panel-border-narrow">

                  <h3 class="govuk-heading-s">Charity/trust/scheme disregards</h3>

                      <ul class="govuk-list govuk-list--bullet">
                        <li><a href="disregards/non_passported/provider/assets">P & NP: provider</a></li>
                        <li>Results - disregards: <a href="disregards/results/disregards">v1</a>; <a href="disregards/results/disregards_2">v2</a> / disregards & restrictions: <a href="disregards/results/disregards_restrictions">v1</a>; <a href="disregards/results/disregards_restrictions_2">v2</a></li>
                        </ul>

                  <h3 class="govuk-heading-s">Cash payments</h3>
                  <p class="govuk-body">Applicant</p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li><a href="/jim/cash_payments/applicant/v1/types_of_income">v1</a>: total amounts for past 3 months</li>
                  <li><a href="/jim/cash_payments/applicant/v2/types_of_income">v2</a>: client says how they're paid</li>
                  </ul>

                  <p class="govuk-body">Provider</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li><a href="/jim/cash_payments/provider/v1/provider_continue_application">v1</a>: same page as bank transactions</li>
                  <li><a href="/jim/cash_payments/provider/v5/provider_continue_application">v5</a>: different pages</li>
                  <li><a href="/jim/cash_payments/provider/v6/provider_continue_application">v6</a>: different page & combined</li>
                  </ul>


                  <h3 class="govuk-heading-s">Check your answers</h3>

                  <ul class="govuk-list govuk-list--bullet">
                      <li>Client details, proceedings, etc: <a href="check_your_answers/check_answers">both journeys</a><!-- / <a href="check_your_answers/check_answers_limitations_hidden">with limitations hidden</a>--></li>
                      <li>Applicant section: <a href="check_your_answers/check_answers_citizen">non-passported</a></li>
                      <li>Means: <a href="check_your_answers/check_answers_means_p">passported</a> / <a href="check_your_answers/check_answers_means_np">non-passported</a></li>
                      <li>Merits: <a href="check_your_answers/check_answers_merits">both journeys</a></li>
                      </ul>

                      <h3 class="govuk-heading-s">Assorted</h3>

                  <ul class="govuk-list govuk-list--bullet">
                    <li>Applicant must apply in CCMS <a href="/jim/interruption_non_passported/means_assessment_required2">v1</a><!-- / <a href="/jim/transactions/outgoings">outgoing</a> --> / <a href="/jim/interruption_non_passported/means_assessment_required3">v2</a> / <a href="/jim/interruption_non_passported/means_assessment_required4">v3</a></li>
                    <li>'Before you continue' content: <a href="/jim/passported_what_happens_next/passported">brought forward</a>; <a href="/passported_v2/assessment_start">current</a></li>
                    <li>Capital gateway radios: <a href="/jim/capital_flow/savings_investments">V1 (hint text)</a>; <a href="/jim/capital_flow/v2/savings_investments">V2 (hidden text)</a></li>
                    <li>Capital questions: <a href="/jim/capital_none_of_the_above/savings_investments_select">'none of the above' checkbox added</a>; <a href="/jim/capital_flow/v3/types_of_income">complete applicant flow</a></li>
                    <li>Car capital questions: <a href="/jim/car_capital_questions/vehicles">provider v1</a>; <a href="/jim/car_capital_questions_v2/vehicles">v2</a> and <a href="/jim/citizen_car_capital_questions/vehicles">applicant</a>; / <a href="/jim/car_owned_outright/vehicles">owned outright</a>; <a href="/jim/car_owned_financing/vehicles">financing</a>; <a href="/jim/car_owned_none/vehicles">none</a> / <a href="/jim/car_checkbox/other_capital">Car capital checkbox</a></li>
                    <li>Current/savings accounts: <!-- <a href="/jim/savings_investments_improvements/v1/current_account">v1</a> / <a href="/jim/savings_investments_improvements/v2/current_account">v2</a> / <a href="/jim/savings_investments_improvements/v3/current_account">v3</a> / <a href="/jim/savings_investments_improvements/v4/current_account_amount">client needs to pay (DF)</a> / <a href="/jim/savings_investments_improvements/savings_investments_select">checkboxes</a> / <a href="/jim/savings_investments_improvements/v6/current_account">v6</a> / --><a href="/jim/savings_investments_improvements/v7/account_select">v1</a> / <a href="/jim/savings_investments_improvements/v8/bank_accounts">v2</a></li>
                    <li>CYA abridged answers: <a href="/jim/cya_abridged_questions/non_passported/check_answers">client details</a> / <a href="/jim/cya_abridged_questions/non_passported/check_answers_citizen">citizen section</a> / <a href="/jim/cya_abridged_questions/non_passported/check_answers_capital_full">capital</a> / <a href="/jim/cya_abridged_questions/non_passported/check_answers_merits">merits</a></li>
                    <li>Declaration improvements: <a href="/jim/declaration/declaration">combined provider and client</a> / <a href="/jim/declaration/split/dashboard">split</a> / <a href="/jim/declaration/cya/check_answers">CYA</a></li>
                    <li>Delegated functions: <a href="/jim/delegated_functions/home">v1</a> / <a href="/jim/delegated_functions/v2/home">v2</a> / <a href="/jim/delegated_functions/v3/home">v3</a></li>
                    <li>Delegated functions notification: <a href="/jim/delegated_functions/notification/v1/delegated_functions">v1</a> / <a href="/jim/delegated_functions/notification/v2/delegated_functions">v2</a> / <a href="/jim/delegated_functions/notification/v3/delegated_functions">v3</a> / <a href="/jim/delegated_functions/notification/v4/delegated_functions">v4</a></li>
                    <li>Dependants: <!-- <a href="/jim/dependants/v1/dependants">v1</a>; <a href="/jim/dependants/v2/dependants">v2</a>; <a href="/jim/dependants/v3/dependants">v3</a>; -->v4 <a href="/jim/dependants/v4/dependants">passported</a> / <a href="/jim/dependants/non_passported/dependants">non-passported</a> <!-- ; <a href="/jim/dependants/v5/dependants">v5</a> -->/ <a href="/jim/dependants/dependants_check_answers">check your answers</a></li>
                    <li>Disregarded benefits: <a href="/jim/disregarded_benefits/client_selects/types_of_income">client selects then provider sees</a> / <a href="/jim/disregarded_benefits/split/types_of_income">split</a> / <a href="/jim/disregarded_benefits/provider/provider_continue_application">provider only</a></li>
                    <li><a href="/jim/diversity/ethnic_group">Equality/diversity survey</a>
                    <li>Error pages: <a href="/error_pages/link_expired">link expired</a>; <a href="/error_pages/page_not_found2">url entered incorrectly</a>; <a href="/error_pages/service_down">service down</a>; <a href="/error_pages/server_error">server error</a>; <a href="/error_pages/already_submitted">financial assessment already submitted</a></li>
                    <li>Incoming/outgoing transactions select: <a href="/jim/transactions_select/income_summary">answers in accordions</a></li>
                    <li>Initial income/outgoings questions (applicant): <a href="/jim/incomings_outgoings_radios/types_of_income_yes_no">Yes/No radios w/ full list</a>; <a href="/jim/incomings_outgoings_list/types_of_income">select from list</a></li>
                    <li>Latest incident dates: <a href="/jim/latest_incident_dates/latest_incident_dates_v1">V1</a>; <a href="/jim/latest_incident_dates/latest_incident_dates_v2">V2</a></li>
                    <li><a href="/jim/privacy">Privacy statement</a></li>
                    <li>Limitations: <a href="/jim/limitations/search">search proceedings page</a>; <a href="/jim/limitations/limitations2">separate page</a></li>
                    <li>Means outcomes (passported): <a href="/jim/means_outcomes/eligible_no_contribution">eligible no contribution</a> / <a href="/jim/means_outcomes/eligible_with_contribution">eligible with contributions</a> / <a href="/jim/means_outcomes/eligible_with_contributions_restrictions">eligible with contributions (restrictions)</a> / <a href="/jim/means_outcomes/ineligible">ineligible</a> / <a href="/jim/means_outcomes/ineligible_restrictions">ineligible restrictions</a> / <a href="/jim/means_outcomes/ineligible_second_home_1">ineligible second home</a></li>
                    <li>NI number change: <a href="/jim/ni_playback/one/means_assessment_required">v1</a> / <a href="/jim/ni_playback/two/means_assessment_required">v2</a> / <a href="/jim/ni_playback/three/means_assessment_required">v3</a> / <a href="/jim/ni_playback/split/means_assessment_required">split</a> / <a href="/jim/ni_playback/one_thing/name">one thing</a></li>
                    <li>Pre-financial assessment checklist: <a href="/jim/pre_open_banking_checklist/means_assessment_required">v1</a></li>
                    <li>Pre-financial assessment flow (provider and client): <a href="/jim/pre_financial_assessment_flow/means_assessment_required">v1</a> / <a href="/jim/pre_financial_assessment_flow_v2/means_assessment_required">v2</a></li>
                    <li>Prospects of success: <a href="/jim/prospects_of_success/prospects">2 pages and less radios</a></li>
                    <li>Provider office select: <a href="/jim/office_select/start_page">v1</a>; <a href="/jim/office_select/v2/start_page">v2</a></li>
                    <li>Statement of case: <a href="/jim/statement/statement">no upload or text error</a>; <a href="/jim/statement_split/statement_select">download and free text separate pages</a></li>
                    <li>Restrictions: checkboxes with help text <a href="/jim/restrictions/restrictions_passported">passported</a> / <a href="/jim/restrictions/restrictions_non_passported">non-passported</a>; Yes/No with free text <a href="/jim/restrictions/restrictions">non-passported</a> / <a href="/jim/restrictions/restrictions_pp">passported</a></li>
                    <li><a href="/jim/vehicles_edits/vehicles">Vehicles edits</a></li>
                  </ul>
                </div>
              </details>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    <strong>Justin's explorations</strong></span></summary>

                    <div class="panel panel-border-narrow">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Homepage for MVP<br><a href="/home/home_01">Version 01</a>
                          <br><a href="/home/home_02">Version 02</a>
                          <br><a href="/home/home_03">Version 03</a>
                          <br><a href="/home/home_04">Version 04</a>
                          <br><a href="/home/home_05">Version 05</a>
                          <br><a href="/home/home_06">Version 06</a>
                          <br><a href="/home/home_07">Version 07</a>
                          <br><a href="/home/home_08">Version 08</a></li>
                        </ul>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>Final application submit flow<br><a href="/final_app_submit/check_answers_merits_02">Version 1</a></li>
                        </ul>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>Final application to sign flow<br><a href="/apply_for_legal_aid_prototype_non_passported_v3/application_submitted">Version 1</a></li>
                        </ul>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>Categorised transactions<br><a href="/assigned_to/benefits_v1">Version 1</a><br><a href="/assigned_to/benefits_v2">Version 2</a></li>
                        </ul>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>Bank selection screen options<br><a href="apply_for_legal_aid_prototype_non_passported_v3/bank_select_01">Version 1</a><br>
                            <a href="apply_for_legal_aid_prototype_non_passported_v3/bank_select_02">Version 2</a><br>
                            <a href="apply_for_legal_aid_prototype_non_passported_v3/bank_select_03">Version 3</a><br>
                          </li>
                        </ul>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>Post MVP design explorations<br><a href="/apply_for_legal_aid_prototype_non_passported_v4/index_post_MVP">Index</a></li>
                        </ul>
                    </div>
                  </details>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    <strong>Malcolm's work</strong></span></summary>

                    <div class="panel panel-border-narrow">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Malcolm's sorting stuff: <a href="/malcolm/salary3.html" target="_blank">Sorting table page</a></li>
                        <li>Malcolm's dashboards: <a href="/malcolm/dashboard.html" target="_blank">Dashboard</a></li>
                        <li>Malcolm's alternative table layout: <a href="/malcolm/salary3grid.html" target="_blank">Grid-layout table page</a></li>

                      </ul>
                    </div>
                  </details>


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <strong>Simon's explorations</strong></span></summary>

            <div class="panel panel-border-narrow">
              <h2 class="govuk-heading-s">Delegated + substantive prototypes</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/delegated_functions/home_v1">Delegated functions V1</a><br>Separate "Start application" & "Notify" buttons (All Domestic abuse proceedings)</li>
                <li><a href="/delegated_functions/v2/home_v2">Delegated functions V2</a><br>DF notification and application 1 button, 1 flow (All Domestic abuse proceedings)</li>
              </ul>
            </div>

            <div class="panel panel-border-narrow">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/merits_flow/legal_help">Merits flow - Non-mole order</a> - Merits flow only</li>
                <li><a href="/footer/feedback">Footer - Feedback page</a></li>
                <li><a href="/footer/contact">Footer - Contact page</a></li>
                <li><a href="/proceeding_flow/dashboard">Client details & proceedings - Initial pages flow</a></li>
                <li><a href="/error_pages/page_not_found">Error page - Page not found</a></li>
                <li><a href="/capital_check_your_answers/check_answers_capital_home">Capital check your answers page</a></li>
                <li><a href="/means_pages/means_home">Means pages</a></li>
                <li><a href="/limitations/limitations">Initial limitations ideas</a></li>
              </ul>
            </div>
          </details>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <strong>Eve's work</strong></span></summary>

                <div class="panel panel-border-narrow">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Provider 'means' review <a href="/provider_means/provisional_result_v7.html" target="_blank">Summary page</a></li>
                    <li>Provider 'means' review <a href="/provider_means/incoming_transactions_list_v9.html" target="_blank">Transaction list</a></li>
                  </ul>
                </div>
              </details>


        </div>
      </div>


      {% endblock %}
