{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/checkboxes/macro.njk"    import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"    import govukDateInput %}
{% from "govuk/components/details/macro.njk"       import govukDetails %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"   import govukFileUpload %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/label/macro.njk"         import govukLabel %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"     import govukSkipLink %}
{% from "govuk/components/table/macro.njk"         import govukTable %}
{% from "govuk/components/tag/macro.njk"           import govukTag %}
{% from "govuk/components/textarea/macro.njk"      import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"  import govukWarningText %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{%- from "moj/components/header/macro.njk" import mojHeader -%}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% set useValidation = false %}


{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
{{ mojHeader({
  organisationLabel: {
    text: "Legal aid agency",
    href: "#"
  },
  navigation: {
    label: "Account navigation",
    items: [{
      text: "Account name",
      href: "/sitewide_links/profile",
      active: true
    }, {
      text: "Sign out",
      href: "/access_and_sign_in/start_page"
    }]
  }
}) }}
{% block serviceNavigation %}

    {{ govukServiceNavigation({
      serviceName: "Service name",
      serviceUrl: "#"
    }) }}

  {% endblock %}
{% endblock %}


{{ govukServiceNavigation({
  navigation: [
    {
      href: "#",
      text: "Navigation item 1"
    },
    {
      href: "#",
      text: "Navigation item 2",
      active: true
    },
    {
      href: "#",
      text: "Navigation item 3"
    }
  ]
}) }}


{% if useAutoStoreData %}
  {% block footer %}
  {{ govukFooter({
    meta: {
      items: [
      {
        href: "sitewide_links/contact_us",
        text: "Contact"
      },
      {
        href: "sitewide_links/feedback",
        text: "Feedback"
      },
      {
        href: "sitewide_links/cookies",
        text: "Cookies"
      },
      {
        href: "sitewide_links/privacy",
        text: "Privacy policy"
      },
      {
        href: "sitewide_links/accessibility_statement",
        text: "Accessibility statement"
      },
      {
        href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
        text: "Terms and conditions"
      },
      {
        href: "https://mojdigital.blog.gov.uk/",
        text: "MOJ Digital Services"
      },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        }
      ]
    }
  }) }}
{% endblock %}
{% endif %}


{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
