{% extends "layout.html" %}
{% from "breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
  Apply for legal aid
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apply for legal aid</h1>

        <p class="govuk-body">Use this service to apply for civil legal aid for:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>public family law</li>
            <li>domestic violence or abuse</li>
          </ul>

        <p class="govuk-body">Use CCMS for Section 8 orders, the Special Children’s Act, and all other civil and criminal legal aid applications.</p>

        <h2 class="govuk-heading-m">Who can use this service?</h2>

        <p class="govuk-body">You can only use this service if your client:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>has a National Insurance number</li>
          <li>uses online banking</li>
          <li>is single, does not share an income, or their partner is the opponent in the case</li>
        </ul>

        <p class="govuk-body">You cannot upload documents using this service. Use CCMS if you want to submit evidence to support your case.</p>

        <a href="/sign_in" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start
        </a>

<!--Not sure if Welsh is needed for provider service

<p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>
-->

      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="https://www.gov.uk/legal-aid">
                Legal aid
              </a>
              </li>
              <li>
                <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>
    </div>

{% endblock %}



{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
