{% extends "layout.html" %}
{% from "govuk/components/breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
  Apply for legal aid - Citizen start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "PROTOTYPE"
    },
    html: 'This is a prototype. Some things may not work as expected.'
  }) }}


{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Continue Sam Doe’s financial assessment</h1>

        <p class="govuk-body-l">Your client has shared their financial information. You need to do the following:</p>

        <h3 class="govuk-heading-m">1. Review their employment income</h3>

        <p class="govuk-body">We'll show you the information HMRC shared with us.</p>

        <h3 class="govuk-heading-m">2. Sort their bank transactions into categories</h3>

<p class="govuk-body">Your client told us the types of income they receive and payments they make. View their bank statements and add transactions to these categories.</p>

<h3 class="govuk-heading-m">3. Tell us about their dependants</h3>

<p class="govuk-body">Provide details of your client's dependants (if they have any).</p>

<h3 class="govuk-heading-m">4. Tell us about their capital</h3>

<p class="govuk-body">Provide details of your client's savings, investments and other assets.</p>

<br>

<a class="govuk-button" href="review_income" role="button">
  Continue
</a>

</div>


      </div>

    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/PROTOTYPE-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
