{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Check your answers
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "same_address"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    <h2 class="govuk-heading-m">
      Client details
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          First name
        </dt>
        <dd class="govuk-summary-list__value">
          Sam
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="client_details">
            Change <span class="govuk-visually-hidden">first name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last name
        </dt>
        <dd class="govuk-summary-list__value">
          Doe
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="client_details">
            Change <span class="govuk-visually-hidden">last name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          1 January 1980
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="client_details">
            Change <span class="govuk-visually-hidden">dob</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Correspondence address
        </dt>
        <dd class="govuk-summary-list__value">
          1 Main Street<br/>London<br/>SE15 5NP
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="postcode_finder">
            Change <span class="govuk-visually-hidden">correspondance address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          QQ123456C
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="client_details">
            Change <span class="govuk-visually-hidden">national insurance number</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does your client have a partner?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="../client_details/client_has_partner">
            Change <span class="govuk-visually-hidden">partner answer</span>
          </a>
        </dd>
      </div>
    </dl>
    <br>

    <!-- partner details -->

    <h2 class="govuk-heading-m">
      Partner's details
    </h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Partner first name
        </dt>
        <dd class="govuk-summary-list__value">
          Sally
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="partner_details">
            Change <span class="govuk-visually-hidden">first name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Partner last name
        </dt>
        <dd class="govuk-summary-list__value">
          Doe
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="partner_details">
            Change <span class="govuk-visually-hidden">last name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Partner date of birth
        </dt>
        <dd class="govuk-summary-list__value">
        3 March 1990
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="partner_details">
            Change <span class="govuk-visually-hidden">partner date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Partner National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          QQ123456C
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="partner_details">
            Change <span class="govuk-visually-hidden">national insurance number</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Correspondence address
        </dt>
        <dd class="govuk-summary-list__value">
        1 Main Street<br/>London<br/>SE15 5NP
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="same_address">
            Change <span class="govuk-visually-hidden">partner correspondence address</span>
          </a>
        </dd>
      </div>
    </dl>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Proceedings</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a class="govuk-link" style="float:right;" href="other_3">Change</a></p>
      </div>
    </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Proceeding 1
        </dt>
        <dd class="govuk-summary-list__value">
          Non-molestation order
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Proceeding 2
      </dt>
      <dd class="govuk-summary-list__value">
        Child arrangements order (contact)
      </dd>
      <dd class="govuk-summary-list__actions">
    </dd>
  </div>
</dl>
    <br>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Non-molestation order</h2>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>

   <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Client role
      </dt>
      <dd class="govuk-summary-list__value">
        Applicant
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" style="float:right;" href="client_involvement_type_Non_Mol">Change</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Delegated functions
      </dt>
      <dd class="govuk-summary-list__value">
        3 December 2022
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" style="float:right;" href="delegated_functions_Non_Mol">Change</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Emergency level of service
      </dt>
      <dd class="govuk-summary-list__value">
        Full representation
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" style="float:right;" href="emergency_default_Non_Mol">Change</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Emergency scope limits
      </dt>
      <dd class="govuk-summary-list__value">
        Hearing<br/>
        Date: 12/2/23
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" style="float:right;" href="#">Change</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Substantive level of service
      </dt>
      <dd class="govuk-summary-list__value">
        Full representation
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" style="float:right;" href="substantive_default_Non_Mol">Change</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Substantive scope limits
      </dt>
      <dd class="govuk-summary-list__value">
        Injunction FLA-to-final hearing
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" style="float:right;" href="#">Change</a>
      </dd>
    </div>
  </dl>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Child arrangements order (contact)</h2>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
  </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Client role
        </dt>
        <dd class="govuk-summary-list__value">
          Applicant
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" style="float:right;" href="client_involvement_type">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Delegated functions
        </dt>
        <dd class="govuk-summary-list__value">
          3 December 2022
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" style="float:right;" href="delegated_functions">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Emergency level of service
        </dt>
        <dd class="govuk-summary-list__value">
          Family help (higher)
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" style="float:right;" href="emergency_default">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Emergency scope limits
        </dt>
        <dd class="govuk-summary-list__value">
          Interim order including return date
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" style="float:right;" href="emergency_LOS_FHH_scope">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Substantive level of service
        </dt>
        <dd class="govuk-summary-list__value">
          Family help (higher)
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" style="float:right;" href="substantive_default">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Substantive scope limits
        </dt>
        <dd class="govuk-summary-list__value">
          FHH Children
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" style="float:right;" href="substantive_LOS_FR_scope">Change</a>
        </dd>
      </div>
    </dl>
    <br>

    <br>

    <h2 class="govuk-heading-m">Emergency cost limit<span><a class="govuk-link govuk-body" style="float:right;" href="limitations">Change</a></span></h2>

     <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Higher cost limit requested
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Amount requested
        </dt>
        <dd class="govuk-summary-list__value">
          £4,000
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reason
        </dt>
        <dd class="govuk-summary-list__value">
          Reason goes here
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>
  </div>
</div>
  <br/>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m">What happens next</h2>

  <p class="govuk-body">We’ll use your client’s name, date of birth and National Insurance number to check their benefit status with the Department for Work and Pensions (DWP).</p>
  </div>
</div>

  <br>
  <a class="govuk-button" href="../dwp_check/dwp_blue_box" role="button">
    Save and continue
  </a>

  <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
    Save and come back later
  </a>

{% endblock %}
