{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
Apply for legal aid - Types of income
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your client's and their partner's details
    </h1>

    <h2 class="govuk-heading-m">
      Client details
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Sam Doe
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="client_details">
            Change <span class="govuk-visually-hidden">first name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          1 January 1980
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="client_details">
            Change <span class="govuk-visually-hidden">last name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          QQ 12 34 56 C
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="client_details">
            Change <span class="govuk-visually-hidden">dob</span>
          </a>
        </dd>
      </div>
    </dl>
    <br>

    <!-- partner details -->

    <h2 class="govuk-heading-m">
      Partner's details
    </h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Sally Doe
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="client_details">
            Change <span class="govuk-visually-hidden">first name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          3 March 1990
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="client_details">
            Change <span class="govuk-visually-hidden">last name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          PP 22 44 55 C
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="client_details">
            Change <span class="govuk-visually-hidden">dob</span>
          </a>
        </dd>
      </div>
    </dl>


  </div>
</div>


  <br>
  <a class="govuk-button" href="passporting_benefit_with_partner" role="button">
    Save and continue
  </a>

  <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
    Save and come back later
  </a>

{% endblock %}


<!--summary card css-->
