{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}
Apply for legal aid - Outgoings summary
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "dependants"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <!--  <p class="gov-body">
    <a href="income">Go to income</a>
    </p> -->
    <h1 class="govuk-heading-xl"><!-- Regular payments you make -->Your client's outgoings</h1>


    <p class="gov-body">
     Your client told us they have the following outgoings. You need to:
   </p>

   <ul class="govuk-list govuk-list--bullet">
   <li>view your client's bank statements</li>
   <li>add transactions to the relevant category</li>
   </ul>

   <h1 class="govuk-heading-l">Add transactions to each category</h1>

      <ol class="app-task-list">

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Childcare costs
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="govuk-body" href="childcare" aria-describedby="eligibility-completed">
                View statements and add transactions
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Maintenance payments
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="govuk-body" href="maintenance" aria-describedby="eligibility-completed">
                View statements and add transactions
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Payments towards legal aid in a criminal case
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="govuk-body" href="legal_aid" aria-describedby="eligibility-completed">
                View statements and add transactions
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"> <img src="/public/images/plus_icon.svg"> </span> <a class="govuk-body" href="types_of_outgoing_provider" aria-describedby="eligibility-completed">
              Add or remove an outgoings category
            </a>
          </h2>
        </li>
      </ol>

      <hr>

      <div class="govuk-!-padding-bottom-4"></div>

      <h2 class="govuk-heading-l">Other outgoings</h2>

      <p class="gov-body">
       Your client also told us they made the following payments. These will be included in the financial eligibility calculation.
     </p>

      <h2 class="govuk-heading-m">Cash payments: housing costs</h2>


      <table class="govuk-table" style="margin-bottom:0px;">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Calendar month</th>
            <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col">Amount</th>

          </tr>
        </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">6 Dec 2020 to 6 Jan 2021</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£500.00</td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">5 Nov to 5 Dec 2020</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£500.00</td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">4 Oct to 4 Nov 2020</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£500.00</td>

        </tr>
        </tbody>
        </table>


            <div class="govuk-!-padding-bottom-6"></div>

        <a href="#" role="button" class="govuk-button">
          Save and continue
        </a>

        <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
          Save and come back later
        </a>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
      {{ govukFooter({
        meta: {
            items: [
              {
                href: "#",
                text: "Contact"
              },
              {
                href: "#",
                text: "Feedback"
              },
              {
                href: "https://www.gov.uk/help/cookies",
                text: "Cookies"
              },
              {
                href: "https://www.gov.uk/government/publications/laa-online-portal-help-and-information",
                text: "Terms and conditions"
              },
              {
                href: "https://mojdigital.blog.gov.uk/",
                text: "MOJ Digital Services"
              },
              {
                href: "/prototype-admin/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }}
      {% endblock %}
